[2017-12-05 13:05] AlexSaenen opened #4 "Documentation Form"
@couds  Hi there!

Could you give an example on how we could use your Form and Input to input data and submit ?
As of this point your Storybook doesn't work when we enter data into the fields. When checking the code from your form.story.js it seems you make a High Order Component and wrap it around the Inputs to change their internal state when edited, is this how we should implement it or is it a

[2017-12-05 13:45] AlexSaenen commented on #4
The onChange seems to be working, sorry for the issue, however there is something I'd like to point out

https://reactjs.org/docs/forms.html#handling-multiple-inputs

If we can add the name field to an input, we are able to handle all inputs like in their example, in your code it seems you don't transfer that prop, do you have another example of how to handle multiple inputs in a form?

[2017-12-05 15:19] couds commented on #4
Hi @alexSaenen. Thanks for your comment. Im working on improving the docs and also adding the the ability to pass down other props.

If you need it now you can create a PR if you can wait I think the new version will be available next week.

Greets!

[2017-12-05 16:27] AlexSaenen commented on #4
Thanks for the quick answer @couds.
I am only writing a UX POC with the framework and I can definitely wait until you find the cleanest approach to make the needed edits.

I wish you a great end of the year and good luck !

[2017-12-05 16:43] #4 closed

[2018-01-13 01:03] rickysullivan opened #17 "Set navbar item = active"
I'm trying to set a Navbar Item's `active` prop to true when it is clicked on.

[2018-01-13 10:38] couds commented on #17
Hi @rickysullivan  you need to handle the state on your component something like this

[code]

I didn't test it but I think you got the idea =).

Let me know if this works for you.

[2018-01-14 01:22] rickysullivan commented on #17
Works. Thanks for that.

[2018-01-14 01:22] #17 closed

[2018-02-16 05:52] RobLoach opened #18 "Heading sizes"
https://couds.github.io/react-bulma-components/?selectedKind=Heading&selectedStory=Default&full=0&down=0&left=1&panelRight=0

[code]

Ends up with two `h1`s rather than one `h1` and one `h2`.

[2018-02-16 06:30] couds commented on #18
Hello! The size of the heading works to add the className righr now. To change the html element you need to pass the renderAs prop with the name of the html attrbute or another React Class/function like this

[code]

In this example the first heading will render as whatever render the `OtherComponent` and the second one as an `h2` element.

I hope this solve yoir issue. If you have any other quest

[2018-02-18 03:43] RobLoach commented on #18
Good to know! Added some changes into the storybook over at https://github.com/couds/react-bulma-components/pull/19 about `renderAs`... Pretty awesome! Thanks a lot.

[2018-02-19 06:31] couds commented on #18
Thanks. I will close this issue then.

[2018-02-19 06:31] #18 closed

[2018-03-19 07:19] navotaras opened #20 "Unable to Execute Simple commands"
Error Message:
Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Check the render method of App.

`import React, { Component } from "react";
import {Button, Section ,  Box,  Dropdown, D

[2018-03-19 07:31] navotaras commented on #20
[https://codesandbox.io/s/6yvjwwm4qk](url)

[2018-03-19 11:41] couds commented on #20
Hi @navotaras  Thanks for the report

After checking the code on codesanbox I saw why its not working, The `DropdownItem` in reality its `Dropdown.Item` same for the separator.

I will update the documentation of the storybook to avoid this to happen

[code]

Let me know if this solve your issue.

Thanks

[2018-03-19 12:22] navotaras commented on #20
Thanks John. There are awhole host of controls that have this issue.

On Mon, Mar 19, 2018 at 7:41 AM John <notifications@github.com> wrote:

--
Naveen Balawat
+732-306-6775

[2018-03-19 13:36] #20 closed

[2018-03-19 13:37] navotaras opened #21 "Warning on Using some Bulma Controls"
React does not recognize the `renderAs` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `renderas` instead. If you accidentally passed it from a parent component, remove it from the DOM element.
    in figure (created by Image)
    in Image (at App.js:33)
    in figure (created by MediaItem)
    in MediaItem (at App.js:32)
    i

[2018-03-19 15:22] couds commented on #21
Hi @navotaras Thanks for your report, seems to be an error on the Storybook file for the Media Element. I will update the storybook to remove this warning. Can you confirm that this is happening to you in the Media example of the storybook?

[2018-03-19 15:23] navotaras commented on #21
Yes it does.

On Mon, Mar 19, 2018 at 11:22 AM, John <notifications@github.com> wrote:

--

*Naveen Balawat*
Chairman & CTO
Otaras, Inc.
7 <(908)%20578-0580>32-306-6775 (cell)

 [image: New logo]

[2018-03-19 15:42] #21 closed

[2018-03-29 18:24] navotaras opened #23 "Bulma Extensions"
Hello - pls let us know if you are planning to consider adding some of the cool features of bulma-extensions.

https://github.com/Wikiki/bulma-extensions

Thanks,
Naveen

[2018-03-29 18:33] couds commented on #23
Hello! Maybe but I need to check which one can I integrate. Do you have a especific request?

[2018-03-30 16:06] couds commented on #23
After considering I dont think I will add the extensions to this module. Maybe later I will create another module for the extensions but I will not add any extension to the main module.

Thanks

[2018-03-30 16:06] #23 closed

[2018-04-10 18:39] dgilland opened #24 ""icon" prop required for Icon component but not used with children"
In `Icon` component, when `children` are given, the `icon` prop isn't used but `icon` prop is marked as required:

- https://github.com/couds/react-bulma-components/blob/84f8240f4a129bc6d6a73a905e134bff2a6d2f48/src/components/icon/icon.js#L12
- https://github.com/couds/react-bulma-components/blob/84f8240f4a129bc6d6a73a905e134bff2a6d2f48/src/components/icon/icon.js#L50

Personally, I'm using `react

[2018-04-12 06:31] couds commented on #24
Hi. thanks for reporting this.

I will change the icon prop to as an optional prop in the next release.

[2018-04-13 21:39] dgilland commented on #24
Sweet! Thanks a lot!

Awesome library btw! :+1:

[2018-04-27 15:11] couds commented on #24
@dgilland this should be fixed now in version 1.4.x(Commit a5c99b9664c45c29415e0d3eabc6ef4bde95d7ba)

[2018-04-27 15:11] #24 closed

[2018-04-30 12:47] Michael-Reich opened #25 "Updated to newest React and get this error"
I went from 15 to v16 the latest version and I get this error:

[code]

[2018-04-30 14:12] couds commented on #25
Hi @Michael-Reich

For now this is intended. the Navbar component its using the new static lifecycle method `getDerivedStateFromProps` but I kept the `componentWillReceiveProps` on this release because will be a breaking change. on the next major release I will remove the `componentWillReceiveProps` method and change the dependency of react to > 16.3

[2018-04-30 14:17] Michael-Reich commented on #25
Ah ok so I can ignore it for now?

Also, the Burger Menu isn't working as expected, I used the common setup from the doc. But if I click on it nothing happens.

[2018-05-10 05:15] couds commented on #25
Clossing this due inactivity

[2018-05-10 05:15] #25 closed

[2018-05-11 13:17] DimitarChristoff opened #27 "Form.Label htmlFor default value needs to be removed"
https://github.com/couds/react-bulma-components/blob/master/src/components/form/components/label.js#L19

the problem is in this:

[code]

this produces `<label class="label" for> ...` which means clicking on the Foo text does not give focus to the input. workaround is `<Form.Label htmlFor={null}>` but it's not nice.

happy to send a PR updating it and also adding the case to the storybook.

[2018-05-12 17:51] darkowic opened #28 "Missing navbar start and end components"

[2018-05-12 19:04] darkowic commented on #28
Oh ok, I see :) Thank you!

[2018-05-12 19:04] #28 closed

[2018-05-14 15:10] DimitarChristoff opened #29 "Heading classNames mess"
Using `<Heading>` produces a `<h1 class="title subtitle">` - the assertion is to check if heading is set and if not, adds class subtitle always.

https://github.com/couds/react-bulma-components/blob/master/src/components/heading/heading.js#L45-L46

adding `heading={true}` removes subtitle but also removes class title.

aim to me is to get `<h1 class="title is-1">` by default - otherwise, if you ha

[2018-05-15 15:30] #27 closed

[2018-05-15 15:30] #29 closed

[2018-05-25 14:42] verheyenkoen opened #34 "Section component rendered as div element instead of section"
According to the Bulma docs, the section component should be written as:

[code]

Your `Section` component renders a `div`element instead:

[code]

[2018-05-25 14:55] verheyenkoen opened #35 "Heading component without attributes renders as subtitle"
This code:

[code]

... renders this HTML:

[code]

... which basically renders a subtitle. I guess this should not render the `subtitle` class.

[2018-05-27 02:48] threeid commented on #34
@verheyenkoen , you can add `renderAs='section'` to `Section` component, according to
[code]

[2018-05-27 03:05] threeid commented on #35
Yeah, here is the link https://codesandbox.io/s/84vnzz1vo8
<img width="1224" alt="screen shot 2018-05-27 at 9 57 21 am" src="https://user-images.githubusercontent.com/37827220/40582078-7251d9e6-6194-11e8-9744-5e835a1f5c17.png">

It is weird! `subtitle: false` in `defaultProps`

[2018-05-27 11:41] verheyenkoen commented on #35
Turns out there already was a PR for this: #31

[2018-05-27 11:57] verheyenkoen opened #36 "Example list of icons"
Is there a list of available icons in the `react-bulma-componentsregular` font?

[2018-05-28 06:32] couds commented on #35
Hello, Sorry forr the delay, as @verheyenkoen said this was fixed on #31.

I'm doing a release now with this a other 2 fixes.

Thanks for using this library

[2018-05-28 06:32] #35 closed

[2018-05-28 06:35] couds commented on #36
Helli @verheyenkoen for now the font only have the 2 icons showed on the storybook, and I will probable leave only angle-down because its used by the dropdown and remove the other icon

[2018-05-28 06:45] couds commented on #34
Fixed on release v1.4.5 [Release Notes](https://github.com/couds/react-bulma-components/releases/tag/v1.4.5)

[2018-05-28 06:45] #34 closed

[2018-06-02 14:47] jdmg94 opened #37 "No Control, Field, and other components included in the Storybook"
The Storybook depicts some components that don't exist within this repo, they're really simple components like Field, Control, Label and others that are depicted mainly in the form examples.
If you try to follow the documentation as is it won't work because the aforementioned components just don't exist within the repo.

![screen shot 2018-06-02 at 8 40 37 am](https://user-images.githubusercontent

[2018-06-02 18:46] couds commented on #37
Hi @jdmg94 all this component are bundled inside the Form component and can be imported as named import [here](https://github.com/couds/react-bulma-components/blob/master/src/components/form/form.story.js) you can see the source code of the storybook

[2018-06-02 19:58] rotexhawk opened #38 "Semicolon Crashes Webpack's Sass Loader"
Sass loader doesn't like it when you switch between syntax in the same file. Also for consistency it would be best to remove the semicolons here.

https://github.com/couds/react-bulma-components/blob/master/src/components/heading/heading.sass#L1
https://github.com/couds/react-bulma-components/blob/master/src/components/heading/heading.sass#L2

[2018-06-03 04:39] #36 closed

[2018-06-03 04:48] jdmg94 commented on #37
Thanks for the clarification @couds  I see the components now

[2018-06-03 04:48] #37 closed

[2018-06-04 10:10] couds commented on #38
Hi @rotexhawk you are right, I will fix this on the next release to keep the sass consistent. however the webpack sass loader should work, can you post the configuration you are using?

[2018-06-04 10:14] couds commented on #38
Fixed on eb6d991

[2018-06-04 10:14] #38 closed

[2018-06-05 08:34] Max-Zviagintsev opened #39 "Warning: Unsafe legacy lifecycles"
Getting this error in a console:

[2018-06-05 08:48] couds commented on #39
Hi @Max-Zviagintsev Yes for now this is intended (for now), see https://github.com/couds/react-bulma-components/issues/25

[2018-06-05 08:48] #39 closed

[2018-06-11 16:59] rotexhawk opened #41 "Setting Font in _variable.sass has no affect"
I can set colors and other changes in _variable.sass but changing the font doesn't affect anything.

[code]

[2018-06-11 19:24] couds commented on #41
Hi @RobLoach  how are you importing the components?

if you are importing the components one by one try by importing the index.sass (`@import '~react-bulma-components/lib/index.sass';`) to add the generic bulma styles

[2018-06-11 19:37] rotexhawk commented on #41
I am importing them one by one and I am also importing `@import '~react-bulma-components/lib/index.sass';` that's why the color changes work. I also checked the bundle and didn't find `font-family` anywhere.

[2018-06-12 07:33] couds commented on #41
Hi setup a example project https://github.com/couds/react-bulma-components-example and seem to be working, can you put here a example or you code?

[2018-06-16 17:13] koddr opened #43 "How to use it with React FontAwesome component?"
Hello.

I have no idea what is the `rbc rbc-*` icons do you use into React Bulma component, for example, [Dropdown](https://couds.github.io/react-bulma-components/?selectedKind=Dropdown&selectedStory=Default&full=0&addons=0&stories=1&panelRight=0) component? But...

Code is:

[code]

HTML is:

[code]

And output is:

<img width="100%" alt="screen shot 2018-06-16 at 20 03 05" src="https://user-imag

[2018-06-17 07:32] couds commented on #43
Hi @koddr Can you show me your webpack configuration and how are you importing the Dropdown component? (I was not able to replicate the missing icon).

About the icon set I only include the angle-down there are no icons inside the library that mean to be used externally, the idea of the Icon component its to be composed to generate the Icons you need your your project and avoid to be attached to a

[2018-06-17 09:09] koddr commented on #43
@couds OMG, I try to understand "what's `rbc-*`", but never look to it by this side :)

I use default `create-react-app` for show this code.

[2018-06-17 11:09] couds commented on #43
Hello. Sure I will try to write something this night. Meanwhile You can take a look to the Icon folder inside src/components.

The main idea it's to wrap the Icon component (in this case the FA icon we think the Icon that comes in RBC. Like bulma.io my component only create the space for th icon instead of render the actual icon.

Let my know if this help

[2018-06-18 14:49] Arpels opened #44 "Warning: validateDOMNesting(...): <a> cannot appear as a descendant of <a>."
Hello, I don't know if this has been identified yet, but when you put a button inside an Navbar.Item, this error pops-up.

[code]
Regards,

[2018-06-18 16:47] couds commented on #44
Hi @Arpels  thanks for reporting this.

If you want to add a button inside a Navbar.Item I recommend to change the the Navbar.Item to a div (`<Navbar.Item renderAs="div" ...`) bulma.io use div for this kind of items in their docs. https://bulma.io/documentation/components/navbar/#navbar-item

Another possible solution will be change the button from `a` element to a `button` (you can do it also usi

[2018-06-18 16:48] LaRuaNa commented on #44
Hi @Arpels,
the problem is both [Navbar.Item](https://couds.github.io/react-bulma-components/?selectedKind=Navbar&selectedStory=Default&full=0&addons=0&stories=1&panelRight=0) and [Button](https://couds.github.io/react-bulma-components/?selectedKind=Button&selectedStory=By%20Colors&full=0&addons=0&stories=1&panelRight=0) are rendered as `a` tag. As a workaround you can use the renderAs prop and re

[2018-06-18 23:51] jdmg94 opened #45 "auto-close mobile menu on Navbar.Item click or location change"
the requested change is simple, pass toggleMenu to the Item elements in the render method of Navbar by adding the following lines.
[code]

then give us a boolean prop like `autoclose` or `closeable` on Navbar.Item which toggles the menu on the click event before its actual callback if any

[2018-06-21 13:16] koddr commented on #43
@couds not yet, but hope to wait for update in your docs 👍

[2018-06-21 13:35] LaRuaNa commented on #43
Honestly i also didn't understand exactly how to use Icon component but this was my solution:

[code]

[2018-06-21 17:01] couds commented on #43
That's it. The Icon component only prepare the space for the icon

[2018-06-21 17:33] LaRuaNa commented on #43
Ah i see. Then can update the docs that way

[2018-06-21 21:44] bramski opened #48 "Cannot Import Form Components"
Code:

[code]

Error:
![screen shot 2018-06-21 at 2 42 56 pm](https://user-images.githubusercontent.com/421781/41747053-874cbcd6-7561-11e8-9563-b2aab149fe25.png)

Version:
1.4.6

[2018-06-22 12:37] couds commented on #48
Hi @bramski.

The Field Component its not on the root of export, all the Form components are inside the Form Namespace, can you change the code to look like this?

[code]

Let me know if it works,

Thanks

[2018-06-22 12:46] couds commented on #45
Actually I was thinking on removing this behavior, and make the navbar a controlled component (that receive the active prop).

[2018-06-22 14:04] LaRuaNa opened #49 "upath@1.0.4: The engine "node" is incompatible with this module"
Hi,
getting following error while installing dependencies. Problem is: a dependency of nodemon isn't compatible with node `v10.1.0.`

PR is on the way :]

[2018-06-22 14:55] capnrotbart commented on #48
I had exactly the same problem, your suggestion solved it for me. *Thanks!*

[2018-06-22 15:08] #49 closed

[2018-06-23 01:17] rotexhawk commented on #48
I think importing components this way will significantly increase the bundle size as it will import everything. I am not sure if webpack's treeshaking can take care of that but at the least it will increase compile time during development.

[2018-06-23 01:19] rotexhawk commented on #38
@couds thank you for fixing that. Yeah I am not sure what's going on. I am using react-create-app and here is my webpack setup. Sass Loader is not working properly.

`'use strict';

const autoprefixer = require('autoprefixer');
const path = require('path');
const webpack = require('webpack');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const CaseSensitivePathsPlugin = require('case-s

[2018-06-23 01:34] rotexhawk commented on #41
@couds Thank you for all the help. Yes it is still happening for me. I am using react-create-app and sass loader.

[code]

[2018-06-23 09:32] koddr commented on #43
Okay, it's very helpful 👍 When you updates Storybook?

[2018-06-23 09:48] LaRuaNa commented on #43
It's updated already, probably @couds needs to deploy it :)

[2018-06-23 11:40] couds commented on #48
I recommend if possible to import each component like this

`import Columns from 'react-bulma-components/lib/components/columns';`

this will reduce the bundle size but you will need to add some configuration to your webpack as described on the Readme

[2018-06-23 11:48] couds commented on #43
Done =)

[2018-06-23 11:48] #43 closed

[2018-06-23 12:03] couds commented on #41
@rotexhawk can you setup a example repo? I'm not familiar with react-create-app.

[2018-06-23 17:30] couds commented on #48
Closing this.

[2018-06-23 17:30] #48 closed

[2018-06-23 21:24] koddr opened #52 "Add button `is-rounded` class (from Bulma)"
Hello @couds once more :)

Can you please add Bulma's `is-rounded` class to buttons?
It's feature since `0.6.2` version: https://bulma.io/documentation/elements/button/#styles

Thanks a lot!

[2018-06-23 22:06] LaRuaNa commented on #52
Hi @koddr, instant fix on the way :)

[2018-06-24 04:41] #52 closed

[2018-06-24 07:18] koddr commented on #52
Wow, guys! You're best 👍

[2018-06-25 08:16] koddr opened #55 "How to use Button with Link from react-router-dom?"
Hello @couds and team :)

It's not allow in documentation, but still huge important thing — how to use `Button` component from `react-bulma-components` with `Link` from `react-router-dom`?

For example:

[code]

And generated html code is:

[code]

I mean one `<a>` tag into another `<a>` tag — it's strange and not valid. Okay, I can use `renderAs` props for `Button` to change tag to, for example,

[2018-06-25 10:11] LaRuaNa commented on #55
Hi @koddr,
actually that should work that way. Maybe try to render as button. Honestly i dont understand the Warning at Navigation.js:19. There is no `renderAs ` prop and it should be as default `a`
Here an example of a project of mine:
[code]

[2018-06-25 13:43] LaRuaNa commented on #55
Im not sure if i understand you completely @koddr. Check the docs [here](https://couds.github.io/react-bulma-components/?selectedKind=Form&selectedStory=Default&full=0&addons=0&stories=1&panelRight=0). The Form componen might help you

[2018-06-26 04:13] jdmg94 commented on #55
@koddr you can pass the Link you imported from react-router-dom directly to the renderAs prop in the Button component, the props specific for the link will be passed over.

`<Button to="/somewhere" renderAs={Link}>My button linked to react-router-dom</Button>`

[2018-06-26 07:41] koddr commented on #55
@jdmg94 OMG, it's great solution! Thanks.

Would be nice to push this info to `react-bulma-components` docs, btw.

[2018-07-01 11:09] arnaubt opened #57 "Form example throws 'not defined' errors"
I was trying the example [here](https://couds.github.io/react-bulma-components/?selectedKind=Form&selectedStory=Default&full=0&addons=0&stories=1&panelRight=0) by importing the form component like that:

`import { Form } from 'react-bulma-components';`

But I'm getting a long list of errors from react:

[code]
Trying to import each component doesn't seem to be working either. Any idea what I'm mis

[2018-07-01 14:05] koddr opened #58 "Add Bulma's .is-mobile class"
Hello @couds and team.

I use this `.is-mobile` class for some UI elements, but don't see this into `react-bulma-components` :(
Can you please add this props?

This is official docs: https://bulma.io/documentation/columns/responsiveness/#mobile-columns

You make me happy every time I code via Bulma & React, btw 👍
Thanks!

[2018-07-01 14:13] koddr commented on #57
Hi @arnaubt

Usually, I get from `Form` component only what I want now (on current element of my React app).

Try to use import with decomposition:

[code]

It good practice and save huge Kb of bundle.

[2018-07-01 14:14] #55 closed

[2018-07-02 01:18] jdmg94 commented on #58
use the _breakpoint_ prop i.e:  `<Columns breakpoint="mobile" />`

[2018-07-02 06:07] #58 closed

[2018-07-02 09:04] koddr opened #60 "[README] Make review for difference between RBC and React-Bulma package"
Hello @couds and team!

I research many React packages, who makes possible to use Bulma CSS Framework into React Components and found interesting thing: still alive and supported only two repos:

1. https://github.com/kulakowka/react-bulma (too awesome and older repo)
2. https://github.com/couds/react-bulma-components (our repo)

That's all. [Re-Bulma](https://github.com/bokuweb/re-bulma) is no lo

[2018-07-03 05:56] couds commented on #57
Hello, the Form components are inside the Form "namespace" to use them you import the Form Element and to use it you do `Form.Field` for the Field component and so on.

I hope this help you.

Let me know

[2018-07-03 07:40] couds commented on #41
closing this, I was not able to replicate it. @rotexhawk if you still have this issue please setup a repo where this happen to see how to solve it. Thanks

[2018-07-03 07:40] #41 closed

[2018-07-03 08:28] couds commented on #44
solved with d79a28b767364d58d2175aa575603aaf1f05a7e4 (Now buttons are rendered as buttons instead of anchors)

[2018-07-03 08:28] #44 closed

[2018-07-03 10:18] koddr opened #61 "Support TypeScript?"
Hello @couds and team.

TypeScript is here and covered React.
I think, `react-bulma-components` need to add support of TS as soon as possible.

I'm not sure, but this is real "killer feature", because other React+Bulma repos doesn't have TS out of the box. We're may take this and get many stars and users for free!

I'm just learning TypeScript, but I see profit with this solution now.
Thanks!

[2018-07-03 10:28] couds commented on #61
Hi @koddr I'm not a fan a TS but if the community want to add it I will not oppose.

What will be the benefits of adding TS? if we already have the Prop-types of the components?

[2018-07-03 10:54] koddr commented on #61
@couds may I ask, what do you use? Flow?

Add TS support — it's about more support for tools, which community use right now and future.

For example, I start new frontend project via `create-react-app --scripts-version=react-scripts-ts` and want to use `react-bulma-components` to it... yes, all works great, but if I want to write code with TypeScript — I need to components, like `MyComponent.tsx`

[2018-07-04 14:18] couds commented on #61
Hi @koddr I use plain JS, XD.

About TS, I you want can you create a .d.ts file with the declarations? (I will not change the library to ts but if I understood correctly we can add a .d.ts file with the type declarations, right?

[2018-07-04 14:21] couds commented on #45
Hi @jdmg94 For the next major release (you can check the branch `next` this behavior will be removed and navbar will receive a new prop `active` which you can control. (see d4b62d0327d6d99b55e029dbc2f98662dbdbbf56)

[2018-07-04 14:21] #45 closed

[2018-07-04 14:22] couds commented on #57
Hi @arnaubt For the next major release we will have a better documentation (the storybook will include the  code of the story that you could directly use) =)

You can follow the branch next to see the changes.

[2018-07-04 14:22] #57 closed

[2018-07-04 17:46] arnaubt commented on #57
Many thanks for the responses! Waiting for that update.

[2018-07-13 10:59] fibo commented on #61
@koddr if you are interested I am writing a set of React Bulma components using TypeScript https://github.com/fibo/trunx

[2018-07-16 20:58] Max-Zviagintsev opened #64 "Documentation for Breadcrumb doesn't work for me"
When I copy this example from the documentation, React fails to compile and points to extra curly braces before 'name' parameter.

`<Breadcrumb items={[{{name: "Storybook", url: "#1"}}, {{name: "Breadcrumb", url: "#2"}}, {{name: "Breadcrumb Types", url: "#3", active: {true}}}]} />`

If I correct it, React says that 'true' is a reserved word and throws another error.
So, the code that works for me

[2018-07-17 12:01] Max-Zviagintsev commented on #64
OK, I'll take a look.
Your library is so much cleaner than Reactstrap and I like it even more than Semantic-UI-React for many reasons.
Thanks for an excellent work, looking forward to ver. 2.0!

[2018-07-18 06:20] #64 closed

[2018-07-18 18:23] gregorskii opened #65 "React Warning"
Hi,

I see this line is causing an error in newer versions of react:

https://github.com/couds/react-bulma-components/blob/master/src/components/navbar/navbar.js#L71

It is listed with a TODO to update.

Is there a plan to make this compat with the new React API?

Thanks!

[2018-07-18 18:38] couds commented on #65
Hi.

This is already fixed on the version 2.0 (that it's currently marked as @next that will be soon released)

If you want to try it you can install it with `npm install react-bulma-components@next`

This version have a few breaking changes and I'm still working on it. I'm planning to release it the next month will a migration steps document.

Thanks

[2018-07-18 18:38] #65 closed

[2018-07-18 18:53] idrakimuhamad opened #66 "Version 2.0.0-3 doesn't work with SSR"
After updating to 2.0.0-3, I'm getting the `window are not defined` error. I'm using Next.js so this error likely happened at server side, which make sense. Apart from requiring the component on componentDidMount on every each usage, how can I do it easily? I seems to be getting this from `Button`, `Heading` and others.

[2018-07-18 19:06] couds commented on #66
Weird, can you setup an example project where this is happening? I'm using that version with SSR (Without Next.js) and its works.

[2018-07-19 13:45] idrakimuhamad commented on #66
You can try https://github.com/idrakimuhamad/sample-bulma-next

I only loaded the `Button` component in this case. In this repo I didn't set any custom webpack config or next config.

[code]

[2018-07-20 13:54] couds commented on #66
Sorry I'm a little sick right now. I will try to check this during the weekend

[2018-07-20 15:53] idrakimuhamad commented on #66
No problem man. Get well soon.

[2018-07-23 22:13] gregorskii commented on #45
This is working great, I don't quite know if the Storybook was enough to denote this feature.

Could use an explanation? Otherwise, I found this and it indeed works as expected.

Thanks!

[2018-07-24 17:39] jdmg94 commented on #45
@gregorskii when using react-router-dom the navigation is handled in browser, the navigation drawer stays open after following a link on the menu, this issue is going to be addressed in a future release by having this behavior handled by a prop that denotes the mobile drawer state.

[2018-07-25 09:17] couds commented on #66
@idrakimuhamad this issue didn't happen to you with the 1.4.5? I did some research and what changed was the webpack version. I will continue doing some test and try to fix this before the official release of the version 2.

Also if possible I recommend to you to use use the components directly `import Columns from 'react-bulma-components/lib/components/columns'` this will reduce the bundle size bu

[2018-07-25 10:08] idrakimuhamad commented on #66
I'm using 1.5.0 right now and not having any problem like this.

[2018-07-25 10:42] couds commented on #66
Can you try the version 2.0.0-6 (should be fixed now)

[2018-07-25 15:33] idrakimuhamad commented on #66
Yay! Its working. Thanks man.

[2018-07-25 15:33] #66 closed

[2018-08-01 07:49] moetezch opened #67 "Modal is not working"
Hello,
Modal doesn't seem to work
``
        <OpenModal modal={{ closeOnEsc:  false }}>
          <Modal.Content>
            <Section style={{ backgroundColor: "white" }}>
              Click on the
              "X"
               button on the top-right button to close the Modal (pass closeOnEsc=false to the modal to avoid closing it with the keyboard)
            </Section>
          </Modal.C

[2018-08-01 08:14] couds commented on #67
Hi @moetezch I think the storybook documentation was misleading in how to use the Modal component.The OpenModal in the storybook its a helper component to be able to handle the open state in the storybook. (I'm changing that documentation for v2).

The actual code need to be something like this. (I didn't test it the code I wrote it directly so maybe have typos. but I think you can get the idea.

[2018-08-01 08:37] moetezch commented on #67
Yeah It's working.

Thank you so much :)

[2018-08-01 08:37] #67 closed

[2018-08-03 14:01] TMiguelT opened #68 "Component documentation"
Hi, I found it very confusing as a new user of the library, because many of the components are namespaced but not others.

For example, to access the `Button` component, you can import it directly

[code]

But to access the `Input` component, you need to go into the Form object:

[code]

However this isn't documented anywhere! Am I missing something obvious here?

[2018-08-03 14:49] couds commented on #68
Hi @TMiguelT  Thanks for using this library

-sorry about the documentation, right now the only real documentation are the storybbok. but the current version storybook its not good enough, Im working on the v2.0.0 (right now you can start using the prerelease version with `npm i  react-bulma-components@next`) to improve the storybook to add the correct code examples like this.

![image](https://us

[2018-08-03 14:57] TMiguelT commented on #68
Ah great, if the storybook includes code examples it would be very helpful!

[2018-08-15 21:16] IvanMiIosevic opened #70 "File not found or unreadable"
Hi,
I tried to use your package in my project and i got stuck when trying to import the navbar component like this :
[code]

But i'm stuck and i get this error that i can't fix: :
[code]

Couldn't find anything about this issue so i tried to import the navbar component with the other way that you provide on the README :
[code]

This import is working But the import way that is not working for me s

[2018-08-16 06:09] couds commented on #70
Hi. Thanks for using this library.

To use this approach you need to follow create an alias for the `~_variables` file. See https://github.com/couds/react-bulma-components/blob/master/README.md#override-bulma-variables

Thanks. And let me know

[2018-08-16 10:12] IvanMiIosevic opened #71 "Route Not working inside container"
Hi,
(Sorry, i'm opening a lot of issues ^^')

I wanted to try the container component but my routes are not working when inside the container :(

this is my structure :
[code]

Seems weird because if i wrapped the routes inside a div it is working... Tried to render the container as a `div`but it is still not working.

My `Link` tag are changing this URL but the route is not rendering the correct

[2018-08-16 10:25] IvanMiIosevic commented on #70
It worked, thanks ! 😄

[2018-08-16 12:44] couds commented on #71
Hi @IvanMiIosevic  I just release the version 2, this should be fixed on this version.

The issue was caused because the Container component was declared as a react.PureComponent so when the route change the props of the container didn't change and the render method was not called. Now the components are functional ones so this should be working as expected.

Let me know if you have issues with th

[2018-08-16 12:52] couds commented on #70
Closing this

[2018-08-16 12:52] #70 closed

[2018-08-16 12:53] couds commented on #68
Hi @TMiguelT I just release the v2 of the library. I hope that with the new storybook the library will be easier to use.

PD. I'm closing this issue, if you have any issue do not hesitate to open a new issue =)

[2018-08-16 12:53] #68 closed

[2018-08-16 12:54] IvanMiIosevic commented on #71
Thank you again !

I updated with `npm install react-bulma-components@next --save` and it works 👌

GG you are doing a great job 👍

[2018-08-16 16:42] couds commented on #71
Hi. You can update to version 2 (it's already released)

=)

[2018-08-16 16:42] #71 closed

[2018-08-16 21:56] IvanMiIosevic opened #72 "Navbar not working anymore even with props to toggle it"
Hi,

Yeah... That's me again, sorry :disappointed: ...

Navbar doesn't work anymore in 2.0.0-8, i tried to add `active` or `is-active` or anything i could find in the source code (i don't understand all of it so i've probably missed something) but it's not working on storybook too anymore so i'm guessing something is wrong ?
Can you check please ?

I'll be glad to help if i can !

thanks for the h

[2018-08-17 06:52] couds commented on #72
Hi Ivan. The navbar it's now a controlled component. It's mean that now you have to keep the state of the menu (open/close).

The navbar now receive a bool prop called active, when `true` the mobile menu will be open. In the storybook if you go to the knob tab In the bottom panel you can see a checkbox to open/close the menu (this menu it's only displayed on mobile viewports, you can change it usi

[2018-08-17 10:38] IvanMiIosevic commented on #72
Sorry... was not aware of the "Knobs" tab ... I'm so dumb

I was setting all the active props to `true` to test but i guess i was doing something wrong
Thank you ! you can close this

[2018-08-17 14:52] couds commented on #72
@IvanMiIosevic  dont worry. I will try to improve the documentation when I can. right now I don't have enough time >.<

[2018-08-17 14:52] #72 closed

[2018-08-21 15:03] DimitarChristoff opened #73 "2.0.0 missing displayName from all components in the new build and defaultProps boolean noise"
Hey

Just upgraded from 1.5.0 to 2.0.0 and noticed all snapshots are now very very different to what they were before.

eg minified name for Columns is `v`, Card is `p` etc:

[code]
[code]

this is probably because of webpack 4 optimisation minimise settings for prod where UglifyJS is just being called with defaults. https://webpack.js.org/configuration/optimization/#optimization-minimize

additio

[2018-08-21 15:34] DimitarChristoff commented on #73
removal of displayName affects not only jest tests but React Dev Tools (chrome)

For example, this:

![image](https://user-images.githubusercontent.com/119500/44412063-e8bd5b00-a55f-11e8-8b5b-08378f1c5743.png)

You can also see the defaultProps there, making it quite hard to determine what is really being passed on

[2018-08-26 08:51] couds commented on #73
Hi @DimitarChristoff I will fix the storybook docs on the next release. howevet I will not remove the defaultProps.

[2018-09-01 11:06] stefl opened #74 "File to import not found or unreadable: ~_variables.sass in Gatsby.js"
I'm attempting to use react-bulma-components with a new Gatsby.js site.

After installing, importing any component, I get the error that `~_variables.sass` is not found.

My intention is just to use the default styles to get going, but it seems that I'm missing how to specify this path, or indeed that the SASS setup for my project doesn't seem to be correct. I have other SASS files that work as ex

[2018-09-01 14:07] couds commented on #74
Hi @stefl

Yes, can you add this to the docs?

Thanks

[2018-09-02 09:39] #74 closed

[2018-09-06 07:24] cereallarceny opened #76 "Forms won't import at the root"
I'm forced to import the `Field`, `Control`, and `Input` (and likely other modules) at `react-bulma-components/lib/components/form` rather than at `react-bulma-components`.

**This works:**
[code]

**This does not work:**
[code]

[2018-09-06 07:52] couds commented on #76
Hi @cereallarceny all the form components are inside the Form component,

you can do this

[code]

Also I think I this this should work (didn't tested yet)

[code]

[2018-09-06 18:10] cereallarceny commented on #76
Oh wow, that's awesome.  Is there any reason that shouldn't just import directly from the root package like all the other elements?

Also, I'd love to help with documentation on this project.  It seems like there's a lot of props that either aren't in the Storybook or that I've found by accident in reading the source code.  Do you have any timeline, issues, or roadmap associated with this?  Of cou

[2018-09-07 07:07] couds commented on #76
Yes the idea it to not overpopulate the root namespace, normally you will use the form components together so make sense to group then all.

Right now My hands are full with other projects I do not have a timeline for improve the docs, but mostly all props are showed on each component storybook, with the exception of the common props that are only on the `Element` component.

If you can contribute

[2018-09-09 11:43] Acidic9 commented on #61
+1 Would love to see typescript support

[2018-09-12 09:17] jonalv commented on #43
I am having this exact same issue. The icon is not showing. First I thought I needed to import the icons component but that didn't help either. I see in my html that the dropdown should have an icon `rbc-angle-down` but it doesn't show up. Why not?

[2018-09-12 10:28] couds commented on #43
Hi @jonalv can you give me an example code where do you have this issue (if you can prepare a small repo or something  to be able to debug would be a great help)

Thanks

[2018-09-12 12:16] jonalv commented on #43
Oki, my example can be found here: https://github.com/jonalv/bulma-react-example

[2018-09-13 22:44] andrewoh531 opened #77 "Documentation - To Use"
Firstly thanks for this OSS, I can see this saving a lot of time for those who are looking to use react + bulma.

In the base README.md file there is an instruction to `Follow the instructions for creating a _variables.sass for your project` which got me a little confused as there aren't any links for doing this nor was it necessary. Is this only for overriding variables? The documentation on [npm

[2018-09-16 19:34] CodeDraken opened #78 "Form/Input propTypes "type" should include more types"
`type: PropTypes.oneOf(['text', 'email', 'tel', 'password', 'number', 'search'])`

Shouldn't this include color, file, and date as well?

[2018-09-17 07:47] stefl opened #79 "Using with Next.js"
I've attempted to use this project in a fresh Next.js and the various examples that they provide.

However, it is challenging to understand how to properly alias the ~_variables.sass file that this project looks for by default.

Next does not support webpack aliases, and the discussion around that suggests creating a babel alias.

On top of that, setting up Next to be able to handle SASS generatio

[2018-09-17 11:02] couds commented on #77
Hi @andrewoh531

The npm documentation its not updated yet, sorry for the confusion.

The setup of the `_variables.sass` it indeed necessary if you import the components directly (Ex: `import Columns from 'react-bulma-components/lib/components/columns'` this is because they look for this file for the bulma variables, but is you use the bundled version the setup of this file should not be required)

[2018-09-17 11:03] couds commented on #78
Hi @CodeDraken I think color and date could be, I'm planning to add the File input as another component because the behavior of its a little different (It is also another component on Bulma).

If you can fill a PR adding the other two types would be great.

Thanks

[2018-09-17 11:04] couds commented on #76
Closing this due inactivity

[2018-09-17 11:04] #76 closed

[2018-09-17 11:05] couds commented on #79
Hi @stefl I didn't test it on next.js I will try to test your repo during the week if I can fix some time.

[2018-09-17 11:26] stefl commented on #79
@couds Great, thanks. I just saw your reply to another issue, that including each module separately is why there's this call to the ~_variables.sass file, and you can `import` the entire project instead to avoid that.

I wonder if there's a way of specifying a path to that file using an environment variable instead of having to use webpack aliases?

[2018-09-17 15:36] CodeDraken commented on #78
Yeah, I'll do a PR. Did you just want the types added or components for them?

[2018-09-17 16:02] couds commented on #78
Can you add color and date to the type prop. File will be added as another component. Thanks

[2018-09-17 22:46] andrewoh531 commented on #77
Thanks for the clarification!

[2018-09-17 22:46] #77 closed

[2018-09-19 11:58] steph4nc commented on #60
There is also another react component library for Bulma: https://github.com/AlgusDark/bloomer it is built using TypeScript. I would also like a comparison overview of the different libraries.

[2018-09-22 17:46] RickEyre opened #81 "All components should support `renderAs` prop"
This would be super useful and make the library much more flexible.

Thoughts?

[2018-09-22 20:13] couds commented on #81
Hi @RickEyre All components support the prop RenderAs. If not that was by mistake. Did you found a component without the renderAs prop?

[2018-09-22 20:59] RickEyre commented on #81
I was trying on Columns today and it was not. In the code it looks like it's hard-coded to div.

[2018-09-23 05:08] couds commented on #81
Thanks Rick you are right. That was a mistake should have the renderAs prop. The next version will have that fixed

[2018-09-23 13:11] RickEyre commented on #81
Thanks!

On Sun, Sep 23, 2018, 01:08 John, <notifications@github.com> wrote:

[2018-09-23 20:08] brandonratz commented on #74
@couds The documentation provided is for Gatsby.js v1. For Gatsby.js v2 the following should be documented @ line 142 of `README.md`:

**For Gatsby.js v2** you can add a `onCreateWebpackConfig` export to your `gatsby-node.js` file:

[code]

Happy to make a PR...

[2018-09-23 21:35] couds commented on #74
Yes please =)

[2018-09-23 21:42] brandonratz commented on #74
@couds no access to repo... Add me as a collaborator and I'll push my branch asap.

[2018-09-24 08:27] stefl commented on #74
@brandonratz the way to do this is to fork the repo onto your own account, make the commit there and then you should see a "new pull request" button top right in the UI.

[2018-09-24 18:36] brandonratz commented on #74
@stefl Thanks so much for pointing me in the right direction. I knew I wasn't doing something right.

https://github.com/couds/react-bulma-components/pull/82

[2018-09-24 18:59] brandonratz opened #83 "Colors not set in default Bulma SASS but implied in project components"
## Problem

The prop `color` has no effect when using the Tile component with Bulma using modular style component imports.

This is because the Bulma package itself has no styles for colors in `bulma/sass/grid/_tiles.sass`. By comparison, using the Hero component, the `color` prop works, the styles are set correctly, ie `.hero.is-primary`.

[code]

_I suspect other components will suffer from this

[2018-09-25 17:23] dextel2 opened #84 "[Navbar Navbar.Burger] Uncaught TypeError: Cannot read property 'setState' of undefined"
So while learning examples on Storybook I came across this error and I cannot figure it out how it is caused. Can someone provide an ES6 solution to it?
![issue](https://user-images.githubusercontent.com/16697307/46031179-c944bf80-c115-11e8-9376-ce634e0211c5.png)

[2018-09-25 21:42] dextel2 commented on #84
Solved it, Here is the entire code

`import React, { Component } from "react";
import { Navbar } from "react-bulma-components/full";
class MenuNavbar extends Component {
  render() {
    return (
      <div id="header">
        <Navbar color="info" fixed="top">
          <Navbar.Brand>
            <Navbar.Item renderAs="a" href="/">
              <img src="https://i.imgur.com/9jQaBuq.png" alt="Dew

[2018-09-25 21:42] #84 closed

[2018-09-26 15:54] jonalv opened #85 "Dropdown behaviour of showcase can not be reproduced"
Let me start by saying I am sorry if I am cross posting I just realised that I am having more trouble in my example at https://github.com/jonalv/bulma-react-example than just only the icon not showing up and thus this should probably be a ticket of it's own...

I am trying to follow the instructions at: https://couds.github.io/react-bulma-components/?selectedKind=Dropdown&selectedStory=Default&ful

[2018-09-27 13:44] couds commented on #83
Hi @brandonratz That behavior its from bulma, I think I will change the component a little and remove the color and notification prop because its not from bulma, and change the storybook to use the renderAs of the Tile to render as a Notification.

I dont want to add more styles that are not in bulma.

For now what you can do its the follow

[code]
If you want to keep using the `renderAs="article"

[2018-09-27 13:53] couds commented on #79
Hi @stefl I don't think we can use a environment variable for that, at least I didn't found a way to do it. =(

[2018-10-01 11:20] couds commented on #85
@jdmg94 Sorry for the delay, can you provide me an example repo to reproduce this issue?

Thanks

[2018-10-01 12:05] jonalv commented on #85
Yea: https://github.com/jonalv/bulma-react-example

[2018-10-02 20:40] CodeDraken opened #86 "Add renderAs functionality to Columns component"
Related to issue #81 mind if I add this and check for other components that need it?

[2018-10-04 14:20] #81 closed

[2018-10-04 14:27] couds commented on #73
Hi @DimitarChristoff  sorry for the long wait, now the storybook show the correct names of the components, also I reduce some of the noise caused by the boolean props.

[2018-10-04 14:27] #73 closed

[2018-10-04 15:23] weyert opened #87 "Failed prop type: Invalid prop `renderAs` supplied to `d`. in d (at DashboardLayout.js:43)"
I am trying to use the `renderAs`-property on the `NavBar.Item`-component so it uses the @reach/router's `Link`-component but it looks like `renderAs`-proeprty doesn't accept the component as input e.g.

```<NavBar.Item to="/dashboard" renderAs={Link}>NavItem</NavBar.Item>```

I also tried it with Button but getting a similar error: ```Warning: Failed prop type: Invalid prop `renderAs` supplied to

[2018-10-04 15:40] weyert commented on #85
Yes, I am experiencing the same issue within my own code. I am having the feeling some of the dropdown related css code is missing which causes this issue. As looks missing in the CSS that CRA/app is injecting in the html page

[2018-10-04 19:51] dextel2 opened #88 "Navbar UI Query"
How can I achieve the following UI using this package?
![achieve](https://user-images.githubusercontent.com/16697307/46499013-98af0500-c83c-11e8-985e-83fa2ba50d99.png)

Both of the navbars are fixed. Can anyone shed some light on it?

This code shows only one navbar fixed top.

[code]

How do I add another Navbar on top of it which is also fixed?

[2018-10-05 00:52] RickEyre opened #89 "Filter DOM properties before rendering element"
I have a lot of warnings and errors in my console due to bulma components passing through properties to DOM elements that are not DOM properties.

Using something like [pick react known prop](https://www.npmjs.com/package/pick-react-known-prop) to filter the properties may be useful.

[2018-10-05 15:06] MrCreeper1008 opened #90 "Support for has-addons on <Field />"
Is button groups supported in this library? If not is there any plan to support it in the future?

[2018-10-05 15:13] MrCreeper1008 commented on #87
I used it with React Router's Link component and it works just fine. The only difference is that I have the Link component wrapped as a styled component, but that shouldnt affect anything.

[2018-10-05 17:46] dextel2 commented on #88
Fixed this by using the following code and some CSS magic
[code]

[2018-10-05 17:46] #88 closed

[2018-10-06 20:50] rotexhawk opened #91 "Navbar with Dropdown"
This stops us from having a navItem with a dropdown to be also clickable. Bulma "More" menuItem is an "a" tag and it has dropdown.

https://bulma.io/more/

https://github.com/couds/react-bulma-components/blob/master/src/components/navbar/components/item.js#L18

[2018-10-07 23:51] weyert commented on #87
I ended up not using `Bulma`-component but use the Bulma classes for now:

[code]

[2018-10-08 10:29] voordev commented on #61
Shame there is no Solid Bulma implementation for react.
Shoudent this be something the Bulma foundation should take care of?
An official react bundle

[2018-10-08 11:17] couds commented on #90
I dont know if this is what you are looking for but the Field component have a prop `kind` that have 2 possible values, `group` or `addons`, this will add the has-addons class to the field

![image](https://user-images.githubusercontent.com/2903371/46606226-603d4e80-cafc-11e8-8b78-91b45fb8de7c.png)

[2018-10-08 11:19] couds commented on #89
Hi @RickEyre can you give me an example of which component is giving you the warnings?

I dont think I will implement the filter because this will be in conflict with the renderAs prop.

[2018-10-08 13:54] jonalv commented on #85
Yes that seems to have worked.

[2018-10-08 13:54] #85 closed

[2018-10-08 18:34] #83 closed

[2018-10-08 21:52] datner commented on #90
@couds
no, he means a ""new"" container called "buttons"
à la

[code]

or more appropriately

[code]

I might take a crack at it :)

[2018-10-09 13:32] MrCreeper1008 commented on #89
Hi, here is an example:
![Example](https://user-images.githubusercontent.com/19359984/46672500-2f4b3f80-cc0a-11e8-8d13-f12afda7b7fb.png)
The `isediting` prop in `<h1>` slipped into the actual DOM, which is a custom prop I add in conjunction with styled-components to create dynamic styles.

And here is the warning:
![Warning](https://user-images.githubusercontent.com/19359984/46672655-949f3080-cc0a

[2018-10-09 13:32] MrCreeper1008 commented on #89
Note that I did not use the `renderAs` prop here.

[2018-10-09 13:35] MrCreeper1008 commented on #90
`buttons` class support would be great though, maybe open a new issue for it?

[2018-10-09 16:19] couds commented on #89
Hi @MrCreeper1008 I don't think this case should be handled by this library. you code is passing an invalid prop to the component with or without the Bulma Component. but just to check can you share the code you use  that cause the error?

[2018-10-09 17:45] RickEyre commented on #89
I think it's relatively common in these types of libraries to filter out props before you render the final element. Due to the nature of pass through props as a coding convention in React nowadays it's necessary IMO.

A simple solution would be to check whether or not what you are about to render is an HTML element, i.e. typeof renderAs === 'string', and if so, filter out the properties. If it's n

[2018-10-09 17:45] RickEyre commented on #89
Thanks for providing a nexample @MrCreeper1008.

[2018-10-10 07:46] couds commented on #89
Hi @RickEyre  @MrCreeper1008 After doing some research I will not add this validation logic to the library, the developer or the external libraries should no pass down the non-html attributes, for the same reason React stopped filtering on v16. https://reactjs.org/blog/2017/09/08/dom-attributes-in-react-16.html

IMO this filter it trying to hide an error in other part of the code.

[2018-10-10 09:53] MrCreeper1008 commented on #89
So is it not possible to use the components of this libraries with styled-components? Adding custom props to components is fairly common in styled-components to achieve dynamic styles.

[2018-10-10 10:36] couds commented on #89
It is possible, but the question here is "who is responsible of avoiding this props to be passed down?" I don't think this library because the only one that know if a prop should be passed down its the developer, I dont know if someone using the library need other props on the DOM because of some legacy code or other reasons. If you want you can wrap and the bulma components on another component o

[2018-10-10 19:56] verheyenkoen commented on #77
Is this possible with the node-sass-chokidar approach (without ejecting)? Can't get it to work with directly imported components...

[2018-10-10 20:34] couds commented on #77
Hi @verheyenkoen I think that right now its not possible to import directly the components without ejecting =(. this is because the alias we use to import the variables.sass.

[2018-10-11 12:02] MrCreeper1008 commented on #89
Makes sense. Thank you!

[2018-10-11 14:12] RickEyre commented on #89
Okaaaay. I'll do it myself... thanks @couds

[2018-10-11 16:53] couds commented on #89
To finalize this issue you can follow the thread https://github.com/styled-components/styled-components/issues/439.

[2018-10-11 16:53] #89 closed

[2018-10-12 07:02] MrCreeper1008 opened #93 "Support .buttons class (list of buttons)"
Doc for `.buttons` class: https://bulma.io/documentation/elements/button/#list-of-buttons
The class groups buttons as a **list** and will **automatically wrap on multiple lines** when needed.

Example:
[code]
Any thoughts? I can make a pull request on it.

[2018-10-12 07:04] MrCreeper1008 commented on #87
I use named import from `react-bulma-components` and it works just fine.
`import { NavBar } from 'react-bulma-components';`

[2018-10-12 07:12] MrCreeper1008 commented on #93
`<Buttons />` could have two props, `addons` and `position`, corresponding to the two modifier class, i.e. `has-addons`, `is-centered`, and `is-right`.
[code]
A new prop, `selected`, could be added to `<Button />`, corresponding to the modifier class `is-selected`.
[code]

[2018-10-12 10:03] couds commented on #93
I was thinking on adding that component. If you can do a PR that would be great! Thanks

[2018-10-12 10:19] MrCreeper1008 commented on #93
Will do in my free time. No problem!

[2018-10-12 10:53] MrCreeper1008 commented on #93
@couds Should I categorize <Buttons /> under Button in storybook?

[2018-10-12 12:30] MrCreeper1008 commented on #61
If only I knew TS I would have submitted a PR. Not a fan of TS as well, but I wish someone could help.

[2018-10-12 13:36] codekie opened #94 "Icon-component: Semicolons aren't allowed in the indented syntax"
`dart-sass` won't allow processing the `icon.sass`, due to the semicolon at the end of this line:

https://github.com/couds/react-bulma-components/blob/71e6902c7d2bf8b7e47df4b8ad5ee66b1cdf40e4/src/components/icon/icon.sass#L6

[2018-10-12 13:42] couds commented on #93
Sure!

[2018-10-12 13:57] MrCreeper1008 commented on #93
Hi @couds, I think it would be better to put `<Buttons />` in the same level as `<Button />` in storybook.
Like
[code]
rather than
[code]
How do you think?

[2018-10-12 14:57] #94 closed

[2018-10-12 14:58] couds commented on #94
Hi @codekie Thank for reporting this. I will release this after merging  #95

[2018-10-12 22:15] cereallarceny opened #96 "Broken in CRA 2.0.4"
When upgrading to `react-scripts@2.0.4`, I receive the following error:

[code]

My currently SASS implementation is done as such:
[code]

The problem is that SASS is automatically compiled in CRA 2.0+ now via the `node-sass` package, not the one mentioned in your documentation.  You no longer need to compile it like mentioned in your readme.  The fix is simple: change the line in `utils.sass` to

[2018-10-13 00:22] weyert opened #98 "Allow the use of `ref` in the button component"
I am trying to use the `Button`-component together with the Reach UI library's `AlertDialog` and it's causing some trouble because you can't use `ref` with the `Button`-component. The React documentation suggests that `forwardRef` can be used to allow this, see:
https://reactjs.org/docs/forwarding-refs.html

Potentially, this would also avoid change the `Input` etc to class components at the same

[2018-10-13 09:01] couds commented on #98
Hi @weyert thanks I didn't know about the forwarding-refs. That make sense. I will try to fix some time to do it, but if someone want to do a PR its more than welcome =).

@MrCreeper1008 What @weyert  is saying its that using the forwarding-refs we can revert this change d4c9374f4f26e1d0cb1bc235875e3a5ca5a3d407 (change Input component from a functional component to a class component)

[2018-10-13 09:04] #93 closed

[2018-10-13 09:57] MrCreeper1008 commented on #98
OK cool, sorry for the misunderstanding.
So should all components support ref forwarding for consistency, or just `<Button />`?

[2018-10-13 10:00] MrCreeper1008 commented on #98
According to the React doc supporting ref forwarding would require a major version change. Probably a good idea to combine this change and https://github.com/couds/react-bulma-components/pull/97?

[2018-10-13 16:05] weyert commented on #98
I think we could consider to add it to all components or otherwise who could potentially focus?

[2018-10-14 04:07] MrCreeper1008 commented on #98
Yea makes sense, I'll probably submit a PR for it during my free time.

[2018-10-14 23:45] CodeDraken opened #99 "Table does not have renderAs prop"
@couds mentioned all components should have a renderAs prop. #81

[2018-10-15 13:11] MrCreeper1008 commented on #98
Ref forwarding is achieved in my local fork, but if I get it right, the component supplied in the `renderAs` should forward ref appropriately as well.

[2018-10-15 15:30] MrCreeper1008 commented on #98
@couds I think we should create a check list that keeps track of components that support ref forwarding. How do you think?

[2018-10-15 15:31] MrCreeper1008 commented on #98
Ref forwarding is a breaking change. Should gradually add support for ref forwarding for each components instead of doing it all at once in a commit.

[2018-10-15 15:41] couds commented on #98
Hi @MrCreeper1008 I think it should be a one PR, and as you suggest ship it with #97

[2018-10-16 04:30] MrCreeper1008 commented on #98
OK sure

[2018-10-16 07:02] weyert commented on #98
Wow great, I will give it a shot! Where can I find your code changes, @MrCreeper1008?

[2018-10-16 09:02] MrCreeper1008 commented on #98
It's still on my local repo, will push to my fork after passing tests.

[2018-10-16 09:12] MrCreeper1008 commented on #98
@couds Enzyme 3.3.0 is having issue with forwardRef, fix is on 3.5.0. Upgrade?

[2018-10-16 12:16] couds commented on #98
no problem if do not cause anything else to break.

[2018-10-16 13:50] MrCreeper1008 commented on #98
@couds even after upgrading to 3.5.0, I'm still having issue with forwardRef in Enzyme as described here: https://github.com/airbnb/enzyme/issues/1604. Need a bit more time...

[2018-10-16 15:06] MrCreeper1008 commented on #98
OK after hours of fighting with Enzyme...i still can't figure out how to test component wrapped with `forwardRef`.....

[2018-10-19 23:11] CodeDraken commented on #99
Alright, it's worth noting that other major UI libraries ( such as [Semantic UI](https://github.com/Semantic-Org/Semantic-UI-React) ) do support custom elements for everything.

For example:
https://github.com/Semantic-Org/Semantic-UI-React/blob/master/src/collections/Table/Table.js

[2018-10-20 08:40] couds commented on #99
Hi. Can you give me an example why do you need this? Just doing it because other library does it's not enough reason (at least to me).

Thanks

[2018-10-22 09:22] couds commented on #36
Hi @kennedybaird the idea behind this its to enable the developer to use the icons they want. in reality this Icon component what it does its to prevent the "page jump" meanwhile the icon is loaded. From the Bulma.io docs

[code]

[2018-10-24 14:41] MrCreeper1008 commented on #98
@couds sorry I am quite busy recently. I already implemented ref forwarding, but I'm stuck at testing. I'll submit a pr tomorrow.

[2018-10-24 20:35] weyert commented on #98
Thanks for your work @MrCreeper1008. Let's have a look at it tomorrow

[2018-10-26 19:54] dextel2 commented on #96
Hi, unless until the commit is merged, I'd suggest to manually change from `@import "~_variables.sass"` to `@import "_variables.sass"` , in `utils.sass`

[2018-11-08 15:09] codekie commented on #94
Hi @couds are there any plans when `2.1.1` will be released?

[2018-11-08 15:28] couds commented on #94
Hi @codekie Yes I had a craxy few weeks. I will try to do it tomorrow or this weekend. sorry for the delay!

[2018-11-09 11:01] codekie commented on #94
Great, thank you! Keep up the good work! 🙂👍

[2018-11-09 19:05] buzzguy opened #105 "Add File Input Component"
It seems this one is missing:
https://bulma.io/documentation/form/file/

[2018-11-10 15:51] sc14aec commented on #61
Would also love to see Typescript support. I'm using this library for a project and intend to write type definitions as I go. If I make any significant progress I'll open a PR

[2018-11-12 18:28] dextel2 opened #106 "Test failing for Navbar"
I'm running `npm test` and it is failing the tests, the way I'm implementing is

`import { Navbar } from "react-bulma-components/full";`

but if I use the recommended way i.e.

`import Navbar from "react-bulma-components/lib/components/navbar";`
It is breaking the entire Navbar

when I run `npm test` it is throwing this error

[code]

I'm using `react-bulma-components@2.0.0`

[2018-11-13 09:15] couds commented on #106
Hi @dextel2

Can you try one on this?

1. can you add
[code]
to your jest config?

2. try using `import { Navbar } from "react-bulma-components` and include the css file on your html or your webpack bundle.

Let me know if this help

[2018-11-13 09:16] couds commented on #99
Closing this due inactivity. Please reopen it if you think its necessary.

[2018-11-13 09:16] #99 closed

[2018-11-13 09:17] couds commented on #87
@weyert this is still an issue?

[2018-11-13 10:36] #105 closed

[2018-11-13 11:49] weyert commented on #87
I have decided I will just keep using the working solution as given above for now :)
Thanks again for your help!

[2018-11-13 11:49] #87 closed

[2018-11-13 12:10] #98 closed

[2018-11-13 15:29] MrCreeper1008 opened #107 "Support is-up modifier for <Dropdown />"
Documentation for the modifier: https://bulma.io/documentation/components/dropdown/#dropup
`<Dropdown />` could take a new prop `isUp` or `up` for the modifier.

[2018-11-13 21:55] dextel2 commented on #106
Hi @couds, It might sound silly of me, but I do not have a `jest.config` I'm simply running `App.test.js` and for 2. `import Navbar from "react-bulma-components/lib/components/navbar";` , shouldn't this work?

[2018-11-13 22:04] dextel2 commented on #106
Hi @couds , I need not create `jest.config` as it's simply running `App.test.js`, as to the second solution it worked perfectly thank you now I'm getting other Component's error. Thank you :)

[2018-11-13 22:04] #106 closed

[2018-11-13 22:37] dextel2 commented on #106
Can you please explain how jest config would've helped?

[2018-11-14 07:53] couds commented on #106
Hi @dextel2

When running the tests jest assume that the environment is node but in this case need to be the browser this is because the `full` export include the styles and will try to create the style tags on the window.

I not tested it my self but seem that adding that setting tell jest that the global window it's available (I don't know fire sure but maybe use jsdom or we need to setup de jsd

[2018-11-14 07:54] #96 closed

[2018-11-14 13:24] MrCreeper1008 opened #108 "TypeError: e.path is undefined in <Dropdown />"
When rendering <Dropdown />, `TypeError: e.path is undefined` shows up whenever the page is clicked.

- Browser: **Firefox**
- react: ^16.5.2
- react-bulma-components: 2.0.0

[2018-11-14 23:56] kennedybaird commented on #107
also is-right would make sense

[2018-11-15 01:49] dfee opened #109 "Column is missing `touch` prop"
https://github.com/couds/react-bulma-components/blob/master/src/components/columns/components/column.js

https://bulma.io/documentation/columns/sizes/

[2018-11-15 04:41] MrCreeper1008 commented on #107
Actually there's a `align` prop that accepts `right` as the value. But it doesn't seem to accept `up` as an acceptable value, so I'll just need to support `up` alignment; a new prop is not needed.
@couds does the `align` prop support `up`? If not I'll make a PR for it.

[2018-11-15 04:57] MrCreeper1008 commented on #107
`right` and `up` should be separate props since they are not mutually exclusive.

[2018-11-15 08:38] dfee opened #110 "Pagination renders as div but is expected to render as nav?"
There is a defaultProp for it: https://github.com/couds/react-bulma-components/blob/3b13b738b0bfd0bc82104b6913d3ba1367a6196a/src/components/pagination/pagination.js#L42

But there's not a propType, nor is that prop consumed. Therefore, should `Element` render a `div` or a `nav`?

[2018-11-15 08:41] dfee opened #111 "ModalCardBody should accept function for `renderAs`"
https://github.com/couds/react-bulma-components/blob/master/src/components/modal/components/card/body.js#L26

It's the anomaly component for not accepting `function`.

[2018-11-15 09:52] dfee commented on #110
The same issue occurs in: [`CardHead`](https://github.com/couds/react-bulma-components/blob/master/src/components/modal/components/card/head.js), [`CardFoot`](https://github.com/couds/react-bulma-components/blob/master/src/components/modal/components/card/foot.js), [`ModalCardTitle`](https://github.com/couds/react-bulma-components/blob/master/src/components/modal/components/card/title.js#L13), and

[2018-11-15 10:01] MrCreeper1008 commented on #110
When a defaultProp, in this case `renderAs`, it will be automatically available in `this.props`, thus `this.props.renderAs` is defined and is consumed by `<Element />`.
React doc: https://reactjs.org/docs/typechecking-with-proptypes.html#default-prop-values

[2018-11-15 16:29] dfee commented on #110
That is how it works, but my comment was on the general inconsistency throughout this package. Some components have:
1) `renderAs` statically defined on the `Element` component constructor,
2) `renderAs` as a `defaultProp` but not as a `propType`,
3) `renderAs` as a `defaultProp` and also as a `propType`
4) no `renderAs` specified (defaulting to `div`).

That said, what about DropdownItem not bein

[2018-11-15 17:51] couds commented on #110
Hi @dfee

1. The renderAs props sometimes does not make sense to be dynamic on some components (mostly because is how that bulma component works). that is way some element have it statically.

2. The example you put before about the component having defaultProp and not propTypes it not right because it have the proptypes `modifiers.propTypes` https://github.com/couds/react-bulma-components/blob/3b

[2018-11-15 18:02] couds commented on #111
Hi @dfee thanks for your report, this component should not have the renderAs PropType defined and use the one inherit from the modifier. I will do this change later today.

[2018-11-15 18:07] couds commented on #111
I just saw that the modifier do not have the renderAs (that was my mistake because I added on a branch I never published/merged).. because I'm on that part now I will also fix that

[2018-11-15 18:13] dfee commented on #110
Yeah, I put together typescript types for this package last night and was looking for clarity. I need to figure out how to merge in that declaration file to this package. I can close now.

[2018-11-15 18:13] #110 closed

[2018-11-15 18:15] dfee commented on #111
I didn't see a PropType defined in any of the modifiers. Did you mean that it should just have the `defaultPropType`?

[2018-11-15 18:33] couds commented on #111
That was my mistake (I added the proptype to the modifier (the https://github.com/couds/react-bulma-components/blob/master/src/modifiers/index.js) but somehow I didn't merge that branch and got lost between changes). as you said all renderAs Props yous accept String and Function as a valid value. I'm working on that.

But because nothing can be simple there are a few exceptions to that rule (The B

[2018-11-15 18:35] couds commented on #110
@dfee Kudos for the TS types (I'm not really a fan of TS so I didn't learn but will be great if you share the type definitions.. if you need any clarification please ask.

[2018-11-15 21:12] dfee opened #112 "unselectable is defined as a prop of type boolean, but is actually type `on` | `off`"
Well, at least according to the the folks who maintain the types for react: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/cff4ff4231dacbc7217ca5f8ffe8db3c0bfaee22/types/react/v15/index.d.ts#L2448

Thoughts?

[2018-11-15 21:14] dfee commented on #112
And here's the link to the source where that's defined: https://github.com/couds/react-bulma-components/blob/d1fa20c9ce6780858c46fa7becbbaae8c5588b59/src/modifiers/helpers.js

[2018-11-16 08:39] couds commented on #112
Hi @dfee the prop unselectable is for the `is-unselectable` bulma helper https://bulma.io/documentation/modifiers/helpers/ not the html attribute.

Also the `max` on the progress bar is intended to be a number (I prefer that to be only number because it how it use it. at the end this value will be parsed to number by the browser so its better to avoid possible invalid values: ex: `max="X"` do not

[2018-11-16 21:44] brachetti opened #113 "Rounded Images"
Hey,

As per https://bulma.io/documentation/elements/image/#rounded-images I would like to request a such a property on the `<Image />` react component.

Currently using `is-rounded` on the `Image` will not yield desired result, as the class needs to be applied to the wrapped `<img>`.

Cheers 🍺

[2018-11-17 13:43] MrCreeper1008 commented on #113
Thanks for the suggestion. I will submit a PR for it in my free time :)

[2018-11-18 22:23] dfee opened #115 "cra2 requires explicit addition of sass"
create-react-app 2.x requires the explicit addition of sass files. I put together a minimal repository here: https://github.com/dfee/dummy-rbc

The only changes I have made after `npx create-react-app dummy` are:
1) installing `node-sass`, `github:couds/react-bulma-components`
2) adding `styles.sass` with `@import '~react-bulma-components/src/index`
3) importing `styles.sass` and `{ Button } from

[2018-11-19 06:01] dfee opened #116 "Remove inlined css for Icon (prefer FontAwesome)"
The [current approach]((https://github.com/couds/react-bulma-components/blob/master/src/components/icon/icon.sass)) isn't a preferred (or good, or modern) approach. I noticed there was another issue related to the use of FontAwesome icons, and I think requiring a child to render should be the preferred way.

I ended up getting it to work like so:
[code]

Of course, someone else might want to use a

[2018-11-19 08:50] couds commented on #116
Hi @dfee

Currently the children approach its the correct one, the css for the icons its need it for some of react-bulma-components (like dropdown and InputFile).

But yes we should update the Docs to explain how to correctly use each component (but currently I have my hand full)

[2018-11-20 15:18] bobman38 commented on #115
Hello

Linked with #96 ?

I am just stuck in kind'a same issue with release 2.0.3 available on npm repo, so testing ``npm install couds/react-bulma-components`` and seems better for me...

[2018-11-21 20:21] couds commented on #116
Right now the Icon css its needed because there are some component that use icons, but maybe we can move that css to the components that need the icons (or instead of using a font for the icons use directly the svg markup)

[2018-11-22 09:45] MrCreeper1008 opened #117 "Update storybook"
Current storybook does not include Button Group section, but it is coded into `button.story.js`

[2018-11-23 18:32] #107 closed

[2018-11-23 18:34] #61 closed

[2018-11-25 21:27] bluengreen opened #120 "Are there any real life non-story book examples?"
I can't seem to get any Navbar example to work with with the burger menu. Is there any kind of clear real life example that's not wrapped in story book? Even the story book doesn't have a working burger menu.

[code]

With the above code I get
[code]

[2018-11-26 01:31] weyert opened #121 "Using the Bulma sass in other .scss files in CRA"
I was wondering how I could leverage the Bulma sass such as the extra defined colours in other .scss files. Currently, all the variables are undefined in for example my App.scss.

What's the best way or approach to do this?

[2018-11-27 06:40] MrCreeper1008 commented on #120
@bluengreen
Here: `  <Navbar.Menu active="open">`
you passed in the string `"open"` to the prop active instead of a boolean. You should pass `this.state.open`, not `"open"`.

[2018-11-27 06:50] MrCreeper1008 commented on #120
@bluengreen Sorry I misread the error message. Can you try removing the prop `active` in `<NavBar.Menu>` and see if it works?

[2018-11-27 07:34] couds commented on #120
Hi @bluengreen.

On the storybook you should use the knob tab to open/close the navbar.

On the example code above you should pass the open state to the `Navbar` instead of the `Burguer`.

I hope this solve your issue.

[2018-11-27 07:38] MrCreeper1008 commented on #120
@couds I think the code for Navbar in storybook is a bit weird because `Navbar.Menu` does not seem to accept the `active` prop yet it is present in the example code. Is it intended or is it an error?

[2018-11-27 07:41] MrCreeper1008 commented on #117
Many new storybook codes are added but they are not in the public storybook yet.

[2018-11-27 08:01] couds commented on #120
That's an error. In V1 the menú accepted the prop but in v2 it use React.Context.

We should remove the prop on storybook for the menu

[2018-11-27 14:10] MrCreeper1008 commented on #120
Related issue #117? Current prod storybook is old and is several commits behind.

[2018-11-29 10:33] dfee opened #122 "`hide` seems to not be a used prop"
https://github.com/couds/react-bulma-components/blob/69175d580490aecaed06ede20baf7f3ed7baeb47/src/components/element/element.story.js#L27

it's not defined in the `classnames` propery, but it is in `clean`. https://github.com/couds/react-bulma-components/blob/master/src/modifiers/responsives.js#L55-L58

it's implementation in the story makes it look like at one point [`sizeShape`](https://github.c

[2018-11-30 10:56] #113 closed

[2018-12-01 11:04] #108 closed

[2018-12-01 11:09] #109 closed

[2018-12-01 11:17] #120 closed

[2018-12-04 15:27] emregocer opened #125 "InputFile component gives prop warnings."
It gives React does not recognize the '...' prop on a DOM element warnings.
Here is a create-react-app sandbox, just rendering the InputFile as is.

https://codesandbox.io/s/zk8k58pq33

[2018-12-05 21:54] weyert commented on #121
Anyone got a way to support this? I am getting the feeling that every App.scss is self-contained

[2018-12-07 14:32] MrCreeper1008 commented on #125
Rendering `<inputFile />` without any third-party libraries like `styled-components` wrapping around it gives the DOM element warning nonetheless, which imo isn't an expected behavior.

[2018-12-07 15:23] MrCreeper1008 opened #126 "Custom label for <Dropdown />"
Would be great if `<Dropdown />` supports custom label!
`<Dropdown label="some custom label" />`

[2018-12-08 01:03] danielgulic opened #127 "Form not being styled?"
Hi, I want to make a form with a text input and a button but when using the Form components with react-bulma-components they look nothing like they do on the documentation...

Code:
[code]

Screenshot:
![](https://i.imgur.com/jC9NPvX.png)

It should look something like this:
![](https://i.imgur.com/VxtX1jX.png)

[2018-12-08 06:58] #127 closed

[2018-12-11 22:15] jacksaunders opened #129 "Anyway to prevent global reset being called"
I'm using Bulma for a specific part of my web app, and don't want the global bulma reset files being imported in.
When i import any component even using `from 'react-bulma-components/full';` i get overriding styles like:
[code]
Being imported into my app.

Any way around this?

[2018-12-12 10:37] couds commented on #129
Hi @jacksaunders depending of your project configuration there are a few ways to do it

- if you have saas configured you can import the components `import Button from 'react-bulma-components/lib/components/button` please check the Readme and follow the steps to configure this approach.

- if you do not have saas configure and you are using the full bulma the only way to avoid this is to override

[2018-12-12 10:58] couds commented on #126
Hi @MrCreeper1008 I dont know if that is what you mean. but I just fix a bug that cause to the first element no beign selected if no item was (cb3d3d9).

[2018-12-12 11:02] #125 closed

[2018-12-20 01:10] kkomaz opened #130 "How to properly override variables scss files CRA 2?"
## Issue
I feel as though I'm doing many variations of this setup but cant seem to make it work...

[code]

In my js code

[code]

Shouldn't the primary color change based on the configs above?   I haven't created a variables file based on the instructions **Override Bulma variables in Create React App**

## Dependencies
[code]

[2018-12-20 13:59] tunnckoCore opened #131 "Use relative paths instead of fancy Webpack crocodiles?"
Just started new plain React on the CodeSandbox and it fails with

[code]

[2018-12-20 16:06] couds commented on #131
Hi @tunnckoCore,

We use this "fancy" import to be able to override the bulma variables.

If you want to use out of the box  (without any alias webpack configuration) import from the main export. and include the css file `react-bulma-components/dist/react-bulma-components.min.css`

[code]
Thanks

[2018-12-20 16:09] couds commented on #130
Hi @kkomaz

To override the Bulma variables you need to use the sass files (the css its already compiled so you won't be able to use variables at all)

To override the Bulma variables please follow the instructions [Here](https://github.com/couds/react-bulma-components/tree/master#override-bulma-variables-in-create-react-app)

Thanks

[2018-12-20 21:54] tunnckoCore commented on #131
The thing is that it's "not recommended", and not only that but it will not tree shake. But yea for playing and prototyping it would work.

[2018-12-21 18:18] kkomaz commented on #130
Thank you for the quick response!

I still cant seem to integrate the change.

[code]

I moved the `$primary` before and after the import but doesn't want to change the primary color to blue.

[code]

Test Repo:
https://github.com/kkomaz/debut/tree/color-change-test

<img width="542" alt="screenshot of google chrome 12-21-18 1-17-54 pm" src="https://user-images.githubusercontent.com/8473884/503571

[2018-12-21 23:58] tunnckoCore opened #132 "Create a Babel plugin"
Which should be similar to the  [babel-plugin-ramda](https://github.com/megawac/babel-plugin-ramda).

It actually can be a fork of it with only changing the name.

This will add one more feature to that package: "Tree shaking support by default".

[code]

transforms to

[code]

Also, one more suggestion is the component file names to start with capital letter. But that's another topic/issue.

[2018-12-22 17:57] goranefbl commented on #126
@MrCreeper1008  Can you link to bulma docs where it shows this example?

[2018-12-23 08:03] MrCreeper1008 commented on #126
Doc: https://bulma.io/documentation/components/dropdown/
Check the code in the first section; the dropdown button has a label of "Dropdown Button".

[2018-12-23 23:18] couds commented on #131
Hi @tunnckoCore

I just release the version 3.0.1-3 (you can install it using the `next` tag `npm i -S react-bulma-components@next` in this version now its a lot easier to use the "Recommended" way.

[2018-12-25 18:00] kkomaz commented on #130
Hey @couds

I updated to version `3.0.1-3`.  One thing of note is I had to change the react-bulma-components node_modules utils file like this to get it working

[code]

Also I still can't seem to get it working.. I created a simplified CRA with the changes you recommended + docs.

## Advanced Configuration Setup

[code]

## Variables file setup under ./src
[code]

## package update
[code]

[2018-12-26 17:52] couds commented on #130
Hi @kkomaz

Weird I just downloaded your repo and seem to be working

which version of npm/node are you using? I just tested inside a Docker just to be sure that was not something on my environment and also works

![image](https://user-images.githubusercontent.com/2903371/50453065-647c4980-093e-11e9-80e0-14d89310769a.png)

Try using Docker to check if mayve something in your environment its preven

[2018-12-26 19:16] kkomaz commented on #130
Thank you @couds.  Your suspicion of node versioning is correct!

To recap:
## Not Working:
npm: **6.1.0**
node:**v8.12.0**

## Working:
npm: **6.1.1**
node: **v9.6.1**

Not exactly sure if its all versions of 8.xx or this one specifically but the update of node definitely got it working.

![screenshot of google chrome 12-26-18 2-15-04 pm](https://user-images.githubusercontent.com/8473884/50454929

[2018-12-26 19:17] #130 closed

[2018-12-27 17:52] kkomaz opened #133 "Columns Size(ing) issues"
## Version
`"react-bulma-components": "^3.0.1-3"`

## Question
After upgrading to 3.0.1-3 I noticed an odd issue where my columns were being overflowed based on a 12 column system.

The image of the story book is shown like this

<img width="1180" alt="screenshot of screenfloat 12-27-18 12-49-40 pm" src="https://user-images.githubusercontent.com/8473884/50489487-e4092780-09d5-11e9-99a0-ac3a0b33a2e

[2018-12-28 13:39] moskalyk commented on #84
Does your navbar dropdown work when you resize the page? @dextel2

[2018-12-28 13:48] moskalyk opened #134 "The Navbar Burger button will not open the children"
![image](https://user-images.githubusercontent.com/8753589/50517219-3ea98e80-0a7d-11e9-9a57-2f5034e70e03.png)
When selecting the hamburger button, I'm expecting there to be a dropdown, but none exists. Any ways to have the navbar appear?

[2018-12-28 13:56] moskalyk commented on #134
Needed to set `<Navbar active={this.state.open} />`

[2018-12-28 13:56] #134 closed

[2018-12-28 16:55] cmoad opened #135 "Table size property has case issue in typescript definition"
https://github.com/couds/react-bulma-components/blob/1007782f440d26e6e8854cb557697906844caf86/index.d.ts#L1339

The typescript mapping should be `fullwidth` instead of `fullWidth`. Using `fullwidth` works, but causes a type check error. Using `fullWidth` has no effect.

[2018-12-28 20:44] #135 closed

[2018-12-28 20:48] couds commented on #133
Hi @kkomaz

Seem that accidentally I remove one step of the configuration.

you need to import `react-bulma-components/src/index.sass` on your main sass/scss file to add the generic css that bulma needs

For example in your App.sass

[code]

Please note that this file should only be imported on your entrypoint sass and not in the `_variables.sass` that is because this file actually create css rule

[2018-12-28 20:49] #131 closed

[2018-12-28 20:51] couds commented on #121
If you are overriding the Bulma Variables using the advance configuration (V3) you need to import your `_variables.sass` file. and you will be able to use the sass variables.

[2018-12-28 20:51] #121 closed

[2018-12-28 20:53] couds commented on #115
This is now solved in V3, See docs [here](https://github.com/couds/react-bulma-components#cra)

[2018-12-28 20:53] #115 closed

[2018-12-28 20:53] #79 closed

[2018-12-30 07:12] nukeguys opened #137 "v3 npm install command is wrong in readme file"
as-is:  `npm install react-bulma-component@next`
to-be: `npm install react-bulma-components@next`

[2018-12-30 20:49] #137 closed

[2018-12-31 03:43] kkomaz commented on #133
@couds

Sorry for the late response.  This did the fix!  Thank you.

[2018-12-31 03:43] #133 closed

[2019-01-01 15:13] niwatolli3 opened #139 "Box radiusless option is not working"
The following code (1) outputs (2), but `is-radiusless` css style is not applied.

(1) input
[code]
(2) output
[code]

[2019-01-05 13:40] couds commented on #139
Hi @niwatolli3  can you share the configuration you are using (library version, how are you importing the components) I can't reproduce the issue.

Please ensure you are adding the file  `react-bulma-components/src/index.sass` that is the one that include the generic bulma classes. (I just updated the readme just in case)

[2019-01-10 16:08] MrCreeper1008 commented on #126
I will work on this issue since it has been quiet for quite a while now.

[2019-01-10 16:11] MrCreeper1008 commented on #117
@couds will the content of storybook be updated in V3? Thanks.

[2019-01-10 16:25] couds commented on #117
Yes I will update it when I release v3 as the stable version

[2019-01-10 16:26] couds commented on #126
If you will, please make the label optional and if not present use the currently selected value (or the first element if do no have any value)

Thanks!

[2019-01-11 08:35] MrCreeper1008 commented on #126
Will do. Thanks!

[2019-01-11 08:36] MrCreeper1008 commented on #117
Good to know. Thank you!

[2019-01-11 13:33] couds commented on #132
Well, currently I have my hand full with other projects, but this plugin should be another module in my opinion.

If I found time I will try to do a PoC.

Thanks

[2019-01-11 21:54] julianjohannesen commented on #43
Thanks so much @couds and @LaRuaNa! I was struggling with this. Should have googled much earlier!

[2019-01-13 14:54] jacksaunders commented on #129
Thanks this worked 👍🏻

[2019-01-13 14:54] #129 closed

[2019-01-15 15:32] MrCreeper1008 commented on #117
Fuller support of the Bulma framework basically. @couds can you give a list of changes that is coming in V3?

[2019-01-15 15:33] MrCreeper1008 commented on #117
@uptonking by view library you mean CSS framework right?

[2019-01-15 15:35] MrCreeper1008 opened #141 "Labeling issues"
As this library grows, number of issues will inevitably rise, so it makes sense to start labeling issues to better organize and manage them, like 'suggestion', 'needs more info', 'next release', 'serious', etc.

[2019-01-15 15:36] MrCreeper1008 commented on #141
@couds how do you think?

[2019-01-15 15:36] MrCreeper1008 commented on #141
Oops, accidentally closed the issue :p

[2019-01-16 06:14] uptonking commented on #117
yes. but this library has advantages over bulma. I don’t need to implement tabs in js

[2019-01-16 09:09] couds opened #142 "Reduce Noise of ForwardRef components"
With the addition of the ForwardRef to all components now the React tree its quite difficult to follow with wuite a lot "ForwardRef Component"
![image](https://user-images.githubusercontent.com/2903371/51238080-4b334f80-1976-11e9-91cf-50014c12a6dc.png)

Solution: Expose 2 components one with Ref and one without, so the developer can import the Component with Ref if necessary.

[2019-01-17 16:19] MrCreeper1008 commented on #117
@couds

[2019-01-17 16:20] MrCreeper1008 commented on #117
Sorry, accidentally closed the issue.

[2019-01-17 16:23] MrCreeper1008 commented on #142
How would you export both of them? In separate folders like `react-bulma-components/with-ref`?

[2019-01-18 10:35] jchapple commented on #142
I guess multiple exports, with import destructuring would be best, e.g.

[code]

[2019-01-18 11:23] couds commented on #142
I have two approach in mind:

1. Default export without ref and a named export with the componentWithRef
[code]
The problem with this approach its in how to expose it when importing directly from the root component `import { Bulma } from 'react-bulma-components`

2. Create a new static prop on each component `withRef` that will be the component with the ref

[code]

Probably I will choose the opti

[2019-01-18 11:54] MrCreeper1008 commented on #142
Option 2 looks better, but I wonder if there is a more elegant way to do it, like dynamic ref forwarding (export component with ref forwarding only when `ref` prop is defined. I'll dive deeper into it.

[2019-01-18 11:59] MrCreeper1008 commented on #142
Found this! https://reactjs.org/docs/forwarding-refs.html#displaying-a-custom-name-in-devtools
Apparently we can change the display name of components with ref forwarding support in dev tools. We can dynamically change the display name such that:
1. it will be the name of the component if no ref is passed;
2. it will be `ForwardRef${componentName}` if one is passed.
Much more elegant that exportin

[2019-01-18 12:17] couds commented on #142
I think we should add the displayName But exposing both components. because if when not using the ref (that should be most of the cases) the react tree its overcomplicated for nothing.

you will end with something like

[code]

instead of
[code]

[2019-01-18 13:01] MrCreeper1008 commented on #142
Seems like it is the only way to do it then. It isn't quite elegant, but React does not recommend dynamic ref forwarding, so we are stuck with it. :/

[2019-01-18 13:04] MrCreeper1008 commented on #142
@couds I will work on this issue, but I need to submit the PR at least a week after because i need to deal with those disgusting exams.

[2019-01-19 13:17] couds commented on #116
For now I will kept the inline don't. Closing this

[2019-01-19 13:17] #116 closed

[2019-01-21 18:36] iamronsuez opened #144 "Warning: React does not recognize the `renderAs` prop on a DOM element."
I'm trying this library , so far provides excellent abstractions for bulma.

When I was implementing the Media `Media.Item`Component I got an error for the prop `renderAs`, i think the library is not deleting that prop for the underline html render element so i'm getting this error at the console.

![captura de pantalla 2019-01-21 a la s 15 32 09](https://user-images.githubusercontent.com/28957938

[2019-01-22 08:04] MrCreeper1008 commented on #144
This might help you: https://github.com/couds/react-bulma-components/issues/89

[2019-01-23 19:45] patoncrispy opened #145 "No TypeScript support when using Advanced configuration"
Works with TS:
`import {Heading} from 'react-bulma-components';`

Doesn't work with TS:
`import Heading from 'react-bulma-components/lib/components/heading';`

Have I missed something simple? Only just started using the library so apologies if I missed something in the docs.

[2019-01-27 21:05] epatters opened #146 "Error: forwardRef is not a function"
When using the current beta of react-bulma-components v3, I get an error that `forwardRef is not a function`, coming from [element.js](https://github.com/couds/react-bulma-components/blob/a7916467a288578917d960b7970c1e42783e40e7/src/components/element/element.js#L6).

I'm using v3 because I need the TypeScript definitions. Besides TypeScript 3.2, I'm using React 16.7 and React Router 4.3. Unfortun

[2019-01-27 23:43] epatters commented on #146
Here is the traceback:

[code]

[2019-01-28 00:34] epatters commented on #146
After upgrading `react-router` to the latest beta (`v4.4.0-beta.6`) and forcing `hoist-non-react-statics` to v3, which is supposed to be compatible with `forwardRef`, the above error goes away but I get another similar one:

[code]

I am declaring myself stumped. Any advice would be appreciated.

[2019-01-28 08:45] couds commented on #146
Hi @epatters

To me seems that the react version loaded its not the correct one, can you post your package.json/package-lock.json?

[2019-01-28 08:50] couds commented on #145
Hi @patoncrispy Sorry but right now I don't know a way to add the TS support for the advanced configuration.

[2019-01-28 19:42] epatters commented on #146
Thanks, I've attached my `package.json` and `yarn.lock`.

[package.zip](https://github.com/couds/react-bulma-components/files/2804638/package.zip)

[2019-01-29 21:45] epatters commented on #146
I figured out the problem. The version of React included from a CDN in my `index.html` did not match the version of React in my `package.json`. I had upgraded the latter, but forgotten to update the former. That will teach me a lesson about having dependencies specified in two places. Sigh.

Sorry for the noise.

[2019-01-29 21:45] #146 closed

[2019-02-06 07:10] MrCreeper1008 commented on #142
@couds After doing some research, I think it is not feasible to export two different components: one with forwardRef support and one without. React doc specifically specifies that conditionally applying forwardRef is not recommended as it may cause unexpected behaviors. However it is almost impossible to export said components without either conditionally applying forwardRef or duplicating compone

[2019-02-07 08:40] couds commented on #142
Hi @MrCreeper1008 Thanks for your research, I was thinking on something like this

[code]

Note: I didn't test this its just an idea, if you have time can you give it a try? (Right now I have my hand full u.u)

Thanks Again

[2019-02-07 15:55] MrCreeper1008 commented on #142
Hi @couds the ref arg will not be defined even when it is passed as a prop because we are not using React.forwardRef to receive the ref.

**This will work:**
[code]

**This will NOT work**
[code]

I think the only way to reduce noise is to use the good old callback ref instead.

[2019-02-07 15:56] MrCreeper1008 commented on #142
If we use callback ref then passing ref to the underlying DOM element will be trivial, since we can basically treat it as if we are passing onClick callback to children.

[2019-02-10 15:48] dscottboggs commented on #115
I ran into this error, and following the docs didn't solve the problem, however, setting `NODE_PATH` to `NODE_PATH=./node_modules/react-bulma-components/src` does seem to help. I'll need to experment further, perhaps the docs need updated? Or perhaps this solution has unexpected side effects?

[2019-02-10 17:17] couds commented on #115
Hi, did you create the _variables.sass file on your src folder? (See advanced setup)

[2019-02-15 01:17] jahirfiquitiva opened #148 "Rendered UI is not the same as with plain html"
Hello

I just started using these components but I am seeing a difference between the UI rendered by React and the one from plain/vanilla html

I wonder if I am doing something wrong, or if this is an issue with the components library.

Thanks in advance!

#### With React rendering

![captura de pantalla 2019-02-14 a la s 8 13 12 p m](https://user-images.githubusercontent.com/10360816/52828021-1d3

[2019-02-15 01:54] jahirfiquitiva commented on #148
What's even more weird, is it happens even without using this library, so I wonder if it's a react thing 🤔

[code]

[2019-02-15 02:03] dscottboggs commented on #115
This was definitely my error, I hadn't added the import to my main CSS file. :man_facepalming: sorry to bother you.

[2019-02-15 02:10] Sparragus commented on #148
React is stripping out the white space between the buttons. When you don't use React, the newlines + the indentation count as a space, so that's what you're seeing between the buttons.

Here's a [video](http://recordit.co/13raEkLqWp) showing what's up:
![image](http://g.recordit.co/13raEkLqWp.gif)

[2019-02-15 02:16] jahirfiquitiva commented on #148
@Sparragus thanks for the detailed explanation.
Any tip of how to fix this? Maybe adding a `&nbsp;`?

[2019-02-15 02:20] Sparragus commented on #148
@jahirfiquitiva In React, if you want a space between the buttons there are two things you could do:

[code]

or create a class that does something like:

[code]

[2019-02-15 02:27] jahirfiquitiva commented on #148
Actually, I just gave it a try, and I can confirm this works! (although your other option with `{' '}` works too, @Sparragus )

Thank you so much for the help!

[code]

[2019-02-15 02:27] #148 closed

[2019-02-19 19:06] stydav opened #149 "tilde bug"
@import "~_variables.sass" in lib/components/utils.sasss

should be

@import "_variables.sass"

[2019-02-20 22:21] kkomaz opened #150 "Disable next button on Pagination when making data fetch"
Currently, the previous and the next buttons are disabled when the user is on the first or last page.

Is it possible to disable the button when the user clicks NEXT so they don't have the option to continuously click through and make a bunch of async requests?  Thanks

![demo](http://g.recordit.co/7oiZwNlA0b.gif)

[2019-02-20 22:23] kkomaz commented on #150
<img width="764" alt="screenshot of google chrome 2-20-19 5-23-10 pm" src="https://user-images.githubusercontent.com/8473884/53128964-3b3dfb00-3534-11e9-9a90-727cdf242d37.png">

Based on the image it doesn't seem like it~ :(

[2019-02-25 04:44] pcr910303 opened #154 "Bulma outdated, consider upgrading or make a peer dep?"
The Bulma CSS framework is outdated, (v0.7.1), which makes some components not same with the Bulma documentation.
One of it is the progress bar, where if no value is specified, it is [supposed](https://bulma.io/documentation/elements/progress/#indeterminate) to render an indeterminate progress bar while it renders as value 0.

I fixed this by just bundling the Bulma CSS instead of the CSS provided

[2019-02-25 11:54] MrCreeper1008 commented on #154
Yep, this makes sense as this is sort of a plugin of Bulma, so Bulma should definitely be a peer dep. I'll work on this asap.

[2019-02-25 11:55] MrCreeper1008 commented on #154
@couds this is a breaking change.

[2019-02-25 11:59] MrCreeper1008 commented on #145
Adding an `index.d.ts` for every export should fix this right?

[2019-02-25 16:28] alanford123 commented on #154
Since we are talking about improvement suggestions, I'd like to ask if it's possible to make so that we can always include from 'react-bulma-components' instead from specific paths such as ''react-bulma-components/lib/components/columns'

[2019-02-25 18:28] couds commented on #154
Hi @MrCreeper1008 Please do not add bulma as a peer dependency, I want it to be a dependency to lock the version which this library its compatible. Its pending to update the version to last bulma version. If you can do that will be great! Thanks

[2019-02-25 18:30] couds commented on #154
@alanford123, you have 2 ways to include the library. the basic that work as you want (`import { Columns } from 'react-bulma-components`) and advanced that use specific path to improve the tree shaking.

[2019-02-26 13:33] pcr910303 opened #155 "Adding bulma helper classes as props"
I think it would be good to make some bulma [helper classes](https://bulma.io/documentation/modifiers/helpers/) applicable as props in such manner like [Bloomer](https://bloomer.js.org/#/documentation/overview/helpers).
Maybe better, integration with [bulma-helper](https://github.com/jmaczan/bulma-helpers) as an opt-in will be good.
It's just a suggestion, as I find such situations where bulma's c

[2019-02-26 15:06] MrCreeper1008 commented on #154
@couds got it. I'll do it in my free time.

[2019-02-26 15:06] MrCreeper1008 commented on #155
Can you give some examples?

[2019-02-26 15:08] MrCreeper1008 commented on #155
Sounds like a brilliant idea btw.

[2019-02-26 15:10] MrCreeper1008 commented on #150
Seems like it is hard-coded. Makes sense to make it a prop with default behavior instead. If @couds approves I'll implement this feature.

[2019-02-26 15:11] MrCreeper1008 commented on #149
Would be great if you could make a PR on it since this looks like a simple fix.

[2019-02-26 15:15] MrCreeper1008 commented on #132
I think webpack has [tree-shaking](https://webpack.js.org/guides/tree-shaking/) support so there is no need to create a babel plugin.

[2019-02-26 15:15] #126 closed

[2019-02-26 18:11] couds commented on #155
Hi @MrCreeper1008 @pcr910303  The helpers classes are already in props (The base element have it, and all or almost all component of the library render as this element)

you can find the code on https://github.com/couds/react-bulma-components/blob/master/src/modifiers.  Is that what you mean?

[2019-02-27 01:01] MrCreeper1008 commented on #154
I realized bulma was upgraded to 0.7.4 in #151.

[2019-02-27 01:11] MrCreeper1008 commented on #155
Wow, TIL.
This is pretty hidden though; do you think we should create a better documentation?

[2019-02-27 07:59] couds commented on #155
Yes. I need it to. I just bought a domain to create the home page. I need to find some time to do it.

[2019-02-27 08:11] pcr910303 commented on #155
Wow, I didn’t realize about the helper classes! Really need some documentation of the props :-( as I find myself reading the source... Maybe I can help for the docs?
BTW, are you interested in integrating with [bulma-helper](https://github.com/jmaczan/bulma-helpers)?
There are situations where bulma’s CSS doesn’t really look right... and I would appreciate if styling can be handled in a more consi

[2019-02-27 09:25] couds opened #156 "Library Logo"
Hi Guys!

I'm looking for someone to helpme to create a cool logo for this library. I started this library as a hobby, but now that we have a lot of people using it I want to give this a respetable logo (I'm really really bad on design). If you want to help post here a logo proposal.

Thanks all for your support. This new logo will be included on the Readme and the new Webpage I'm creating for thi

[2019-02-27 15:11] alanford123 opened #157 "Using react-bulma-components navigation with react-router"
Dear @couds , thanks for your work so far!

I've one issue I'd like to voice: using the `<Navbar/>` component doesn't work natively with react-router-dom. React router uses a `<Link>` component to render an `<a>` html element, but so does your `<Navbar.Item>`. So the two can not be used together.

Right now there's a workaround, by passing `className={"navbar-item"}` to the `<Link>` component.

Do

[2019-02-27 15:27] MrCreeper1008 commented on #156
I'll try!

[2019-02-27 15:29] MrCreeper1008 commented on #155
@couds alternatively you can consider making the documentation open source and host it for free on github :)

[2019-02-27 15:30] MrCreeper1008 commented on #157
Use the `renderAs` prop and render navbar item as a `<Link />`. I had used this library with React router before and they worked perfectly together.

[2019-02-27 17:14] alanford123 commented on #157
lovely, thank you!

[2019-02-27 17:18] MrCreeper1008 commented on #157
No problem!

[2019-02-27 19:18] #157 closed

[2019-02-27 20:48] gregorskii opened #158 "Docs"
Hi,

The storybooks are great, but I don't find they adequately show how to use the component without looking at the source of the lib, or the storybook.

I think it would make sense to add a documentation site that shows how to use each component without pointing directly to bulma. The pure CSS documentation from bulma does not directly translate to how this library uses those classes.

WDYT?

Th

[2019-03-01 04:51] MrCreeper1008 commented on #158
We're working on it: https://github.com/couds/react-bulma-components/issues/155#issuecomment-467761619

[2019-03-01 05:21] gregorskii commented on #158
Awesome. Thank you very much!

[2019-03-01 05:21] #158 closed

[2019-03-01 12:02] alanford123 opened #160 "Warning: Received `false` for a non-boolean attribute `active`."
I've implemented the active prop for navbar as such `<Navbar active={('Active', this.state.open)}>` or alternatively as such `<Navbar active={this.state.open}>` or as such `<Navbar active={(this.state.open)}>`
where `this.state.open: false`
Implementing the active prop for navbar results in a react warning:

[code]

[2019-03-01 13:28] couds commented on #156
![bulma-react-components](https://user-images.githubusercontent.com/2903371/53641078-2cd79980-3c2e-11e9-9305-fc39857248e2.png)

We have a logo! =)

[2019-03-01 13:29] couds commented on #155
Closing this. we already have the helpers.

[2019-03-01 13:29] #155 closed

[2019-03-01 15:23] MrCreeper1008 commented on #156
Wow, looks nice! I would suggest moving the react logo slightly to the left though.

[2019-03-01 16:20] MrCreeper1008 commented on #160
@couds This is a bug. In this line,
https://github.com/couds/react-bulma-components/blob/fe5dd566d1430745613d0e8619e75941fa6b546d/src/components/navbar/context.js#L3
the value passed to `React.createContext()` should be a Boolean value, not a string,

I will fix this asap.

[2019-03-01 16:22] couds commented on #154
Fixed on fe5dd566d1430745613d0e8619e75941fa6b546d

[2019-03-01 16:22] #154 closed

[2019-03-01 16:43] MrCreeper1008 commented on #160
@alanford123 do keep in mind though, among all three values you've tried passing to the `active` prop, only the second one is correct; the other two, namely:
 - `<Navbar active={('Active', this.state.open)}>`
-  `<Navbar active={(this.state.open)}>`

 are syntactically incorrect and thus will not produce anything meaningful.

[2019-03-02 04:10] MrCreeper1008 opened #163 "Wrong props passed to <Box /> in box.story.js"
In `box.story.js`, the `responsive` prop is given an object with a wrong shape, resulting in these errors:

![boxjs-error](https://user-images.githubusercontent.com/19359984/53676918-b1382400-3ce3-11e9-9244-0d54649c9457.png)

For example, in
https://github.com/couds/react-bulma-components/blob/fe5dd566d1430745613d0e8619e75941fa6b546d/src/components/box/box.story.js#L17

`display` is a string, when

[2019-03-02 10:23] couds commented on #163
Hi @MrCreeper1008 Yes I saw that yesterday. Already fixed on 5a3bc89bc6d0630b2e574ea7656ca978257298e9

[2019-03-02 10:23] #163 closed

[2019-03-02 10:25] couds commented on #142
Hi all, At the end I added a new prop domRef that will accept a Ref created with `React.createRef` this prop will be pass down to the dom element.  =)

[2019-03-02 10:25] #142 closed

[2019-03-02 10:31] couds commented on #149
Hi @stydav I can't find the code you mention in master we alredy point to `_variables.sass`

https://github.com/couds/react-bulma-components/blob/fe5dd566d1430745613d0e8619e75941fa6b546d/src/components/utils.sass#L3-L5

[2019-03-02 10:32] #149 closed

[2019-03-02 10:32] couds commented on #139
Clossing this due inactivity

[2019-03-02 10:32] #139 closed

[2019-03-02 10:42] #122 closed

[2019-03-02 10:43] #111 closed

[2019-03-02 10:44] #144 closed

[2019-03-02 10:47] #160 closed

[2019-03-02 10:47] #156 closed

[2019-03-03 13:16] lukewlms opened #165 "TypeScript basic usage: "JSX element type 'Button' does not have any construct or call signatures.""
On @next: I'm trying to set up a very simple project and getting this error when attempting to use any component.

The .d.ts definitions appear to only export <Button /> as an extension of a props type, not a JSX element constructor.  How do I get around this?  (@dfee)

Minimal repro:

[code]

[2019-03-03 19:40] couds commented on #165
Hi @lukewlms Can you test the version v3.0.1-3 `npm i react-bulma-components@v3.0.1-3` and check if you have the error? That was probably a error I introduce in the latest version.

[2019-03-04 11:27] lukewlms commented on #165
@couds Yes, that release works!   Thanks a lot - excited about the potential of this library for my team, we're huge Bulma and React fans.

[2019-03-04 11:27] #165 closed

[2019-03-13 17:46] alanford123 opened #166 "Failed to compile (~_variables.sass not found)"
When compiling create-react-app 2.1.4 i get this error. Similar to #96 and #74

[code]

[2019-03-13 17:49] alanford123 commented on #166
EDIT: it works after adding `cross-env NODE_PATH=./src` to the build script

[2019-03-14 15:42] #166 closed

[2019-03-17 13:47] libasoles opened #167 "Inconsistency across documentation"
Hi. I installed "react-bulma-components": "^2.3.0".

I've been trying to get this working for a couple of days with no luck.

According to **npm** documentation (https://www.npmjs.com/package/react-bulma-components), I should crate an **alias** to **_variables.sass**. As I don't use webpack, I managed to do that with a plugin:

`npm i --save-dev link-module-alias`

And then in **package.json**
[co

[2019-03-17 15:19] couds commented on #167
Hi @libasoles thanks for using (or trying to use) this library.

For the version 2.x to use the advance setup as you saw you need to create an alias, that's because the library need to import de variables from outside the node_modules.

The initial-variables.sass comes from Bulma and the ~ mean that should be loaded from the node_modules folder (that isn't a alias) IDK why that's fail to you. Can

[2019-03-17 16:48] libasoles commented on #167
Thanks for your (quick) reply. Sure it takes time. Anyway, Storybook and all you have done is great, so thanks for sharing.

Problem with `NODE_PATH `is that it's sometimes used to resolve absolute paths. For example:
https://github.com/facebook/create-react-app/issues/2188#issuecomment-302040874

So, pointing that var to a scss folder is not good. And if I just point to `/src`, then i'm being for

[2019-03-17 17:45] couds commented on #167
Hi.

About the NODE_PATH variable you can have multiple paths like this `NODE_PATH=./src:./src/your/sass/path` that way you can have both path resolved as root module directories.

About typescript I do not use it so I depend of the community for adding TS support =(

[2019-03-18 23:18] jcleefw opened #168 "Button component outlined usage should be available without any modifier"
The usage of outlined is only available when the modifier of the button is define life `is-primary`, `is-link`

I want to be able to use the button as below
[code]

[2019-03-19 16:11] kkomaz opened #169 "Menu List Item - hover active state does not work if using elements"
I have a component like this.

[code]

which renders out this...

![Screenshot of Opera (3-19-19, 12-10-57 PM)](https://user-images.githubusercontent.com/8473884/54622493-0ee8a200-4a40-11e9-9b10-85e4346c42d8.png)

Visually it looks good but i lose the ability of the hover and active state.  Is there a work around for this?

[2019-03-20 11:51] HJerem opened #170 "How to use RBC without Webpack ? Documentation is not clear and I would like to improve it"
Hi,

I'm trying to use this library without success.
I haven't webpack.
Does somebody have a nice and clear example of configuration please ?
I would like to be able to override _variables.scss, using only npm (without webpack), import each component so it reduce bundle sized. Is it possible ? Or does this library needs Webpack ?
I tried this #130 but it didn't work.

Thanks.

[2019-03-20 20:46] jacksaunders opened #171 "Bulma Styles not being imported on Gatsby Build"
I am using v3 of this repo with a gatsby v2 site.

i am importing the components like so

`import {  Field,  Control,  Label,  Input, Help,} from 'react-bulma-components/lib/components/form'`

All is working fine when running `gatsby develop` and the styles are imported from the `form.sass` file in the bulma node_modules folder.

However when i run `gatsby build` none of the Bulma styles are being

[2019-03-20 22:30] HJerem commented on #167
@couds Did you manage to use react bulma components with CRA ? I'm still having hard time figuring out how to make it works...

[2019-03-21 03:33] MrCreeper1008 commented on #167
@HJerem it should work fine with CRA (I have a CRA project that uses react-bulma-components). Should be as simple as doing an npm i.

[2019-03-21 03:34] MrCreeper1008 commented on #169
Hi, can you make a small reproducible demo? Thank you!

[2019-03-21 03:37] MrCreeper1008 commented on #168
I'll take a look. Thanks!

[2019-03-21 14:12] HJerem commented on #167
Well, I don't express myself well. I'm trying to make it work AND override Bulma's variables. Did you succeed to do that ?

[2019-03-21 14:32] couds commented on #167
Hi @HJerem right now only v3 is compatible with CRA with variable override (there are probably some workaround but idk XD).

I'm working on  public page with better docs and I'm using CRA and this library to build it, you can check the code here https://github.com/couds/react-bulma-components/tree/feature/public-page/public that is a working example of this library with CRA.

Note that I'm working

[2019-03-21 15:27] MrCreeper1008 commented on #167
@couds will the new doc be open source?

[2019-03-21 15:51] couds commented on #167
@MrCreeper1008 Yes, you can find it on the link https://github.com/couds/react-bulma-components/tree/feature/public-page/public (will be on the public folder of this repo, but currently its on the public-page branch

[2019-03-21 15:55] couds commented on #168
Hi @jchapple That is a behavior of Bulma.io you should add that request on the Bulma.io github not here, we add the corresponding class
![image](https://user-images.githubusercontent.com/2903371/54765641-29667b00-4bfa-11e9-8674-4dd01cecf72f.png)

[2019-03-21 15:55] #168 closed

[2019-03-21 16:16] MrCreeper1008 commented on #167
Cool! Thanks.

[2019-03-21 21:25] HJerem commented on #167
How can I help ? I really want to use these components, and so I need V3 out (and V4 if it's needed for CRA + variables override) 😄

[2019-03-21 21:52] HJerem commented on #141
@MrCreeper1008 I agree, this is needed.

[2019-03-21 22:11] HJerem commented on #171
Seems to be an issue related to `gatsby-plugin-sass`. What's your version ?
Try to lock your `gatsby-plugin-sass` to version `1.0.19` if you are on `1.0.20`.
Check this issue : [Styles missing from build when using gatsby-plugin-sass with CSS modules](https://github.com/gatsbyjs/gatsby/issues/4457)

[2019-03-21 22:13] HJerem commented on #170
Closing this issue since it's same as #167

[2019-03-21 22:13] #170 closed

[2019-03-22 14:16] MWin123 commented on #165
The bug seems to be back in `react-bulma-components@3.0.1-4`.

[2019-03-22 14:21] couds commented on #165
Yes that version have an issue on the TS definitions. please use the previous one, I didnt had the change to fix it or revert it =(

[2019-03-22 17:31] jacksaunders commented on #171
i'm using version `2.0.11` of `gatsby-plugin-sass`

[2019-03-23 13:10] kkomaz commented on #169
Sorry been delayed will try to get it this weekend!

[2019-03-26 05:28] kkomaz commented on #169
@MrCreeper1008 Here you go!  (npm i && npm run start)  - you can ignore the warnings :)

https://github.com/kkomaz/bulma-test

![demo](http://g.recordit.co/E4vD9DAwc8.gif)

[2019-03-26 05:55] MrCreeper1008 commented on #169
Thanks! I'll look into it.

[2019-03-27 06:24] MrCreeper1008 commented on #169
@kkomaz the behavior you are having problems with is actully default in bulma ([You can check it here](https://codesandbox.io/embed/ry0yv260wo)), and this library has nothing to do with it. You must wrap an `a` tag around any content inside the list item. That said, it would be better if this library would do the wrapping for you. I'll make a PR in my free time.

[2019-03-28 09:06] #150 closed

[2019-03-29 16:46] kkomaz opened #174 "Disable Hamburger option on navbar?"
Is there a good way to disable the hamburger option in the navbar?  For example when the screen gets smaller, I just want it to retain the original nav bar settings in the `<Navbar.Menu>`

[2019-03-30 09:04] MrCreeper1008 commented on #174
No. This is a Bulma behavior and we can't do anything about it. You can manually adjust the threshold of what is considered too small for it to become a hamburger menu but that's about it.

[2019-03-30 14:01] kkomaz commented on #174
is there a key or prop for that?

[2019-03-30 14:15] MrCreeper1008 commented on #174
This may help you: (Bulma doc)[https://bulma.io/documentation/modifiers/responsive-helpers/#hide]
As for how to use them with this libraries, refer to (here.)[https://github.com/couds/react-bulma-components/blob/master/src/modifiers/responsives.js]

Documentations on how to use Bulma modifiers aren't exactly clear, though a new documentation is in the pipeline, and I hope it'll make it easier for

[2019-03-30 14:18] kkomaz commented on #174
Yea no worries.  If things have failed i've been going back to the original bulma library and building it the old fashioned way :)  Just wanted to confirm

[2019-03-30 14:19] #174 closed

[2019-03-30 14:27] MrCreeper1008 commented on #174
Modifiers should work perfectly with this library. Every component in this library accepts prop types defined in the file I linked previously. Just copy the value from Bulma doc and it should work.

[2019-04-05 16:15] kkomaz commented on #169
@MrCreeper1008 In the meantime ill do that :) thanks!

[2019-04-10 14:14] carlbarrdahl opened #176 "Multiple dropdowns unable to open unless hoverable"
Seems to be issues when more than one dropdown is rendered on page.

[2019-04-10 14:18] couds commented on #176
Hi @carlbarrdahl please provide a working example where we can reproduce the issue. Thanks

[2019-04-10 14:30] carlbarrdahl commented on #176
Yes of course: https://codesandbox.io/s/w7pow0yxr7

[2019-04-10 14:50] #176 closed

[2019-04-10 14:50] couds commented on #176
Thanks for reporting it, This will be available on the next prerelease

[2019-04-12 07:02] gbprod opened #177 "Unable to give focus to Form.Input"
Hi,

I'm trying to give focus to an `<Form.Input>` but I get an error : `TypeError: this.searchField.current.focus is not a function`.
Replacing by a standard `<input>` make it work.

How can I focus an input ?

Here is a sample code :

[code]

[2019-04-13 16:10] nerdstep opened #178 "Path to _variables.sass from utils.sass is wrong"
Version: `3.0.1-4`

In `lib/components/utils.sass` the import path is `_variables.sass`, however it should be `../_variables.sass`.

[2019-04-13 20:59] couds commented on #178
Hi @nerdstep thank for reporting it but no its not incorrect,  we use absolute import for the sass to allow overriding that file with your own variables,  check the instruction of the advance configuration https://github.com/couds/react-bulma-components#advanced

[2019-04-13 20:59] #178 closed

[2019-04-14 07:24] brietsparks commented on #177
[Input](https://github.com/couds/react-bulma-components/blob/master/src/components/form/components/input.js#L10) seems to be missing a `domRef` prop, which is how other components pass refs (e.g. [Select](https://github.com/couds/react-bulma-components/blob/master/src/components/form/components/select.js#L10)).

[2019-04-14 08:11] couds commented on #177
Hi all. To get the input ref use domRef prop. It will automatically be passed to the correct Dom element. (In the select case it's manually pass because the select component render more than one Dom element)

[2019-04-15 15:07] #169 closed

[2019-04-16 07:27] couds commented on #177
Hi @gbprod I you are using the @next bersion (the v3 pre-release) change the ref prop to domRef.

[code]

[2019-04-16 07:47] gbprod commented on #177
That works !
Thanks :)

[2019-04-16 08:25] #177 closed

[2019-04-17 12:21] carlbarrdahl opened #180 "InputFile is missing accept props"
Expected: `accept` prop is added to input element
Actual: `accept` prop is added to wrapping `.file` element

https://codesandbox.io/s/mz0j8ljmp9

Additional attributes:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file#Additional_attributes

[2019-04-26 07:25] #180 closed

[2019-04-26 13:57] Calinou commented on #145
With this `App.tsx` file:

[code]

I get the following error:

[code]

Here are the relevant sections from my `package.json`:

[code]

Any idea why this is happening?

[2019-04-26 14:38] couds commented on #145
Currently there is an issue in the 3.0.1-4 version, check https://github.com/couds/react-bulma-components/issues/165

[2019-04-26 15:55] ThunderDev1 opened #182 "[TypeScript] Can't pass extra props when using `renderAs`"
For example, if I'm using react-router, to add links to the navbar, I need to do something like this:

`<Navbar.Item renderAs={Link} to="/page1">Page 1</Navbar.Item>`

I get a TS error saying `to` prop is not supported by Navbar.Item. To get around this I simply use the css class on my Link component

`<Link className="navbar-item" to="/page1">Page 1</Link>`

Is there a better way ? I'm not sure i

[2019-04-27 15:24] MrCreeper1008 commented on #182
I think you should be able to use props of the component passed to `renderAs` directly; it works fine for me. Can you reproduce this issue with vanilla JavaScript?

[2019-05-01 14:16] alanford123 opened #183 "Invalid prop `value` of type `number` supplied to `Input`, expected `string`."
here is the warning. I don't know if this is due to react-bulma-components though, could be a different issue :)

[code]

[2019-05-01 14:18] alanford123 commented on #183
Oh, I see this has been fixed here:
https://github.com/couds/react-bulma-components/pull/153

[2019-05-01 23:53] winfredkqin commented on #36
@couds So can you add a tip on README saying something like: by default, only two icons included? It did confuse me for a few hours on this.

[2019-05-02 13:46] ThunderDev1 commented on #182
This is purely a TypeScript problem. The code runs fine, but I get a type error in my editor (vs code)

Here is an example https://github.com/ThunderDev1/react-ts-parcel/tree/bulma-ts-error

[2019-05-03 09:26] #183 closed

[2019-05-03 12:05] couds commented on #182
@ThunderDev1 currently the TS support on this librery its quite poor (I do not use TS so I didnt added support =( I have an issue opened to improve the TS support asking for help. sorry

[2019-05-04 00:06] Rapol opened #185 "Next.js 8 (with bulma v2 and v3) build error"
I have tried both v2 and v3 and I'm running into the same issue during build:
[code]

Node: v10.15.3
Next: 8.0.3
React: 16.8
react-bulma-components: v2 & v3

Try it here:
https://github.com/Rapol/next-bulma-components-error

[2019-05-04 03:46] MrCreeper1008 commented on #185
Have you followed the installation instruction for next.js? It's shown in README.

[2019-05-04 06:24] couds commented on #185
Hi. You need to install the peer dependencies (your package.json is missing the prop-types module)

[2019-05-04 12:14] Rapol commented on #185
Hi, thanks for the fast response!

I didnt add it to the package.json since during installation npm didnt throw any warnings about prop-types missing(seems that an eslint plugin already has it). But it does throw warnings about react 16.3 not found. I explicitly added prop-types but Im still getting the same error. See below:

[code]

@MrCreeper1008 I am using the next.config.js that the readme ha

[2019-05-04 16:11] MrCreeper1008 commented on #185
Is a full stack trace of the error available? That would be helpful. Thanks!

[2019-05-04 17:45] Rapol commented on #185
Here:

[code]

The transpiled code fails because `_helpers.default` is null when spreading it in `modifiers/index.js`:
[code]

If possible, try to recreate the issue with this repo (https://github.com/Rapol/next-bulma-components-error). Don't wanna waste anyone time if it's a bad local config. I'm now leaning that the issue might be a bad configuration of next-transpile-modules.

[2019-05-05 14:03] MrCreeper1008 commented on #185
Yes I'll try to. Will get back to you asap.

[2019-05-11 05:58] MrCreeper1008 commented on #185
I have no idea why, but `require('./helpers')` returns an empty object in the transpiled code:
[code]
thus causing
[code]
to be undefined.

[2019-05-15 20:22] rynomad commented on #185
Just ran into this; the problem is that you're referencing the already transpiled files in the `lib` directory or react-bulma-components. [This change](https://github.com/rynomad/next-bulma-components-error/commit/6ecac654df47c3983b2ebba159f841c7b1203dcc) will get you going.

[2019-05-15 21:01] Rapol commented on #185
Nice catch 👏 👏 . Will close the issue since the PR changes document how to avoid this.

[2019-05-15 21:01] #185 closed

[2019-05-18 12:43] alanford123 opened #187 "Hero from 'react-bulma-components/lib/components/hero' forwarding props to the DOM"
The `Hero from 'react-bulma-components/lib/components/hero'` component forwards props to the DOM causing an error:

`Warning: React does not recognize the `isDayTime` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `isdaytime` instead. If you accidentally passed it from a parent component, remove it from the DOM element.`

![ima

[2019-05-18 12:56] alanford123 opened #188 "navbar/components/menu.js: Warning: Received `false` for a non-boolean attribute `active`."
Recieving the following error on Navbar.Menu:

[code]

Code
` <Navbar.Menu active={this.state.open}>`

![image](https://user-images.githubusercontent.com/11723882/57970051-d9e3c780-797c-11e9-9243-0f361c4818ad.png)

File in question:
https://github.com/couds/react-bulma-components/blob/master/src/components/navbar/components/menu.js

[2019-05-18 17:40] couds commented on #188
Hi. The active prop need to be defined on the Navbar component not in the Navbar.Menu component. This prop will be propagated using the context

[2019-05-18 17:44] couds commented on #187
Hi. All components int his library pass down the props to the children. It's the developers responsibility to clean the props before passing it to the component.

The prop `isDayTime` and `subtitle` are not valid props for the Hero component

[2019-05-21 12:22] martinfjant commented on #157
Using NavLink and having access to weather it's active or not is not possible though :(..

[2019-05-22 19:37] alanford123 commented on #188
Thank you very much! Perhaps than, the storybook manual can be updated to help others? :)
![image](https://user-images.githubusercontent.com/11723882/58203160-c5376480-7cd9-11e9-97d4-44148caabf5d.png)

[2019-05-22 19:49] alanford123 commented on #187
Thanks @couds. Indeed using destructuring solves the issue. I've run into this with using styled-components together with react-bulma-components, and passing props to styled components for conditional CSS rules. The solution, for anyone looking at this in the future can be found here:
https://github.com/styled-components/styled-components/issues/135

just use code as such:
```const ListElement = s

[2019-05-28 22:29] xetrics opened #190 "Can't use variables.sass"
I am currently trying to use node-sass-chokidar as described in the docs to use CRA without ejecting my project. When I try to complile, I get this error from within the react-bulma-components package:

[code]

I am using the build script straight from the docs. My project hierarchy:
[code]

Here is where I am importing button.sass ((the file currently throwing the error)
[code]
I am doing everyth

[2019-05-31 09:21] couds commented on #188
Yes currently the storybook its from v2 (because I didnt release v3 as the latest version yet) :(

[2019-05-31 09:21] #188 closed

[2019-05-31 09:22] #187 closed

[2019-06-15 14:21] verheyenkoen commented on #76
I struggled with this too until I found this ticket. I guess it would be good to note this in the README or in the storybook somehow.

[2019-06-17 07:21] couds commented on #190
Hi, which version of the library are you using?

[2019-06-17 11:51] efeichen commented on #190
Check the [advanced setup](https://github.com/couds/react-bulma-components#advanced) portion of this Github repo's README. It provides more details than that on NPM.

If this solves your problem then maybe updating the NPM docs will be the next best move since it's the first result that comes up on Google.

[2019-06-24 12:20] verheyenkoen opened #191 "Peer dependency warnings for v3"
When installing v3 (`@next`) I get two incorrect peer dependency warnings:

[code]

I guess RBC shouldn't "stick" to these very specific patch version dependencies?

[2019-06-28 14:27] couds commented on #191
Hi @verheyenkoen No this is an error on the PeerDependencies, should be > than.

[2019-06-30 17:51] ytm127 commented on #113
is-rounded on <Image/> still not working...?

[2019-06-30 17:58] MrCreeper1008 commented on #113
Care to show your code here?

[2019-06-30 17:59] ytm127 commented on #113
`<Image is-rounded src={process.env.PUBLIC_URL + '/profile.jpg'} />`

[2019-06-30 17:59] ytm127 commented on #113
Thanks for your quick response!

[2019-06-30 18:04] MrCreeper1008 commented on #113
First, the prop name is `rounded`, not `is-rounded`. Second, prop names with "-" are invalid in react, so your ide should've been able to catch that error. Do get back to me if it works or not though. Thanks!

[2019-06-30 18:06] ytm127 commented on #113
`<Image rounded src={process.env.PUBLIC_URL + '/profile.jpg'} />`

I think this is the correct way? Any idea if it's still not working? First day using react-bulma-components. It's awesome

[2019-06-30 18:12] MrCreeper1008 commented on #113
Yes, this is the correct way.

[2019-06-30 18:23] ytm127 commented on #113
Mmm interesting, it's not working for me. i'll dig in some more. Thanks for your help sirrr

[2019-07-01 19:33] verheyenkoen commented on #191
@couds Want me to send a PR for that?

[2019-07-01 23:03] couds commented on #191
Yes please =)

El El lun, 1 jul 2019 a las 21:33, Koen Verheyen <notifications@github.com>
escribió:

--
*Bsc. John Benavides.*
Senior Developer

Phone: +34 633 641 825

[2019-07-03 08:05] #191 closed

[2019-07-04 16:21] PatrickGTR opened #193 "Icons"
Is there a list of Icons when using, tried looking through the source code but had issues finding.  The documentation doesn't say it as well.
https://couds.github.io/react-bulma-components/?selectedKind=Icon&selectedStory=Custom%20Icon&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel

[code]

[2019-07-06 04:35] MrCreeper1008 commented on #193
The `icon` prop takes in an icon name from FontAwesome.

[2019-07-07 13:22] pcr910303 opened #194 "Columns `is-vcentered`"
Is [`is-vcentered`](https://bulma.io/documentation/columns/options/#vertical-alignment) also covered?̊̈

I cannot see any mention about center in the [corresponding code](../blob/master/src/components/columns/columns.js).

[2019-07-08 02:48] #193 closed

[2019-07-09 12:11] eldyvoon commented on #177
domRef or ref won't work with useRef()?

[2019-07-11 06:41] dmcshehan commented on #113
`rounded` isn't working for me either.

[2019-07-11 11:22] MrCreeper1008 commented on #113
Interesting. I'll take a look. Thanks for reporting!

[2019-07-29 02:04] RobJacobson opened #197 "How to use relative paths in image elements?"
I'm new to react-bulma-components.  I have some starter code that works fine in App.js:

However, I can't get this working with relative paths.  I saved "640x480.png" as a test image to my src/ directory (where App.js also resides), and then attempted the following options:
`              src="./640x480.png"
               src="./src/640x480.png"`

Am I doing something wrong?  What should I use as

[2019-07-29 21:46] RobJacobson commented on #197
I realized this was a React problem, not a react-bulma issue.  I found the solution here:

`https://facebook.github.io/create-react-app/docs/adding-images-fonts-and-files`

[2019-07-29 21:46] #197 closed

[2019-08-01 15:02] couds commented on #194
Hi @pcr910303 sorry for the wait, currently its not on the library (I think this props was added later to bulma) I will try to add it as soon as I can, currently I'm quite busy but I will try my best. (Also PR's are welcome) ;-)

[2019-08-01 15:40] MrCreeper1008 commented on #194
@couds I'll do that

[2019-08-03 12:35] ezvr opened #199 "npm release is behind master"
the version of @next on NPM repo is a couple of months behind the master branch on github. Could you please update it?

[2019-08-14 09:55] jamwaffles opened #200 "Type '"color"' does not satisfy the constraint ..."
Versions:

* `tsc --version` -> `3.5.3`
* `react-bulma-components` -> `3.0.1-6`

I get the following confusing compile error when running `tsc` against a project that uses Bulma. I've tried various 3.0 versions and the same problem persists. Apologies for the long lines.

[code]

[2019-08-14 13:42] couds commented on #199
Hi, Thanks for notice this. I just updated the next tag to the version `3.0.1-7`

[2019-08-14 13:42] #199 closed

[2019-08-30 02:19] yuniel777 commented on #43
Hi, i still dont understand how icon could be displayed.
Some help plz ^^

`import React, { Component } from 'react';
import { withTranslation } from 'react-i18next';
import { Dropdown } from 'react-bulma-components';

class SwitchLanguage extends Component{

    constructor(){
        super();
        this.state = {
          languages:  [],
          selected: 'active',
          visualising: un

[2019-09-11 05:13] KenyStev opened #203 "Burger button not working"
https://couds.github.io/react-bulma-components/?selectedKind=Navbar&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel

I found the issue and fixed in my side, it's not an issue in the source code of the library but in the story example.

the issue is `active` is supposed to be passed through the Context (as props in the Navbar component) bu

[2019-09-11 17:03] loopmode commented on #190
I'm trying out @next version for typescript support, in an electron-webpack application. I don't even want advanced setup as I don't need variable overrides and I don't care about bundle size.
Still I must provide _variables.sass when I import individual components, otherwise compilation fails. It's very inconvenient.
I now customized my webpack setup to include a special folder `src/renderer/bulm

[2019-09-13 20:08] bobman38 opened #204 "navbar with dropdown"
Following case #91 I can't see a way to create a navbar with dropdown 😄

The storybook don't show any element regarding `<Navbar.Dropdown>` component but there is [one](https://github.com/couds/react-bulma-components/blob/master/src/components/navbar/components/dropdown.js) !

Who have a working example of a navbar-dropdown element ?

THANKS !

[2019-09-17 08:34] unrealsolver commented on #204
[code]

[2019-09-17 13:25] bobman38 commented on #204
bom thanks that's answer my question ! I will raise a PR on the stoybook 😃

[2019-09-17 13:25] #204 closed

[2019-09-17 21:43] jamwaffles opened #205 "Type '{ children: Element[]; }' has no properties in common with type 'IntrinsicAttributes & ElementProps & RefAttributes<any>'."
Perhaps similar to #165. I'm using Typescript.

I'm attempting to move away from a custom type declaration for `react-bulma-components` to using the "basic" style of import. However, I keep getting this error and others like it for various Bulma components:

[code]

Here's another example:

[code]

Curiously, I only get this error on `Card` (and its child components like `Card.Content`), and `Butt

[2019-09-28 02:23] MrCreeper1008 commented on #203
I thnk this is fixed in v3’s documentation but i need @couds to confirm.

[2019-10-04 14:16] DimitarChristoff opened #206 "Issue on props warnings for renderAs when using forwardRef"
https://codesandbox.io/s/confident-northcutt-bbt9v

usecase: `react-router-dom`'s `Link` element, see https://github.com/ReactTraining/react-router/blob/master/packages/react-router-dom/modules/Link.js#L70

uses `forwardRef` which returns an `object` whereas your definition is `oneOf` accepting `string`, `function`

more: https://reactjs.org/docs/forwarding-refs.html

[2019-10-04 14:18] DimitarChristoff commented on #73
this is still very much an issue, we keep seeing shorted names only. would you like a PR that adds displayNames for all components?

[2019-10-04 14:25] couds commented on #73
Hi @DimitarChristoff On Storybook the names are correctly set

![image](https://user-images.githubusercontent.com/2903371/66214979-f5990180-e6c2-11e9-8b43-ec7be7c9c7e3.png)

to have the names of the components on your build (if you are using the advance configuration) you can change the path from `react-bulma-components/lib` to `react-bulma-components/src`. This will be the default on the next maj

[2019-10-04 14:27] couds commented on #206
This is fixed on version 3 (`npm i --save -E react-bulma-components@next`)

[2019-10-04 15:25] DimitarChristoff commented on #73
Hey

We are using v 3.0.0-7 atm.

import from dist or full uses the lot, which has no `displayName` and all classes are mangled.

using `src` is not quite possible because most projects / setups like CRA will not apply transforms to node_modules (that is assumed to be already consumable so no transpilation)

stuff like:

[code]

that fails because tabs goes: `require("./tabs.sass");` and the whole

[2019-10-04 15:27] DimitarChristoff commented on #206
we are using 3.0.0-7 atm. I've updated the code sandbox. https://codesandbox.io/s/confident-northcutt-bbt9v

open the console, then reload the result. you get:

![image](https://user-images.githubusercontent.com/119500/66219831-c9ca4b80-e6c3-11e9-9010-d7594f2fde93.png)

[2019-10-05 15:22] #190 closed

[2019-10-05 15:49] couds commented on #206
Hi, IDK why this didn't happen on my project (maybe this is an issue on the basic configuration build, but now its fixed on version `3.1.2` https://codesandbox.io/s/late-wave-o97zy

![image](https://user-images.githubusercontent.com/2903371/66257364-7aa21a80-e798-11e9-9771-d8e79c3403a0.png)

[2019-10-05 15:50] #206 closed

[2019-10-06 16:58] couds commented on #117
Tookme long but I'm finally releasing V3 as latest stable version. Also the storybook its now updated

[2019-10-06 16:58] #117 closed

[2019-10-06 17:01] MrCreeper1008 commented on #200
Can you try creating a new project with `react-bulma-components` and `typescript`, and see if the error is still there? Thanks.

[2019-10-07 11:44] DimitarChristoff commented on #73
I tried babel-transform-react-displaynames but it didn't work. Gonna see if
I can fix it otherwise but your build config is awkward and does not run on
Windows, will prep a PR for it.

On Fri, 4 Oct 2019 at 3:25 pm, John <notifications@github.com> wrote:

--
Dimitar Christoff

"JavaScript is to JAVA what hamster is to ham"
@D_mitar - https://github.com/DimitarChristoff

[2019-10-07 12:26] couds commented on #203
Hi @KenyStev I think this issue was because the mismatch of the versions, the storybook was pointing to V2 and the burguer using the context is V3. now I updated the storybook and should work correctly.

Thanks! =)

[2019-10-07 12:26] #203 closed

[2019-10-07 12:29] couds opened #207 "Rewrite TypeScript definition"
I open this here to discuss if I should remove the TS support. currently there are several issues related with the `.d.ts` file but I do not know ts (I use pure JS), so maybe removeing this can solve some issues. unless someone can help me with the TS support.

So. Unless someone help me with TS I will probably remove the TS condiguration on the next major release.

Thanks!

[2019-10-07 12:33] couds commented on #167
I finally release v3 as the latest version the inconsistency on the docs should be solved. Open this again if you find something else.

Thanks

[2019-10-07 12:33] #167 closed

[2019-10-07 12:34] couds commented on #132
This is not necessary, you can actualy do this and should work. (I dont know why I didnt said before)

[code]

[2019-10-07 12:34] #132 closed

[2019-10-07 12:38] #194 closed

[2019-10-07 12:39] couds commented on #171
This is still happening? the Gatsby issue is solved

[2019-10-07 13:16] couds commented on #73
Hi @DimitarChristoff I'm removing the tangle of the dist folder (as you said do not make much sense). also I will fix the build process to works on windows (adding cross-env to setup the env variable needing on build)

I hope this do the trick =)

[2019-10-07 14:43] MrCreeper1008 commented on #207
I agree. Currently, TypeScript is causing too much issue so if we are to keep the TypeScript support I think we have to rewrite all type files (I have some experience in TypeScript now so I can help with that). We can rewrite TypeScript in a separate branch.

[2019-10-08 10:45] DimitarChristoff commented on #73
Great news

Heads up, when we use 3.1.2, it works in dev mode but a prod build causes a `Uncaught TypeError: Super expression must either be null or a function, not undefined` error in the Navbar component when it tries to call the super(), presumably PureComponent. Something has gone a bit wrong.

[2019-10-08 11:07] couds commented on #73
Hi @DimitarChristoff I just did a hotfix (published on tag `test-hotfix`) `npm i --save react-bulma-components@test-hotfix`. currently I can't test it, but if you can I release the hotfix =)

[2019-10-08 12:20] DimitarChristoff commented on #73
it looks like this stopped breaking the build. 👍 cheers!

[2019-10-08 13:20] couds commented on #73
Released v3.1.3 :tada:

[2019-10-08 14:27] DimitarChristoff opened #208 "[documentation] forwardRef API"
just a quickie this time (I promise...)

usecase:
[code]
correct:

[code]

Looking at your source, you use `domRef=` which is not listed as API anywhere on the component element pages, though it's in https://couds.github.io/react-bulma-components/?path=/story/element--default - you need to read the source and see how that recomposes

may be good to document it or to use forwardedRef or something m

[2019-10-09 09:56] Pitbi opened #209 "Error with: @import "_variables.sass""
Hello,

With the latest version, I have the following error:

`
@import "_variables.sass"
      File to import not found or unreadable: _variables.sass.
      in .../node_modules/react-bulma-components/lib/components/utils.sass (line 3, column 1)
`

When I import:

`
import {
  Field,
  Control,
  Label,
  Input,
} from 'react-bulma-components/lib/components/form'
`

It works if I delete It works

[2019-10-09 15:27] couds commented on #209
Hi @Pitbi did you setup the path to your `_variables.sass` file?

check https://github.com/couds/react-bulma-components#advanced

Also please provide your configuration or a example project where we can replicate the issue

[2019-10-09 20:29] Pitbi commented on #209
Oops... Sorry it's my fault.

I was a little fast in the Gatsby configuration ... I forgot `includePaths` in the `gatsby-plugin-sass` options.

Thanks for the answer anyway!

[2019-10-09 20:29] #209 closed

[2019-10-10 00:45] baronnoraz opened #210 "Configuration Example for Parcel"
This is a request to add a configuration example for Parcel (if anyone has a working example!).  I have been unable to get this to work.  I always get `Can't find stylesheet to import` `@import "_variables.sass"`.  Thanks!

[2019-10-14 10:15] icyJoseph commented on #210
First thing is to have `"_variables.sass"` at the very top, for example, `project/src/_variables.sass`. I reckon you've read a bit on Parcels' [documentation](https://parceljs.org/scss.html) and this [already solved issue](https://github.com/parcel-bundler/parcel/issues/1836) - I'll give it a go and see how it goes, but please do try having `"_variables.sass"` at the top entry level of your projec

[2019-10-14 22:43] RyanChristian4427 opened #212 "Configuration and setup of _variables.sass"
Have you by any chance thought about setting your variable system to be something more like  [Buefy's](https://buefy.org/documentation/customization)?

CRA currently does not allow setting the `baseUrl` to anything but `src` and `node_modules`, which is unfortunate, but CRA has never been ones to really care too much about other use cases. So because I'd need to put `_variables.sass` directly unde

[2019-10-15 05:36] couds commented on #212
Thanks for your suggestion but I probably will not change the approach. I like to only import the necessary styles and not all the styles without doing it manually (that’s will be the result using the approach you suggest)

The variables in the src folder is an example you can put it anywhere you like just need to point the correct variable to the folder (NODE_PATH)

I have to test if the baseUrl

[2019-10-15 05:36] #212 closed

[2019-10-15 22:27] MrCreeper1008 commented on #208
Where is the repo for the doc?

[2019-10-15 22:35] couds commented on #208
@MrCreeper1008 this one, currently only the Readme and the storybook. the public page is WIP (in this repo on the branch https://github.com/couds/react-bulma-components/tree/feature/public-page

[2019-10-15 23:50] MrCreeper1008 commented on #208
ill make a quick pr for that. thanks!

[2019-10-19 21:16] #208 closed

[2019-10-19 21:17] couds commented on #171
Closing this due inactivity

[2019-10-19 21:17] #171 closed

[2019-10-19 21:17] #141 closed

[2019-10-21 21:57] MrCreeper1008 opened #214 "Use prettier for project?"
Right now `prettier` isn't used by the project. Would be great if it is.

[2019-10-25 21:39] couds commented on #214
Hi can you tell me the benefits of adding this on the top of the eslint?

[2019-10-25 21:51] MrCreeper1008 commented on #214
It is an automatic, opinionated code formatter so you dont have to manually format the code yourself. It also enforces consistent code style which i think is important. also its supre convenient to not having to worry about formatting since it does all the work..

[2019-10-26 04:49] couds commented on #214
But what is does in this PR that eslint . —fix’ does not?

[2019-10-26 05:02] MrCreeper1008 commented on #214
https://github.com/prettier/prettier-eslint/issues/101
I think this should answer your question :)

[2019-10-27 03:56] RobJacobson opened #219 "Is jsconfig.json necessary for CRA?"
I'm relatively new to React. I found the instructions for integrating with SASS and create-react-app rather confusing.

In particular, the documentation states the following:

However, CRA doesn't include a jsconfig file by default. The documentation here doesn't explain how/where/why to create this file. Is this step required? This was a pain point for me.

I was also confused by discussion of th

[2019-10-27 04:09] RobJacobson commented on #214
Seconded. Prettier enforces visual styles like indentation and object formatting, rather than substantive styles like eslint.  It's more and more common across the web.  If you use Prettier, then your code will look more similar with other people's code.

Prettier is highly opinionated and it enforces those opinions. One of the best statements I've read is that "I hate how Prettier reformats my ow

[2019-10-27 21:03] RobJacobson opened #220 "Create rbc documentation based on official Bulma documentation?"
I'd like to offer a friendly suggestion. I find the documentation on the Bulma homepage to be really beautiful and clear. It organizes the content into different categories (e.g., modifiers, columns, and layout) and subcategories. It then provides simple code examples for copy-paste coding.

In contrast, I'm finding the Storybook documentation for this project difficult to follow as a Bulma beginn

[2019-10-28 06:37] couds commented on #219
Hi

We are currently working on a public page with a better documentation.

The current documentation for the advance configuration assumes the developer have some knowledge Of the framework.

[2019-10-28 06:37] couds commented on #219
Hi

We are currently working on a public page with a better documentation.

The current documentation for the advance configuration assumes the developer have some knowledge Of the framework.

[2019-10-28 06:51] RobJacobson commented on #220
By the way, I realize that you're working on better documentation.  Hence the suggestion.  :-)

[2019-10-28 08:16] couds commented on #220
Hi @RobJacobson Thanks the idea is just as just suggest its to have the documentation page like the bulma.io docs, you can check the WIP on https://react-bulma.dev and contribute on this [branch](https://github.com/couds/react-bulma-components/tree/feature/public-page). and the translations are in [Crowdin](https://crowdin.com/project/react-bulma-components)

[2019-10-28 08:16] #220 closed

[2019-10-28 08:19] #219 closed

[2019-10-29 08:42] ljosberinn commented on #207
Concerning rewriting it: [rbx](https://github.com/dfee/rbx) has everything typed - that said, it currently has some issues with too complex types. Depending on whether it's dead (technically maintained, but no commit since June) or will be "fixed" for TypeScript 3.5.3+, rebuilding types based on rbx might be interesting, alternatively leave it to rbx.

[2019-10-29 08:44] couds commented on #207
well, rbx was a fork of this project to beging with XD

[2019-10-31 15:15] coder2000 commented on #205
I am getting this on the container as well, not all of the properties are in the definition file for Typescript. Either the types need to be updated with the components or removed and managed as a separate @types project.

[2019-11-09 19:09] helmuthdu commented on #207
Idk if this could help, but I have done a complete rewrite of this repo using typescript, most of the things seem to be working fine, I have also kept it updated with the changes from this repo. Another thing is that I changed from enzyme to react testing library.

[2019-11-09 20:14] MrCreeper1008 commented on #207
It would be great if you could share your progress with a pr! Although I'm curious why you replaced enzyme with react testing library.

[2019-11-13 20:24] lnorton89 commented on #60
So what's the consensus?

[2019-11-17 01:27] stliang opened #224 "hero--vertical-alignments"
I am trying out Hero.Head and want to set its color.  The result is the primary color covered all of the page.

https://couds.github.io/react-bulma-components/?path=/story/hero--vertical-alignments

    <Hero size="fullheight" color="primary" >
      <Hero.Head renderAs="header">
        <div className="bd-notification is-info">Header</div>
      </Hero.Head>
      <Hero.Body>
        Body
      <

[2019-11-24 04:11] MrCreeper1008 commented on #224
This is weird. Looking into it.

[2019-11-24 04:14] MrCreeper1008 commented on #224
Use the `Notification` component instead of using `className`.

[2019-12-06 22:01] MrCreeper1008 commented on #224
Closing this due to inactivity. If you are facing the same issue, I wil reopen. Thank you!

[2019-12-06 22:01] #224 closed

[2019-12-06 22:22] gragland opened #227 "Using RBC for the Divjoy component library"
Hey there, I run http://divjoy.com and I'm interested in rebuilding our library of templates and components using react-bulma-components. I'd also potentially be able to help out and financially support development of this project. @couds Is there a good email address or place we could chat?

[2019-12-07 17:50] MrCreeper1008 commented on #227
Sounds great!!

[2019-12-10 15:11] dehoka6008 opened #228 "<Navbar /> mobile hamburger does not expand in storybook"

[2019-12-12 10:04] jarrad-obrien commented on #228
Go to "Knobs" and toggle the "active" checkbox:
![image](https://user-images.githubusercontent.com/16055331/70702762-e669ac00-1d22-11ea-8b27-63f4b8220878.png)

[2019-12-17 04:28] MrCreeper1008 commented on #228
Closing due to inactivity. If anyone is having problem with this I will reopen. Thanks!

[2019-12-17 04:28] #228 closed

[2019-12-17 06:48] #214 closed

[2019-12-17 10:43] ivoba commented on #203
I guess its still not working, see in Chrome with responsive inspector on:
https://couds.github.io/react-bulma-components/iframe.html?id=navbar--default&viewMode=story#

The Burger menu shows up but no dropdown.

[2019-12-17 10:55] ivoba commented on #203
You have to add the toggle mechanism yourself:

[code]

[2019-12-26 00:24] philohelp opened #229 "How to change the navbar-item:hover property ?"
Hello all,

I'm trying to change the almost plain white of the navbar-item hover background into a 10% white. Any idea on how I could catch this property ?

Thanks in advance !

[2019-12-27 04:38] MrCreeper1008 commented on #229
If you use styled-components, you can override styles like this:
[code]

[2019-12-27 10:12] philohelp commented on #229
Thanks for the tip. Unfortunately I don't have styled-components. For this project I use NextJS and their <style jsx> pattern.

[2019-12-27 10:41] MrCreeper1008 commented on #229
You can define a custom class:
[code]
Then use className to pass in the class.

[2020-01-01 03:51] paustria commented on #55
I'm using this.
[code]

[2020-01-01 06:01] MrCreeper1008 commented on #55
@koddr thank you for the issue. I'll put this in the new documentation :)

[2020-01-03 13:59] allmyloving commented on #130
Hi @couds, I'm working on Windows machine, so in package.json I've changed `NODE_PATH=./src react-scripts start` to `set NODE_PATH=./src && react-scripts start`, but I'm getting an error that _variables.sass cannot be found. Do you happen to know what might be the problem?

[2020-01-04 06:44] MrCreeper1008 commented on #229
Closing due to inactivity. If anyone is having problem with this, I can re-opn. Thank you :)

[2020-01-04 06:44] #229 closed

[2020-01-04 06:46] MrCreeper1008 commented on #210
@icyJoseph would be great if you can create a minimal example so I can add instructions on how to configure this library with parcel in the new documentation. thank you!

[2020-01-04 06:48] MrCreeper1008 commented on #207
@couds any plan for a re-write in TS? i have had some experience with TS now, and i think i can do it to solve all TS-related problems.

[2020-01-04 06:51] couds commented on #207
Hi. I don’t want to rewrite it in TS. Maximum is to fix the definition
files

El El sáb, 4 ene 2020 a las 7:48, Kenneth <notifications@github.com>
escribió:

--
*Bsc. John Benavides.*
Senior Developer

Phone: +34 633 641 825

[2020-01-17 01:35] clehene opened #230 "[TypeScript] - Can't set button type attribute"
<img width="701" alt="Screen Shot 2020-01-16 at 5 33 52 PM" src="https://user-images.githubusercontent.com/101597/72577166-8cf71e80-3886-11ea-9d3a-0e0b275bec8b.png">

[code]

[2020-01-17 02:08] clehene commented on #230
Not a bug. This should be passed as `submit` attribute.
I seem to hit this repeatedly. Couldn't `Button` instead inherit `ButtonHTMLAttributes`
[code]

[2020-01-18 11:25] MrCreeper1008 commented on #230
I'll look into it. Thanks!

[2020-01-18 11:32] MrCreeper1008 commented on #230
If you want to set the type of the button as submit, pass down a `submit` boolean prop. Same for reset type. I think `type=` is more natural though. cc @couds

[2020-02-12 21:21] RichAWarren opened #232 "Next 9 - File to import not found or unreadable: _variables.sass."
Hi! I've followed the advanced instructions to install the components for next.js but am still failing to correctly import the variable sass file. Its a next.js 9 app created with creat-next-app. On `yarn dev` I get the following stack trace:

[code]

I've tried to follow all the similar issues in the repo but none have yet solved the problem, the only difference I can see is that I am using nextj

[2020-02-13 11:31] RichAWarren commented on #232
Update to this:
I suspect the problem is down to nextjs 9.2 significantly changing the way css is imported, see details:
https://nextjs.org/blog/next-9-2. Will experiment with fixes in due course

[2020-02-16 01:26] joprice commented on #207
@helmuthdu Is there a release of your fork? I'd prefer to use a version o these components written in ts.

[2020-02-17 02:31] mikecanann commented on #232
I'm running into the same issue. But I'm not using next.

[2020-02-20 20:29] MrCreeper1008 commented on #232
@mikecanann what framework are you using?

[2020-02-20 20:30] MrCreeper1008 commented on #232
@RichAWarren I have no experience in next.js, but I'll look into this issue in my spare time. Thank you!

[2020-02-20 20:33] MrCreeper1008 commented on #207
@joprice I might rewrite this in TS in my spare time and put in in a separate branch or sth but I'm not sure. Writing definition files is tedious and is prone to errors so rewrite is necessary at some point imo.

[2020-02-21 03:03] mikecanann commented on #232
I'm just using react. I created a project using create-react-app

[2020-02-21 03:21] MrCreeper1008 commented on #232
Did you follow this [instruction](https://github.com/couds/react-bulma-components#cra)?

[2020-02-24 00:47] steveblue commented on #210
`@import "_variables.sass"` is improper syntax. All you should need is `@import "variables"`

[2020-02-25 04:09] codebytere opened #233 "[TypeScript] - can't set Navbar.Item href attribute"
The example used in the [Storybook](https://couds.github.io/react-bulma-components/?path=/story/navbar--default) doesn't work:

<img width="748" alt="Screen Shot 2020-02-24 at 8 10 30 PM" src="https://user-images.githubusercontent.com/2036040/75214247-bd619080-5741-11ea-99d9-29c09e5cd677.png">

Happy to open a PR to fix this if i could get a pointer as to your preferred path forward :)

[2020-02-25 14:38] alexandrtovmach commented on #233
It works correctly but for JS, for TS need to update definitions file
details here: https://github.com/couds/react-bulma-components/issues/182

[2020-02-25 14:57] alexandrtovmach commented on #207
Hello, I just started using this package, but facing with many wierd TS issues it's not good =/
In case of not very active discussion here I propose next steps:
1. Remove current `d.ts` file to fix issues #234
2. Start writing stable type definition file version (probably we can update current)

[2020-02-25 18:39] MrCreeper1008 commented on #207
Good idea. But now we need help to write the doc AND the typedef. I don't have much free time right now :(

[2020-02-25 18:48] alexandrtovmach commented on #207
@MrCreeper1008 Same, but now we haven't any issues, so no need to hurry
@couds could you create a branch `patch/ts-definitions`, so we can work together on it?

[2020-02-27 06:25] MrCreeper1008 commented on #207
@alexandrtovmach I'll create one.

[2020-02-27 21:03] alexandrtovmach commented on #207
@MrCreeper1008 👍

seems like this issue can be closed

[2020-02-27 21:05] MrCreeper1008 commented on #207
I want to leave it open until we finish writing the definition file. I can rename it tho

[2020-03-03 10:56] couds commented on #227
I'm closing this due @gragland and I already talked. =)

[2020-03-03 10:56] #227 closed

[2020-03-10 18:53] markdid opened #236 "Bulma Components blocking children events"
Hi, I recently switched a project from bloomer to react-bulma-components.
I have a component built on D3 which utilizes D3's .zoom events to navigate an svg map. When put in a page built using bloomer the map worked just fine. When inserted into a page using react-bulma-components, the .zoom event no longer fires though other events like mouse work just fine.
When I try to drag around inside my ma

[2020-03-11 02:41] MrCreeper1008 commented on #236
Hi, I'm not familiar with D3. Can you explain what `.selectAll` does?

[2020-03-11 02:45] markdid commented on #236
It selects all svg elements with a given classname. In my case '.all' is the svg group containing the whole map.

[2020-03-11 02:46] MrCreeper1008 commented on #236
So are your svg elements rendered under the `Carrels` component, which is under `Columns.Column`?

[2020-03-11 02:51] MrCreeper1008 opened #237 "Update to Bulma v0.8.2"
This is an issue to track features introduced in Bulma 0.8.0.

- [x] Support light/dark variants of main colors
- [x] Support panel colors
- [x] New `.is-fullwidth` modifier for `image`

[2020-03-11 02:54] markdid commented on #236
Yeah that's correct.

[2020-03-11 02:55] MrCreeper1008 commented on #236
Thank you. I'll look into it.

[2020-03-11 03:07] MrCreeper1008 commented on #236
Can you make a minimal repo that can reproduce this issue? Looking into this I don't see why it won't work because `Columns.Column` is just `div` under the hood.

[2020-03-11 17:02] markdid commented on #236
Sure, here is a quick and dirty example -> [repo](https://github.com/markdid/react-bulma-map) Note in App.js the shape on top inside the div is draggable while the same component inside Columns is not. I don't think the issue is limited to just the Columns component either.

[2020-03-11 17:21] couds commented on #236
Hi @markdid can you please describe the current behavior and the expected behavior, and how to test it?

How to fire the zoom event for example, I downloaded the repo and can zoom in/out with the mouse wheel, but not sure if that the issue you are having.

Thanks!

[2020-03-11 17:33] couds commented on #236
Hi @markdid I checked the code and the issue does not seem to be on the react-bulma-component library.

If you change the order on the App.js to

[code]

The one in the `column` works but the one in the `div` doesn't

[2020-03-11 18:07] markdid commented on #236
You're right, i'm trying to re-create the issue now.

[2020-03-11 18:37] MrCreeper1008 commented on #237
Fix for https://github.com/jgthms/bulma/issues/2671 will be released in v0.8.1. We will be targeting that version instead.

[2020-03-11 18:58] MrCreeper1008 commented on #207
Will start writing TypeScript definition after upgrading to bulma v0.8.1 (#237)

[2020-03-14 14:36] floric commented on #207
I was surprised with the latest upgrade. It seems like you've decided to remove the definitions for now? I totally understand that it's time consuming and might not be relevant for all users. I was just surprised as I didn't read anything in the docs about this.

Maybe I can help you with the definitions, but not sure yet, how much time I can spend on this...

[2020-03-14 14:57] MrCreeper1008 commented on #207
The old definition is broken for many users, so we decided to remove it until we can write a better one. Sorry for the sudden change. We should have a changelog of some sort at some point.

[2020-03-17 05:00] dionart commented on #55
have you found a way to take out the underline in the button?

[2020-03-17 14:46] MrCreeper1008 commented on #55
You can use the renderProp of `Button` and pass `Link` to it, and then either create a css class to remove the underline and pass the class name to the component via `className`, or create a `styled` component like:
[code]
and then remove the underline in the css.

[2020-03-17 14:46] MrCreeper1008 commented on #55
If it does not work please tell me.

[2020-03-18 17:22] couds commented on #236
Closing this due inactivity.

[2020-03-18 17:22] #236 closed

[2020-03-21 10:45] kennethnym opened #242 "Documentation"
Using a library that generates documentations from markdown files will make writing documentation much easier and less tedious. Updating documentation will also be easier too. Right now, we are using a full-blown `create-react-app` project just to display a static docs page. It is way too overkill and inefficient imo. cc @couds

[2020-03-21 10:47] MrCreeper1008 commented on #242
It will also considerably speed up the process of creating the documentation.

[2020-03-21 20:32] couds commented on #242
Hi. I understand what you mean but I believe in in using your own library to do the docs https://en.m.wikipedia.org/wiki/Eating_your_own_dog_food

[2020-03-21 20:39] MrCreeper1008 commented on #242
docz, for example, lets you use your own components for the generated documentation. Is this what you prefer?

[2020-03-22 09:09] pm0 opened #243 "Navbar 'has-navbar-fixed-' attribute on html tag should not be removed on mount"
When using a fixed Navbar component, the class `has-navbar-fixed-top` or `has-navbar-fixed-bottom` is applied to the html tag. It looks like when the Navbar mounts, if that class exists it's removed and re-added. This causes a short flicker on first load or when navigating to another page in the site, as the padding is applied.

[code]

I'm currently overriding like this in my index.scss but it's

[2020-03-22 09:17] MrCreeper1008 commented on #243
I will look into this. Thank you!

[2020-03-23 09:09] couds commented on #242
@MrCreeper1008 Docs seem awesome, let's check its make sense to have docz and storybook. because both seem to be quite similar for showing the components.

[2020-03-23 09:27] MrCreeper1008 commented on #242
I'd say docz does a better job in documenting components because it actually is a documentation generator, whereas storybook is more geared towards component `development`. I think we don't need a storybook anymore if we adopt docz.

[2020-03-25 01:11] MrCreeper1008 commented on #243
Fixed in PR #244

[2020-03-25 01:11] #243 closed

[2020-03-29 08:11] alagos commented on #61
Just as reference:
Typescript support [was dropped](https://github.com/couds/react-bulma-components/pull/234) due to several issue and it will start to be rewritten [after 0.8.1 release](https://github.com/couds/react-bulma-components/issues/207#issuecomment-597810676).

[2020-03-30 05:07] MrCreeper1008 commented on #242
I think docusaurus is a pretty good choice for creating our documentation because it supports custom components and i18n. I created a branch `docs` for all our work on the documentation.

[2020-03-30 05:09] MrCreeper1008 commented on #61
@alagos thank you for your clarification.

[2020-04-14 05:08] MrCreeper1008 commented on #237
Since 0.8.2 is already released, we will be upgrading to that version. We will also start working on rewriting typescript definitions.

[2020-04-14 13:52] DawitAbay opened #245 "button link to react router"
I just want to now can you pass a film id to another component name movieDetail.js.
When the user press button get info it pass the just film id in the link  to movie detail page.
[code]

[2020-04-14 14:29] couds commented on #245
Hi.

Can you clarify how and where are you using `react-bulma-components`?. Also what is the current behavior and expected behavior?

I the code you provided you are not using this library

[2020-04-20 09:05] paulussimanjuntak opened #246 "Failed to compile"

[2020-04-20 09:08] #246 closed

[2020-04-20 15:10] paulussimanjuntak commented on #79
hi @couds
I'm trying to follow the instruction but it's still not working for now

[2020-04-22 18:54] lveillard opened #247 "Form, Label and other components not working"
Hello there! I'm facing a strange issue while importing only some of the components.

Examples of components that work properly:

Button: I can eithr import it using
`import Button from 'react-bulma-components/lib/components/button';`
or
`import { Button } from 'react-bulma-components/dist';
`
This works also for other components like Modal, Heading, Columns...

The issue appears with most of the

[2020-04-22 19:12] lveillard commented on #247
Ok I'm just using the bad path, for form components is:

import { Field, Control, Label, Input, Textarea, Select, Checkbox, Radio, Help, InputFile } from 'react-bulma-components/lib/components/form';

or

import Form from 'react-bulma-components/lib/components/form/components';

I tried it before and it did not work because i had other issues. Now that i fixed them this path works! Too much hours

[2020-04-22 19:12] #247 closed

[2020-04-22 20:35] philohelp commented on #232
Yes I have the same issue with NextJS current version, cannot find the mean to make it work with bulma components.

[2020-04-22 20:40] couds commented on #232
I't not ideal but something you can do is import from the components without the sass
[code]
And import the styles directly from `bulma`.

[2020-04-24 09:12] #237 closed

[2020-04-24 09:14] couds commented on #245
Closing this due innactivity. Feel free to reopening adding the informatino requested

[2020-04-24 09:14] #245 closed

[2020-04-28 19:17] arielaco opened #248 "Breaking typo in website "Getting started""
https://react-bulma.dev/en/getting-started

The "basic installation" shows the following line:

`import 'react-bulma-components/basic/react-bulma-components.min.css';`

Should be replaced for

`import 'react-bulma-components/dist/react-bulma-components.min.css';`

Otherwise at least with create-react-app, it breaks.

Thank you!

[2020-04-30 07:01] MrCreeper1008 commented on #248
We're moving away from create-react-app to using docusaurus. Thanks for reporting though!

[2020-04-30 07:01] #248 closed

[2020-05-14 00:37] mrd9483 commented on #232
After following all of the documentation, changing `@import "_variables.sass"` to `@import "~_variables.sass"` in src/components/utils.sass works.

It seems to have something to do with the aliasing in next.js.

The solution above isn't good, as I'm directly changing a file within the node module, and I don't know enough about this to make an informed pull request.

[2020-05-14 07:10] MrCreeper1008 commented on #232
thanks for reporting this. i'll look into this and see what i can do.

[2020-05-14 08:28] alexander-sakal commented on #79
Hi @couds I have the same issue.

[2020-05-14 09:36] couds commented on #232
Hi.

I was taking a look and I manage to fix this doing this:

1. create the `_variables.sass` in the `pages` folder
2. Modify or create next.config.js with

[code]

[2020-05-14 09:39] #232 closed

[2020-05-14 09:42] couds commented on #210
@baronnoraz this is still an issue?

[2020-05-14 09:43] couds commented on #60
I will close this.. does not seem that anyone would do this research.

[2020-05-14 09:43] #60 closed

[2020-05-14 10:14] couds commented on #242
@MrCreeper1008 Thanks for keeping this on scope! as you suggest let's use docusaurus.I  took a few days off from work to do this. I will take over this and try to have it done asap. I bought react-bulma.io I think It's better than the .dev (Use the same domain as bulma.io =) )

[2020-05-14 10:17] MrCreeper1008 commented on #242
thanks! currently im still dealing with college stuff (it'll soon be over!) so i havent had time to work on the documentation. if you need help though please let me know. there are a lot to put into documentation so i'll help once i have the time.

[2020-05-14 10:18] MrCreeper1008 commented on #242
i've already setup docusaurus on `docs` branch so you can start working on documentation directly.

[2020-05-14 19:56] Quadrisheriff commented on #242
Hi my name is Sheriff and will like to participate in this project too. Is there anyway we can like distribute the workload between all 3 of us?

[2020-05-14 21:18] couds commented on #242
Hello, I just pushed a branch `add-documentation` that deploy [here](http://react-bulma.io). I will continue tomorrow, and start with the docs for each component. After I finish the first component I will push it, after that we can assign components to each of us to create the documentation, the idea will be use the first component as a template for the rest.

[2020-05-15 01:03] mrd9483 commented on #232
Hey @couds thanks for your work!

After following the new instructions, I'm still getting the error. here's a link to a repo I created, with a fresh next.js, react-bulma-components, and directions from the README.md:

https://github.com/mrd9483/react-bulma-component-test

This is a freshly created next.js install with bulma plugin. Once everything is set up, the only way I can get this to work is

[2020-05-15 06:31] MrCreeper1008 commented on #242
Docusaurus 2 doesn't have i18n support. Are you planning to drop translation support?

[2020-05-15 08:50] couds commented on #232
Hi @mrd9483

I'm checking out the repo and I don't know why is not working. I created another repo and follow the instructions and works but in your repo I can't get the configuration to work.

[Here](https://github.com/couds/nextjs-react-bulma-components) I created a basic example of the configuration working I followed this [instructions](https://nextjs.org/learn/basics/create-nextjs-app/setup).

[2020-05-15 10:53] couds commented on #242
Yes, it does not make sense to use V1 if they are already working on V2.

[2020-05-16 01:59] mrd9483 commented on #232
Hi @couds

Thanks for the repo you sent... I still could not get it working unfortunately, same bug :(

I tried on Mac OS X, Ubuntu and Windows 10, and seeing the same thing on each. Changing the _variables.sass in util.sass to ~_variables.sass makes it work.

[2020-05-17 19:36] baronnoraz commented on #210
I'll give it try tonight and see. Thanks for following-up everyone

[2020-05-18 08:03] sandeshdamkondwar commented on #205
Happening with me too on container component.

`import React from 'react';
import ReactDOM from 'react-dom';
import AppContainer from '../../containers/app';
import App from './app'

function PricingCommunicationList () {
    return <AppContainer>
        <App />
    </AppContainer>
}

ReactDOM.render(<PricingCommunicationList />, document.getElementById('app'))

export default PricingCommunicatio

[2020-05-18 15:39] jamwaffles commented on #210
That seems to fix it for me, thanks for the tip. Magic! Maybe not in a good way lol...

[2020-05-19 17:59] shasu01 commented on #55
I am trying to link to another page **After** some process is completed on click of the button, but I cant get it _<Link to='/title'><Button  onClick={this.handleLoginClick}>My button</Button></Link>_

[2020-05-20 09:05] couds commented on #242
@Quadrisheriff Sorry currently I have my hand full. I don't think I will be able to upload the template. I uploaded the scafolding, if you want to start go ahead. the idea is to be a close as possible to the docs of bulma.io.

Also you can check the getting started in special the part about the `Element` component. I think that is the way we should go.

Thanks!

[2020-05-21 13:40] MrCreeper1008 opened #253 "<Input /> props readonly attribute typo"
@couds it seems like in input.js:
[code]
the `readOnly` prop should really be `readonly` because <Element /> is `<input />` under the hood which has an all lowercase `readonly` attribute.

Same for `<Textarea />` and `<Select />`.

[2020-05-21 13:56] MrCreeper1008 commented on #253
If this is a bug, I'll make a quick PR to fix this.

[2020-05-21 14:03] MrCreeper1008 commented on #253
Some props of the input components can be removed because they are the same as their html attributes, like `disabled` and `placeholder`.

[2020-05-23 15:36] jdmg94 commented on #55
ditch the `Link` component and access the [navigation history](https://reacttraining.com/react-router/web/api/Hooks/usehistory) directly, you can just add it to your click handler, i.e:

`<Button onClick={() => { handleLoginClick(); history.push('/title'); }}> My Button</Button>`

[2020-05-24 10:01] Seybo opened #254 "Bulma@0.7.5 gets installed with 3.2.0 version"
Here is what i get installed with `yarn add react-bulma-components`

[code]
isn't it supposed to use the last Bulma verstion (0.8.2) or am i missing something?

[2020-05-26 00:05] mrd9483 commented on #232
I had a few moments to play around, and I figured it out. The documentation references next-transpile-modules but the code references next-plugin-transpile-modules. I have a pull request in to correct the documentation.

[2020-05-26 09:50] couds commented on #254
Hi @Seybo the version using bulma 0.8.2 its still not released. It will be on react-bulma-components v3.3.0

[2020-05-26 09:50] #254 closed

[2020-05-26 13:43] humet commented on #232
Hi, After reading through the above and following the instructions I'm still having this issue. I created an example repo here:

https://github.com/humet/drive-in

Could it be something to do with Next.JS 9.4.2?

On another note, will this package work with the new Next.js in-built SASS compiler? I tried, but I guess the only way is to rename all the SASS to follow the .module.sass format it requi

[2020-05-28 02:11] mrd9483 commented on #232
@humet

I spent around an hour playing with your code, and there seems to be an inconsistency with the way _variables.sass is served up, at least in next. I tried erasing node_modules and .next folders and rebuilding/running a bunch, and it would work 10% of the time.

What I was able to eventually get to work consistently was move _variables.sass to the root folder. I was able to build and run ev

[2020-06-05 17:51] ibejoeb opened #256 "Progress component `max` and `value` attributes should not be required."
`Progress` supports an "[indeterminate](https://bulma.io/documentation/elements/progress/#indeterminate)" state wherein `max` and `value` are not provided. These are currently marked as required attributes and produce the following warnings:

`Warning: Failed prop type: The prop 'value' is marked as required in 'Progress', but its value is 'undefined'.`

`Warning: Failed prop type: The prop 'max'

[2020-06-06 10:31] #256 closed

[2020-06-08 07:10] couds commented on #253
Hi @MrCreeper1008 on read the `readonly` its camelcase https://reactjs.org/docs/dom-elements.html#all-supported-html-attributes.

Also the duplicate proptypes are there because this enable some Bulma behavior. I think we should keep it.

[2020-06-08 07:10] #253 closed

[2020-06-08 07:11] MrCreeper1008 commented on #253
Understood. Thanks.

[2020-06-08 07:18] couds opened #258 "[VOTE] Change Bulma dependency to peerDependenc. and remove the import of the styles from this library"
Hi. I want to know what all of you think about removing the advanced configuration.

The Idea its to move Bulma to a peerDependency use this library only as a helper to add the bulma classes (Instead of also adding the css).

This is because all the issues are about Typescript or the advanced installation (Overwrite the variables)

Almost all frameworks now supports saas out of the box and it will

[2020-06-10 13:36] verheyenkoen opened #259 "Panel prop-type "colors" wrong?"
Not sure but I guess [this prop-type](https://github.com/couds/react-bulma-components/blob/e130e2e1182423151d54b3f024fcbf04885a3a2f/src/components/panel/panel.js#L35) should be named "color", not "colors"?

Anyway, I'm getting a warning on this:

Even though I don't set that attribute/property.

[2020-06-11 08:47] MrCreeper1008 commented on #259
Hmm yes it should be named color not colors, but you shouldn’t be getting that warning anyway if you gave the correct value. Can you show me your code?

[2020-06-11 08:50] MrCreeper1008 commented on #258
Agreed. However, we need to have a version table that shows which bulma version should be used with which version of `react-bulma-components`, since sometimes we need to introduce new code to support new features in bulma.

[2020-06-16 09:01] #259 closed

[2020-06-20 06:42] ubheamar commented on #207
any update of this @MrCreeper1008  when are you planning to release this ?

[2020-06-20 07:20] MrCreeper1008 commented on #207
Hi, sorry for the delay. It’s almost finished but i am currently busy on other projects. It’ll be released as soon as it’s done!

[2020-06-27 07:04] kennethnym opened #262 "v4.0"
This is an issue tracking this library's upgrade to v4.0.

New features:
- [x] Support for Bulma 0.9.1
    - [x] Spacing helpers
    - [x] Light/Dark color helpers
    - [x] Remove `<List />` component
    - [x] `is-clickable` helper
    - [x] `is-max-desktop` and `is-max-widescreen` for Container
- [x] Standalone `display` prop without viewport modifiers. (5f1b1eb48e53ac87ac95ddcd53c3e7922323db98

[2020-06-27 09:35] MrCreeper1008 commented on #262
@couds Bulma `0.9.0` contains some breaking changes, so we have to do a v4 release on this. Maybe push #258 to v5?

[2020-06-30 15:43] Quadrisheriff commented on #242
I have already started work on the ```elements```, ```layout``` and ```components``` sections, and I should send a PR hopefully before this week's ending.

[2020-06-30 15:48] MrCreeper1008 commented on #242
@Quadrisheriff thank you for your contribution. just a quick note: i have already documented column > basics and column > sizes, so can you please ignore these two parts when making the pr? makes it easier for me to merge. thanks!

[2020-07-01 08:42] couds commented on #258
Not too many people voted, but all seem's to agree to this. so We sill go forward and change bulma to be a peerDependency. and remove all the sass import from this library.

[2020-07-01 08:42] #258 closed

[2020-07-01 08:45] couds opened #264 "V4 Changes"
This Issue will track the changes we need to do in order do the next major release

- [ ]  Update Bulma to 0.9.0 #263
- [ ]  Move Remove sass import from codebase
- [ ]  Update Documentation for installation process (Now there will be only one no more advanced configuration need it)
- [ ]  (Optional) Review how we exports the components and see if there are no a better way

[2020-07-01 08:47] MrCreeper1008 commented on #262
For TypeScript support, I am currently stuck on supporting advanced imports. It seems like to only way to support advanced imports is to manually re-export all component types under their corresponding advanced import path.

[2020-07-01 08:47] couds commented on #264
This is a duplicate from #262

[2020-07-01 08:47] #264 closed

[2020-07-01 08:49] couds commented on #262
@MrCreeper1008 in which branch are the typescript definitions? I have an idea to fix the import that want to check

[2020-07-01 08:50] MrCreeper1008 commented on #262
It's on `ts-defs`

[2020-07-01 08:51] MrCreeper1008 commented on #262
I think we should come up with a better way of importing components, because imo current way of doing it is a bit cluncky. Maybe we should consider supporting tree-shaking?

[2020-07-01 08:55] MrCreeper1008 commented on #242
@Quadrisheriff also please rebase your branch on top of the current `documentation` branch. thank you!

[2020-07-07 09:26] jerome-diver commented on #55
@paustria
if you do that:

you have a button inside a (dirty).
the idea is to have a button contained the href to go.

[2020-07-08 04:58] MrCreeper1008 commented on #262
@couds we should also probably rewrite all class components with react hooks, since react recommends hooks over classes.

[2020-07-08 05:22] couds commented on #262
Hi @MrCreeper1008 I think we can do it but that is not a breaking change so we can do it later (v4.1 for example) so let out it as optional for the 4.0.

[2020-07-08 07:35] verheyenkoen commented on #262
@MrCreeper1008 @couds Maybe create a dedicated branch for that? Or can we just send pull requests on a per component basis?

[2020-07-08 07:40] MrCreeper1008 commented on #262
Typedefs for compoentns are finished. We're just considering changing how components are imported, so we're holding this off until that is settled

[2020-07-10 04:57] kinabalu opened #267 "Storybook grouped Tag has incorrect value for warning color"
Simple misspelling saying `warrning` should be `warning` causing the documentation to not color the tag.

[2020-07-11 04:57] #267 closed

[2020-07-14 17:39] sksamuel opened #269 "Cannot select a tab in the storybook"
It just stays on the same tab all the time.

[2020-07-14 18:38] couds commented on #269
Hi @sksamuel . Yes the storybook for tabs do not have any logic just show how the set the active tab (on the code) but now how to handle the state, that's our of the scope of the library

[2020-07-14 18:38] #269 closed

[2020-07-14 18:55] sksamuel commented on #269
Ok thanks. I was confused on how to react (excuse the pun) to a change in
state. Most other react libraries I've used accept some kind of handler
that is invoked when a tab changes.
I'm not an experienced react user.
What I did in the end was add an onclick handler to each of the tabs, but
that's a lot of duplication.

On Tue, 14 Jul 2020 at 13:38, John <notifications@github.com> wrote:

[2020-07-16 21:15] alexpchin opened #270 "Overriding variables with Gatsby"
Hello, I've been stuck on a problem for the last day.

I have a `_variables.scss` file which I have included at the root of my src directory in Gatsby. I have setup my `gatsby-plugin-sass` as follows:

[code]

I also have a main `styles.scss` file located at `src/assets/scss/styles.scss`. To get the bulma styling working I need to import: `@import "~react-bulma-components/src/index.sass";` at the

[2020-07-17 07:47] MrCreeper1008 commented on #270
I have no experience in Gatsby, but have you tried directly pointing to your scss folder for the `includePaths` option?

[2020-07-17 10:23] alexpchin commented on #270
@MrCreeper1008 Hi, yes I have also tried this with no luck.

[2020-07-19 18:18] alexpchin commented on #270
This would be fixed with the proposal to remove styles so that Gatsby could manage the order of the styles better.

[2020-07-20 20:49] deckardd opened #272 "Advanced usage does not work with CRA"
CRA will only import valid JS. It does not support importing/compiling JSX from external libraries. (See their statement [here](https://github.com/facebook/create-react-app/issues/5103#issuecomment-425459196).)

So, when attempting to do the recommended advanced react-bulma-components usage pattern, CRA fails with a syntax error.

[code]

Is there any current suggested work around and/or plans to

[2020-07-20 21:30] couds commented on #272
Hi @deckardd you are importing from `src` please import from `react-bulma-components/lib` instead

[2020-07-20 21:58] deckardd commented on #272
Ahh, thank you! I was mixing up the documentation for CRA and Next.js. Thanks for the fast response! You saved me a lot of time.

[2020-07-21 03:02] #272 closed

[2020-07-24 00:31] troyshu commented on #232
I ran into this issue as well, also trying to use the React bulma components here with nextjs. @mrd9483`'s latest comment worked for me (`next build` no longer errors out with `File to import not found or unreadable: _variables.sass`. Weirdly, `next dev` never gave the same error):

1. Move `_variables.sass` to the root folder
2. Remove the line `config.resolve.modules.push('./pages');` in your `n

[2020-08-02 04:35] Punjtani commented on #205
ype '{ children: Element; }' has no properties in common with type 'IntrinsicAttributes & Pick<ClassAttributes<Layout> & Props, "ref" | "key">'.  TS2559

     8 |     return (
     9 |       <div className="wrapper">

       |          ^
    11 |           <Content title="Dashboard">
    12 |             <Home />
    13 |           </Content>

[2020-08-04 04:43] MrCreeper1008 opened #276 "Simplify import"
We are planning to simplify the way components are imported in v4. Currently, there are multiple ways to import components depending on the usage. We would like to change that in v4: there will only be one entry point for all components:
[code]
This makes the TypeScript definition file simpler and importing components much less tedious.

cc @couds are we settled on this? If so, I will start making

[2020-08-04 07:00] couds commented on #276
Hi @MrCreeper1008.

Yes at the end we will export only as the basic setup. I will work on this this weekend, mostly we only need to remove the `sass` imports and update the build process to only build the basic.

The only thing I'm not sure is about the Form component, Probably I will change this to export all the form components also from root.

[code]

Note: Not sure what to do about Columns.Col

[2020-08-04 07:34] MrCreeper1008 commented on #276
I actually prefer the namespaced import because it makes it clear semantically that the component is part of a `Form`.

[2020-08-17 12:11] alexpchin commented on #262
Hi, loving the work! Just wondering whether you have an ETA for this update? It seems almost there?

[2020-08-17 12:12] MrCreeper1008 commented on #262
yea it is almost there. waiting @couds to rewrite imports.

[2020-08-17 12:20] couds commented on #262
Hi @MrCreeper1008 Thanks a lot for all the work you are doing. This couple a week had been crazy for me. (Changing job and finishing a lot of stuff), I think I will have finally time after Sep 15. I will try my best to do it the weekend of that week. T_T

[2020-08-17 12:22] MrCreeper1008 commented on #262
if you want i can finish the rest so you can focus on your stuff.

[2020-08-18 10:03] couds commented on #207
@MrCreeper1008 Can we rewrite the definition file like this https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-router/v3, the idea will be that inside each component folder will be the definition of that component. and export all in the index.d.ts, this way we will fix the TS also when importing a single component.

wdyt?

[2020-08-18 10:09] MrCreeper1008 commented on #207
yea that's much better than cramping all types into a single file. will work on it.

[2020-08-20 12:31] couds opened #279 "Simplify Responsive prop"
Currently the responsive prop is way to complex, quite nested objects, I'm thinking on flat the object and separate it into several different props. what do you guys think?

This will be a breaking change so if possible I will try to push it to V4.

What I have in mind is something like this:

Create one prop for each breakpoints `mobile, tablet, touch, desktop, widescreen, fullhd` with this shape

[2020-09-16 11:08] giorgiasatiani99 commented on #55
k

[2020-09-16 14:44] semivori opened #281 "Failed to compile CRA"
`npm run start` gives error:

[code]

**Versions**
- `react-bulma-components:`: ^3.4.0
- `bulma` ^0.9.0:
- `react`: ^16.13.1
- `create-react-app`: 3.4.1

[2020-09-17 08:34] couds commented on #281
Hi @semivori

Can you change the import from `src` to `lib`

[code]

[2020-09-17 19:58] semivori commented on #281
@couds it gives next error
[code]

[2020-09-17 20:25] couds commented on #281
Did you follow the instructions here?

https://github.com/couds/react-bulma-components#cra

[2020-09-17 21:53] semivori commented on #281
@couds I have no `jsconfig.json` file in the project. Can you please tell me where it should be? And what should it contain besides "compilerOptions"?

[2020-09-18 03:48] danielrb97 commented on #55
heey idk if you fix the problem haha but i sue this:

<Link to='/somewhere'>
    <Button onClick={<Route></Route}></Button>
</Link>

[2020-09-19 05:39] timorthi commented on #262
Hi, love the library and 4.0 looks to be a great update. Is there anything we can do to help push the project closer to a 4.0 release? :smile:

[2020-09-19 07:08] MrCreeper1008 commented on #262
The only big thing left to do is closing #276, so it would be great if you could help with that.

[2020-09-19 07:10] MrCreeper1008 commented on #262
Also would be great if you could help improve the documentation.

[2020-09-19 16:51] timorthi commented on #276
I think it would still be useful to be able to cherry-pick components directly, e.g.
[code]
to let users import only components they need to keep bundle sizes small.

An alternative would be to set up `react-bulma-components` to be tree-shakeable. I haven't developed a tree-shakeable library so I can't provide much help on that, but I thought I'd link out to a relevant discussion (https://github.c

[2020-09-19 16:53] MrCreeper1008 commented on #276
Yea we're working on making this library tree-shakable.

[2020-09-19 17:06] timorthi commented on #276
@MrCreeper1008 Great! My bad - I didn't notice Webpack was already dropped in the `next` branch before I typed out that comment.

Is the meat of the issue, then, to configure the right build tools make this library tree-shakeable? I took a quick glance at `next` but it's unclear to me what's left to do for this issue. :thinking:

[2020-09-19 18:25] MrCreeper1008 commented on #276
Yea I will try to finish v4 next week if possible.

[2020-09-20 11:55] MrCreeper1008 commented on #276
Tree shaking should be working (tested with CRA only). Would be great if someone can confirm this with other configurations by installing the next branch of this library:
[code]

For some reason, when trying to install next branch with yarn, yarn also resolves devDependencies, which drastically increases the number of dependencies installed. Not sure if this is a problem with yarn itself or if it'

[2020-09-20 12:14] MrCreeper1008 commented on #281
@semivori it should be at the root of your project.

[2020-09-21 07:17] timorthi commented on #276
Tried it out with a webpack@4.44.1 setup and confirming that tree shaking works. This is awesome!

I'm not experiencing the same thing. I did `yarn add https://github.com/couds/react-bulma-components#next` and the only other dependency that was installed was `classnames`.

[2020-09-21 08:59] MrCreeper1008 commented on #276
That is great to hear! Thank you for your feedback. Will finish v4 asap.

[2020-09-22 03:37] timorthi commented on #242
Is #251 the most up-to-date branch for the new docs? Would love to contribute.

[2020-09-22 08:03] MrCreeper1008 commented on #242
yes, i just merged #266 into `add-documentation` branch.

[2020-09-22 08:05] #276 closed

[2020-09-30 19:32] Ziomioslaw opened #282 "[HELP] Clean up the InputFile component via JavaScript"
Hi

How you clear out the selected file for InputFile component using Java Script code?
Without form wrapping of the component.

For simple HTML I can manipulate of `value` attribute: [example of clearing out the input[type=file]](https://codesandbox.io/s/black-voice-mkrmq?file=/src/App.js). But it's not working for InputFile from react-bulma-components.

I have look into [code](https://github.com

[2020-10-01 21:52] MrCreeper1008 commented on #282
Try passing `value` via the `inputProp` prop and modify its value.

[2020-10-04 11:39] Ziomioslaw commented on #282
Hi, thanks for replaying, but this is not working.
I guess, because InputFile is compose not only with File, but also label, and span etc...

[2020-10-04 22:19] MrCreeper1008 commented on #282
This is weird. I'll see what I can do. If a patch is needed it'll be pushed in v4. Thank you for filing this issue.

[2020-10-04 22:21] MrCreeper1008 commented on #262
I should be able to finish v4 this week, but it will be released definitely by next week. Sorry for the delays. There are too much stuff going on right now.

[2020-10-05 17:21] Ziomioslaw commented on #282
Thanks, I looking forward to it :)

[2020-10-05 17:46] couds commented on #282
Actually we will need to change this component to a controlled component and remove the inner state.

Probable add the label as a prop instead of in the state.  I will create a PR tomorrow

[2020-10-05 22:47] MrCreeper1008 commented on #282
We should probably make other components stateless as well if possible.

[2020-10-10 21:15] MrCreeper1008 commented on #279
@couds will the syntax be something like this?
[code]
if so, then i prefer something like `onMobile`, or `onDesktop`. Also, I think we should have separate props for viewport-specific helpers, like `onDesktopOnly` and `onMobileOnly`.
[code]

[2020-10-11 06:50] couds commented on #279
Hi @MrCreeper1008 I will think about the dmobile/deskropOnly.

What is for sure is that the prop name will not start with `on` because normally that is for event listener and could be cconfusing

[2020-10-18 03:26] jameswinston58 commented on #281
I've had a similar problem all day with this. I've followed all the instructions on the advanced configuration.

[2020-11-03 11:21] gugol2 commented on #55
Well, semantically nesting an html button in an html a (or vice-versa) is not valid html...

https://validator.w3.org/nu/?showsource=yes&doc=http%3A%2F%2Fdropbox.beausmith.com%2Fstatic-html%2Finvalid-button-anchor-markup.html

So I would go for this approach: https://stackoverflow.com/questions/42463263/wrapping-a-react-router-link-in-an-html-button#answer-46088718

[2020-11-03 11:26] MrCreeper1008 commented on #55
There's `renderAs` prop for every component we export in `react-bulma-components`, so the best way to render `Link` as a `Button` is:
[code]

[2020-11-03 18:59] davepwsmith commented on #262
I am using #next in a hobby application - have noticed that a few of the type exports are missing from index.d.ts, namely:

export {Menu} from './components/menu';
export {Tag} from './components/tab';
export {Tile} from './components/tile';

Not sure if this is overlooked, or intentional, but thought better to point it out :)

D

[2020-11-03 20:31] MrCreeper1008 commented on #262
oh shoot you're right. will fix. thanks for the heads up!

[2020-11-03 20:53] MrCreeper1008 commented on #279
Fixed in commit 1c5ce9a614ee6ca49ea66499b11b664591efe97d

[2020-11-03 20:53] #279 closed

[2020-11-04 13:27] MrCreeper1008 commented on #207
Completed in `v4`. Closing!

[2020-11-04 13:27] #207 closed

[2020-11-09 18:22] fgs-dbudwin commented on #262
I'm playing with v4, and it seems to be working.  My big issue is that my bundle size didn't change a whole lot.  I was hoping v4 would be significant savings to my bundle size since this package is my single largest dependency...maybe I'm doing something wrong?

This is also in reference to https://github.com/couds/react-bulma-components/issues/276

V3 bundle size: 376.44 KB
V4 bundle size: 350.4

[2020-11-09 18:31] fgs-dbudwin commented on #262
Some more details, here is the view from part of using bundle analyzer...

![image](https://user-images.githubusercontent.com/14611316/98581346-5a903500-228f-11eb-911d-08281fec81f7.png)

What's interesting to me is I see some modules I'm not using like `navbar`, `tile` and `media` as some examples.

[2020-11-10 06:57] floric commented on #262
@fgs-dbudwin How did you define the imports (avoiding any default imports)? And: did you activate Treeshaking properly using the sideeffects-property and verified that Treeshaking works for other libs?

[2020-11-10 10:03] MrCreeper1008 commented on #262
@fgs-dbudwin in v4 you import components like such:
[code]
This will allow tree shaking to work properly. Let me know if you still have issues!

[2020-11-10 14:58] fgs-dbudwin commented on #262
@floric @MrCreeper1008

Yes, I have structured my imports like suggested.  I have also had a lot of luck lately getting tree shaking to reduce my bundle size using Webpack 5 so I trust that it works for other libs (like `moment` and `@fortawesome/react-fontawesome` for example).  I have made a minimally reproduceable example of tree shaking not seeming to work for my use case which can be accessed

[2020-11-10 20:13] floric commented on #262
Hey :) Thanks for the clean example repository. Thats the way issues should be reported! :+1:

I can reproduce your point and it's most likely caused by an invalid Typescript configuration.

Try a ES module type like `es6` instead of CommonJS (otherwise Treeshaking won't work):

[code]

At least this worked in my short test and reduced the bundle size to 149kb :)

[2020-11-10 21:17] fgs-dbudwin commented on #262
@floric good catch, that does address the issue in my sample.  That change leads to 400+ errors in my actual code though 😲

I am getting some warnings related to `react-bulma-components` now...I think it's similar to [this comment from above](https://github.com/couds/react-bulma-components/issues/262#issuecomment-721316816) about missing types.

The warnings look like:

[code]

In addition to `Fie