[2020-11-10 22:00] fgs-dbudwin commented on #262
FWIW, since other people may stumble across this--switching from "CommonJS" to "es6" is seemingly causing other issues about module resolution even though `react-bulma-components` items are resolving correctly.  I'm not advanced enough with JS to understand why this is happening.  I added a new commit to my previous example that demonstrates this: https://github.com/fgs-dbudwin/react-bulma-compone

[2020-11-10 22:03] jamwaffles commented on #262
I haven't been keeping too close an eye on RBC 4.0, but aren't these under `Form`, i.e.

[code]

I think setting `moduleResolution` to `node` as suggested will fix your import issues as well - it tells the TS compiler to go looking in `node_modules` as Node itself would.

[2020-11-11 00:25] fgs-dbudwin commented on #262
@jamwaffles I used to have my imports for `Form` related objects structured that way, but changed them due to this comment: https://github.com/couds/react-bulma-components/issues/276#issuecomment-668418146

But now that I re-read that comment, it looks like @couds was proposing that new format which didn't get implemented--so I may need to revert that change.

[2020-11-11 17:27] fgs-dbudwin commented on #262
Good news, switching from "CommonJS" to "es6" (or later) AND adding `"moduleResolution": "node"` to my `tsconfig.json` fixed the issue I was seeing yesterday; however, my Jest test don't seem to work anymore.  This isn't related to the aforementioned change--I get the same error regardless.  I have added a commit to my example repo to reporduce this...just run `npm run test`: https://github.com/fg

[2020-11-11 18:29] floric commented on #262
@fgs-dbudwin Ah, right. The `moduleResolution` was missing :(

The problem is most likely, that Jest doesn't support ES Modules yet (which are now the result from Typescript after the change). See this issue for more information: https://github.com/facebook/jest/issues/4842
They are working on it though right now: https://github.com/facebook/jest/issues/9430

In the meantime you can try to use bab

[2020-11-11 21:02] fgs-dbudwin commented on #262
@floric unfortunately, that still fails when switching `ts-jest` for `babel-jest`.  The tests work just fine in v3.4 of `react-bulma-components`, but not on the v4.0 branch.  My attempt at using `babel-jest` can been seen on my latest commit: https://github.com/fgs-dbudwin/react-bulma-components-v4-tree-shaking/commit/f181f2abca09c3b0387f13943e2209ac9bc19f4f

I'm not otherwise using Babel, so I'm

[2020-11-11 21:20] fgs-dbudwin commented on #262
I got the tests to pass!  Two things were needed in `jest.config.js`:

1. `preset: "ts-jest/presets/js-with-ts",`
2. `transformIgnorePatterns: ["\\\\node_modules\\\\"],`

The tests are initially slower to run than expected so I will keep tinkering.

[2020-11-12 12:24] MrCreeper1008 commented on #262
@fgs-dbudwin this is weird. I configured babel so that it will transpire import statements in test environment:
[code]
according to the jest documentation: https://jestjs.io/docs/en/getting-started#using-babel. In normal environment import statements in `src/index.js` is not transpired to enable tree shaking, which seems to be working just fine.

[2020-11-12 13:12] fgs-dbudwin commented on #262
@MrCreeper1008 are you able to reproduce my issue?  After I got the single test to work in my sample code, I ported the change over to my production code which has about 500 Jest tests.  It took one hour before exiting (normally completes in one minute) and none of the tests passed because I was getting out of memory errors for my Jest process.  So, unfortunately, my tweak above isn't a real solut

[2020-11-12 13:13] MrCreeper1008 commented on #262
I'll try to set up a new project using v4 and see how it goes.

[2020-11-12 14:48] MrCreeper1008 commented on #262
@fgs-dbudwin in v4 import statements are not compiled to enable tree shaking, which is why you'll encounter syntax errors in jest since it doesn't support import/export statements. You need to tell jest to compile them specifically for this library:
[code]
I'll add this in the new documentation. I also fixed incorrect TypeScript definition paths, so autocompletion with TypeScript should be working

[2020-11-12 15:06] MrCreeper1008 opened #285 "CSS conflicts with Docusaurus and Bulma"
**Describe the bug**
When importing Bulma css in Docusaurus, JSX code examples look weird because JSX elements have class name `tag` which is a valid class in Bulma.

**To Reproduce**
1. Import Bulma CSS in docuraurus

**Screenshots**
![Screen Shot 2020-11-12 at 3 05 50 PM](https://user-images.githubusercontent.com/19359984/98956953-8feb8b80-24f8-11eb-80e5-f0590f40d275.png)

**Expected behavior**

[2020-11-12 15:54] fgs-dbudwin commented on #262
@MrCreeper1008, unfortunately, pulling the latest version of the `@next` branch and using `transformIgnorePatterns` like you suggested still results in the same error I originally got: https://github.com/couds/react-bulma-components/issues/262#issuecomment-725555286

I updated my example repo to match your suggestion: https://github.com/fgs-dbudwin/react-bulma-components-v4-tree-shaking

[2020-11-12 16:04] MrCreeper1008 commented on #262
This is weird, I created a `create-react-app` in TypeScript and got a syntax error about the import statements. I added the `transformIgnorePattern` and the error went away. I guess I'll have to look deeper.

[2020-11-12 16:37] fgs-dbudwin commented on #262
I'm not using `create-react-app` for whatever difference it may have made.

[2020-11-12 16:51] MrCreeper1008 commented on #262
Turns out the memory issue is an issue on `ts-jest`: https://github.com/kulshekhar/ts-jest/issues/1967. Basically, compiled modules are cached redundantly.

[2020-11-12 17:03] fgs-dbudwin commented on #262
Reading that issue, it looks like the underlying issue may be with Jest itself--the issue was crossposted here: https://github.com/facebook/jest/issues/10550

Not much activity on it.  I take it that you're not using `ts-jest` which is why you're not seeing the same issues I am.

[2020-11-12 17:10] MrCreeper1008 commented on #262
My guess is that the issue only happens in large projects with many test cases. A solution is for us to ship a commonjs version of our code that you can import in tests (like `react-bulma-components/lib/index.cjs`) but I am reluctant to do so because I reckon very few people will use it and it's not worth the extra installation time.

[2020-11-12 18:45] fgs-dbudwin commented on #262
Can you explain to me what change between v3 and v4 exposed this issue?

[2020-11-13 13:30] MrCreeper1008 commented on #262
in v3 import statements are transpiled but in v4 they aren't anymore to enable tree shaking.

[2020-11-19 13:27] MrCreeper1008 commented on #285
I'm migrating to [@storybook/addon-docs](https://www.npmjs.com/package/@storybook/addon-docs), since it integrates with storybook better.

[2020-12-07 21:03] 1r3n33 opened #286 "Warning: Failed prop type: Invalid prop `value` supplied to `Select`"
Hello,

I'm experiencing a warning with `Select` when `multiple` prop is true. Can you confirm this issue?

**Bug description**

I get a warning when I use `Select` with the `multiple` prop and pass an array to `value` prop:

[code]

[code]

**To Reproduce**
1. Instantiate Select with multiple={true} and value={[]}
2. See warning in developer tools console

**Expected behavior**

No warning.

**Ve

[2020-12-08 23:46] MrCreeper1008 commented on #286
Will look into this. Thank you for reporting.

[2020-12-08 23:51] kennethnym opened #287 "Update on v4.0"
These past couple months I (and I guess also @couds) are occupied with personal stuff, and so we weren't able to put a lot time into pushing v4. Starting this week, I'll start getting v4 back on track and I hope @couds can do a beta release on it, so we can iron out all the bugs before making it stable.

My apologies for the delay.

[2020-12-11 17:39] MrCreeper1008 commented on #286
Should be fixed in 2ea2ced4ffc2fa203804163c91f3aa894660a40e.

[2020-12-11 17:59] 1r3n33 commented on #286
Thank you for the fix @MrCreeper1008.

Here is an alternative version with conditional checks and tests: https://github.com/1r3n33/react-bulma-components/commit/278f6a8d3ea0da2847748dac4de151f5994b245c

[2020-12-11 18:01] MrCreeper1008 commented on #286
ahh yes i forgot about testing. do you mind pulling in the test code and make a PR for it?

[2020-12-13 20:50] MrCreeper1008 opened #290 "Add Breadcrumb.Item and remove Breadcrumb items prop."
**Describe the bug**
Currently, `renderAs` prop affects the *items* of Breadcrumb instead of the component itself, which is not consistent with how it works on other components. Furthermore, props specified in the root component returned by the custom component passed to `renderAs` are not passed properly, so custom class names for example won't have any effect.

**To Reproduce**
Use the following

[2020-12-13 21:14] MrCreeper1008 opened #291 "Separate remove prop in Button as a standalone Delete component"
In Bulma the delete button is a separate button. Right now it's tied to the Button component under the `remove` prop, but for consistency it should be a separate component.

cc @couds

[2020-12-14 22:35] MrCreeper1008 commented on #262
Marked breaking changes.

[2020-12-16 20:38] #286 closed

[2020-12-17 02:18] MrCreeper1008 commented on #287
Sneak peeks of the storybook docs I have been working on! Not only are components nicely documented, you can also play around with them using storybook controls. Looking forward to publish this.

<img width="1552" alt="Screen Shot 2020-12-17 at 2 15 25 AM" src="https://user-images.githubusercontent.com/19359984/102435112-f68b2a00-400d-11eb-8540-7c2aaf8ac31a.png">
<img width="1552" alt="Screen Shot

[2020-12-17 11:22] couds commented on #291
Hi @MrCreeper1008 Thank for all the work you are doing, in this case I prefer to keep it in the button inside of another component. at the end it's a button >.<

[2020-12-17 11:22] #291 closed

[2020-12-17 11:30] couds commented on #290
I think that's a really good point, but maybe we could separate breadcrumb into `Breadcrumb` and `Breadcrumb.Item` as we have with others components

[code]

[2020-12-17 11:32] couds commented on #285
Let's drop docusaurus then, its a shame but this does not seem easy to fix.

[2020-12-17 12:29] couds commented on #282
I just released a new version of next with all the pending changes. (Special thanks to @MrCreeper1008 without him I dont think I could be able to continue support this project) in this version the input-file its now a controlled component. so you can easy use the `filename` prop to setup and clear the value displayed on the html and the `value` props to the actual value of the input (if you are ac

[2020-12-17 12:29] #282 closed

[2020-12-17 12:29] #285 closed

[2020-12-17 12:30] couds commented on #270
In V4 we are dropping the sass generation and leave it to the developer to set up bulma on the project.

[2020-12-17 12:30] #270 closed

[2020-12-17 12:30] couds commented on #281
@semivori I'm closing this, if you are still having this issue feel free to reopen it =)

[2020-12-17 12:30] #281 closed

[2020-12-17 12:32] couds commented on #210
In V4 we are dropping the generation of the styles in favor to allow each developer to include the bulma classes in the way their framework does it

[2020-12-17 12:32] #210 closed

[2020-12-17 12:35] couds commented on #145
We are dropping the advanced configuration in favor to simplify all the process, then this will not happen anymore.

[2020-12-17 22:26] MrCreeper1008 commented on #290
that is a good idea. ill make a pr for it.

[2020-12-18 03:20] wozza35 opened #292 "[HELP] NextJs instructions suggests outdated package"
I've followed the installation guide for NextJS version >= 9

When starting the NextJS server, I get the following message:

`Warning: Built-in CSS support is being disabled due to custom CSS configuration being detected. See here for more info: https://err.sh/next.js/built-in-css-disabled`

It seems that since NextJS v9, SASS support was built-in and they now consider `@zeit/next-sass` to be outd

[2020-12-18 10:50] couds commented on #292
We are working on V4, and we will remove the advance configuration, in this you can follow the normal configuration of your framework to setup the bulma saas,

you could probably do the same on V3 using the [Basic configuration](https://github.com/couds/react-bulma-components#basic)

Bu instead of importing

[code]

you follow the tutorial of importing normal saas (and import bulma)

[2020-12-27 13:31] FunctionDJ opened #295 "Add type definitions to import {} from "react-bulma-components""
**Describe the bug**
At first i thought this library didn't have any type definitions, but it appears as if they are only present when using the "advanced" method and not the "simple" method.

**To Reproduce**
Steps to reproduce the behavior:
[code]
TypeScript will let you know 'Could not find a declaration file for module 'react-bulma-components' '.
In strict mode, it's not possible to compile.

[2020-12-27 16:29] FunctionDJ commented on #295
Just realized there are no type defs for the "advanced" method either, i'm opening a help issue instead.

[2020-12-27 16:29] #295 closed

[2020-12-27 16:31] FunctionDJ opened #296 "[HELP] TypeScript types"
How can i get type definitions for any recent version of this library? I would really like to have IDE-support for validating my code as i program, not having to hit up the docs all the time. Also i'd like to switch to strict mode.

[2020-12-28 15:11] MrCreeper1008 commented on #296
typescript def is available on v4. You can try it out by installing the `next` branch of this repo.

[2020-12-29 22:21] FunctionDJ commented on #296
Thank you =)

[2020-12-29 22:21] #296 closed

[2020-12-31 17:23] MrCreeper1008 opened #297 "New Discussions feature on GitHub"
Recently GitHub released the "Discussions" feature. For any support/help/feature request questions, feel free to make a post there. I will regularly check the section and will try to help as best as I can.

That also means the issue tracker should be limited to bug reports only. Any unrelated issue will be closed and will be moved to discussions instead.

Thank you, and happy new year!

[2020-12-31 17:25] #297 closed

[2021-01-01 17:40] MrCreeper1008 commented on #262
Some missing features are added when I am writing the new documentation. Decided to also perform some housekeeping tasks in v4 to tidy up the code base.

[2021-01-03 21:17] FunctionDJ opened #300 "[HELP] Using <Button> as child of Next.js <Link> (refs)"
I'd like to use a `<Button>` component as a child of a Next.js `<Link>` component, but i get an error that function components can't have refs.
I tried wrapping the button in `React.forwardRef()`, but i think i'm doing this wrong.

My code (only `<Link>` is coming from Next.js):
[code]

[2021-01-04 04:46] couds commented on #300
Hello @FunctionDJ  for this you can use the prop RenderAs like this

[code]

[2021-01-04 06:46] FunctionDJ commented on #300
Thank you so much! Why didn't that occur to me lol

[2021-01-04 06:46] #300 closed

[2021-01-04 22:46] FunctionDJ commented on #300
Actually the `<Link>` component doesn't support "being" a button and it gets styled like an anchor instead of a button.
The correct approach is the following, as i found out from [this page](https://dev.to/ivandotv/using-next-js-link-component-with-material-ui-buttons-and-menu-items-3m6a):
[code]

[2021-01-09 00:54] #292 closed

[2021-01-31 22:26] MrCreeper1008 commented on #282
@couds I renamed the `value` prop to `files` prop to avoid confusion because it affects the `files` attribute of the actual `<input>`.

[2021-02-11 00:12] kennethnym opened #301 "Release v4 beta"
@couds wdyt about doing a beta v4 release so we can discover and iron out bugs and perhaps get some feedback from our users?

[2021-02-13 11:33] davepwsmith commented on #301
Hi, not sure if this should be here or on #262 or #287... But:

The Modal has some sort of issue with types:

[code]

[code]

[2021-02-13 13:42] MrCreeper1008 commented on #301
Thanks for reporting, will look into it.

[2021-02-15 23:07] MrCreeper1008 opened #302 "Modal TypeScript type does not allow children"
**Describe the bug**
When trying to add children to `Modal`, a TypeScript error is reported saying children prop does not exist.

**To Reproduce**
Steps to reproduce the behavior:
1. Add children to `Modal`

**Expected behavior**
It should allow children components.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions**
- `react-bulma-components:`: v4
- `bulma`

[2021-02-15 23:08] MrCreeper1008 commented on #301
@davepwsmith your issue is transferred to #302

[2021-02-15 23:23] MrCreeper1008 commented on #302
@datepwsmith please let me know if this (f2e1a0a98d44e8dca0a6fc0cdcced9d9dac6f7f1) has fixed your issue. You can pull the change by installing `next` branch of this library.

[2021-02-18 17:29] davepwsmith commented on #302
I'm afraid it does not - however, the following does:

[code]

[2021-02-18 17:40] MrCreeper1008 commented on #302
This is very odd - `BulmaComponentWithoutModifiers` has a type signature of:

[code]

in f2e1a0a98d44e8dca0a6fc0cdcced9d9dac6f7f1 I just removed the alias and directly put the signature in place:

![Screen Shot 2021-02-18 at 17 39 44](https://user-images.githubusercontent.com/19359984/108397825-4b1a7380-7210-11eb-92f9-e01d5c03b01c.png)

I don't see why it wouldn't work :/ Let me try on my machine

[2021-02-18 17:43] davepwsmith commented on #302
I am not an expert, I will admit, but I think that export type is different to export const more fundamentally than just aliasing.

[2021-02-18 17:53] MrCreeper1008 commented on #302
I figured the problem out, its because I forgot to put parenthesis around the function signature so the `& ...` got interpreted as the return type of the function instead.

[2021-02-18 17:55] #302 closed

[2021-03-08 07:52] martinlehoux opened #305 "Missing `m` property on <Columns>"
**Describe the bug**
This is a TypeScript issue.
While using <Colmuns>, I was able to use `mx={}` and `my={}`, but I couldn't find `m={}` autocomplete.
I didn't test other components, but I guess they all have the same issue. I will check ASAP and complete this issue.

**Expected behavior**
This helper should be available, as written there : https://bulma.io/documentation/helpers/spacing-helpers/#

[2021-03-09 21:51] MrCreeper1008 commented on #305
will fix asap. thanks for letting me know.

[2021-03-11 13:37] pentolbakso commented on #301
Hi, just upgraded to v4.0.0-1 .. was smooth except for missing List component. But that is easy fix. Great jobs guys!

[2021-03-11 13:39] MrCreeper1008 commented on #301
We removed the List component since it is removed in bulma v9

[2021-03-11 19:05] MrCreeper1008 commented on #305
should be fixed in f69ae720dee79437e409dbb736ce432c6b04318a, you can test it out by installing the `next` branch directly. need to wait for @couds to release the next patch.

[2021-03-21 20:56] STUkh opened #306 "[HELP] Request to build transpiled version of lib"
Since Jest doesn't natively support ES6 modules it would be great to have pre-build version of `react-bulma-components` and NOT to transpile whole library on each test run.

The only solution for Jest now is to exclude `react-bulma-components` from node_modules
[code]

But this adds extra-time for each test-run.

[2021-03-22 07:31] couds commented on #306
Hi @STUkh you can import the transpiled version from `react-bulma-components/lib` (for the advance setup) and from the default `react-bulma-component`.

Both are already transpiled, the difference its that the base does not include the css (you need to import the bulma styles your self)

I recommend if possible to do the basic, since in V4 we will not include the bulma styles (to difficult to main

[2021-03-25 18:56] #306 closed

[2021-03-25 19:02] couds opened #307 "Typescript: Change named export to default export to match the exports from the component"
**Describe the bug**
If you try to use the autoimport feature importing directly from a component

**To Reproduce**
1. On your IDE start writing the name of a component that its not imported yet
2. from the autocomplete option select the one inside lib (not from the root library
3. Check that it import using named export instead the default  `import { Card  }from 'react-bulma-components/lib/Card'`

[2021-03-26 08:03] #307 closed

[2021-03-28 20:23] #290 closed

[2021-03-28 20:27] couds commented on #305
Just published 4.0.0-2 on next tag. let me know if the issue its solved.

Thanks!

[2021-03-28 21:19] couds opened #311 "Migrate tests to React Testing Library"
After some research I think it will be better to migrate the tests to react testing library and stop using snapshot for the tests, instead check that the bulma classes are present

I will work on this after finishing the docs (I'm finally workling on them).

[2021-03-29 16:12] MrCreeper1008 commented on #311
I'll help with the docs.

[2021-04-08 22:48] MrCreeper1008 commented on #311
@couds I created a branch `migrate-testing` for this issue. I'll start working on migrating some of the tests when i am free.

[2021-04-09 16:17] kumardennis opened #312 "SassError: media query expression must begin with '(' [HELP]"
SassError: media query expression must begin with '('
        on line 2 of node_modules/react-bulma-components/lib/components/button/button.sass

is the error I get when I compile a gatsby project.
How can I get by ? do I need to edit node_modules file ?

[2021-04-09 17:30] couds commented on #312
Question: do you enabled sass on gatsby? (And followed the docs on the readme)

Also maybe you want to checkout the v4. It's in RC.1 you can install it with `npm I react-bulma-components@next` take into account that in this version you need to import the bulma styles yourself

[2021-04-09 20:46] couds commented on #262
Hi @all I took a while but finally we have a release candidate for V4. You can try it installing the next tag `npm i react-bulma-components@next`

If not big issues are found I will release it next week

Thanks for the patience!

[2021-04-10 15:30] davepwsmith commented on #262
@couds I have been using the v4 branches for a while, and this seems to break quite a lot that was previously working in terms of types in particular, but also functionally - is there an easy way to see what has changed, or view the docs so that I can work out how to update these?

One thing in particular that I think _will_ need updating is the types on renderAs - I am using Gatsby, and it won't

[2021-04-10 15:32] kennethnym commented on #262
can you open a new issue for the problem you have with gatsby and renderAs? as for the changelog i think @couds is documenting all the changes in `CHANGELOG.md` on the `next` branch.

[2021-04-10 15:40] davepwsmith opened #313 "v4: NavbarProps size is mandatory and only has one value"
Is this supposed to be a mandatory prop? Seems especially odd since there's only one allowed value.

[code]

_Originally posted by @davepwsmith in https://github.com/couds/react-bulma-components/pull/265#r611058911_

[2021-04-10 15:48] davepwsmith opened #314 "v4: RenderAs type errors for GatsbyLink (e.g. - but I suspect any customized component type would fail)"
![image](https://user-images.githubusercontent.com/1024707/114275961-73f30400-9a1c-11eb-9dd1-3924dfc27b5e.png)

Having the type as <never> seems to have a dual effect of expecting multiple children, and also preventing other typed components being used for renderAs.

Changing
`export type RenderAsComponent = string | React.ComponentType<never>`
to
`export type RenderAsComponent = string | React.Co

[2021-04-10 16:01] davepwsmith commented on #314
I suspect that what is actually wanted here is [`React.ElementType`](https://flow.org/en/docs/react/types/#toc-react-elementtype)? This would allow to render as all components, and also as basic intrinsic HTML types such as <a> and <div>. Happy to PR this if that's the case.

[2021-04-10 16:20] #313 closed

[2021-04-10 16:20] couds commented on #313
Thanks for reporting this. nice catch!

[2021-04-10 16:21] couds commented on #314
@davepwsmith Yes please open the PR =)

Thanks

[2021-04-10 17:55] couds opened #315 "Allow renderAs to receive another React-Bulma-Components Component as a value"
Currently the renderAs prop do not allow to compose using Components from the library itself

**To Reproduce**

In a TS project add

[code]

 See errors

![image](https://user-images.githubusercontent.com/2903371/114279735-6e0a1c80-9a36-11eb-8c18-69c21cadacad.png)

![image](https://user-images.githubusercontent.com/2903371/114279762-88dc9100-9a36-11eb-9b53-31bcf9a3166b.png)

**Expected behavior**

[2021-04-10 17:57] kennethnym commented on #315
will fix asap.

[2021-04-10 18:12] couds commented on #315
@kennethnym Thanks!

[2021-04-10 19:27] #314 closed

[2021-04-15 01:42] chibie-code commented on #55
Thanks!

[2021-04-16 00:22] kennethnym commented on #315
seems like this is fixed. closing

[2021-04-16 00:22] #315 closed

[2021-04-19 09:16] davepwsmith commented on #262
Me again (perhaps it's only me that's using this unstable branch!) - I have found that the changes in RC.3 have made gatsby fail to build:

[code]

Everything works fine with RC.2, but 3, 4 and 5 throw this.

[2021-04-19 09:33] couds commented on #262
Gi @davepwsmith

I made a mistake building RC.3, check the latest one (Should be RC.5) it should work correctly

[2021-04-19 09:50] davepwsmith commented on #262
Afraid not @couds - neither .3, .4 or .5 work, all with the same error.

[2021-04-19 10:11] couds commented on #262
Weird. I will check this afternoon what its broken on the build and deploy a RC.6.

If possible can you share a simple repo to reproduce the issue?

Thanks

[2021-04-19 10:54] davepwsmith commented on #262
https://github.com/davepwsmith/rbc-error-repro

[2021-04-21 11:12] couds commented on #262
@davepwsmith Fixed on RC.7 Thanks for reporting.

[2021-04-21 22:04] davepwsmith commented on #262
Just to confirm that this is all good at my end with a more complicated example than the one I gave you! Thanks.

[2021-04-22 03:04] bino98 commented on #262
Hi.

Some typescript type definition maybe different.
The problematic part is `MenuListItemProps`  used in `<Menu.List.Item>`.
https://github.com/couds/react-bulma-components/blob/v4.0.0-RC.7/src/components/menu/index.d.ts#L10

An error occurs even if I use it according to the usage of bulma documents.

[code]

My team is using RC.7.

[2021-04-22 04:43] couds commented on #262
Hi @bino98 I will take s look. Thanks!

[2021-04-22 06:53] davepwsmith commented on #262
For what it's worth, unless you are specifically trying to restrict what people put inside these elements, I think you will pretty much always want ReactNode? It is the type that the react typings use for children (e.g. in PropsWithChildren<>).

It is a very broad type though, so if you did want to restrict further than that I would understand!

https://github.com/DefinitelyTyped/DefinitelyTyped/b

[2021-04-22 07:01] bino98 commented on #262
Thank you comments.

Sorry, I forgot to write past comment, even if use a ReactNode in `<Menu.List.Item>`, this problem occurs.

for examples..
[code]

[2021-04-22 07:58] davepwsmith commented on #262
Hi @bino98 - sorry my comment was directed at @couds. You are correct that the types aren't right.

@couds I can PR for this - but I also noticed that the title attribute is already typed as ReactNode... this means that you can put just about anything as the title here, extending to basically a whole other website! Should this not just be "string"?

I am struggling to even get the "next" branch se

[2021-04-22 09:00] couds commented on #262
Hi @davepwsmith

I will take a look about the issue with the env.

About the title, I prefer to keep it as a ReactNode, there are scenarios where we could want a more complex title (and anchor or anything else)

[2021-04-22 09:40] couds commented on #262
@davepwsmith I pushed the fix to the `Item` definition. Thanks.

I was not able to reproduce the issue installing the package.

btw I recommend to use `npm ci` instead of `npm i` when installing the dependencies (it will only use the lock file and its faster

[2021-04-22 18:12] couds commented on #305
Closing this. was fixed on 4.0.0-2

[2021-04-22 18:12] #305 closed

[2021-04-22 18:12] couds commented on #301
Closing this to have only one issue related to v4 release

[2021-04-22 18:12] #301 closed

[2021-04-22 18:13] #287 closed

[2021-04-22 18:14] couds commented on #242
Closing this, with V4 we will have a nicely documented library using storybook. Thanks to @kennethnym that did a great job 🎉

[2021-04-22 18:14] #242 closed

[2021-04-22 18:17] couds commented on #233
Closing this. its correctly working on latest @next (V4.0.0-RC.8)

[2021-04-22 18:17] #233 closed

[2021-04-22 18:18] #230 closed

[2021-04-22 18:20] couds commented on #205
This is fixed on latest v4. We simplify the imports to only use basic configuration. You can install the @next tag to start working correctly with typescript definitions.

Closing this, Feel free to re open if the issue persist on V4

Thanks

[2021-04-22 18:20] #205 closed

[2021-04-22 18:23] couds commented on #182
Thanks to @kennethnym now renderAs prop work correctly on TS 🎉  Closing this

![image](https://user-images.githubusercontent.com/2903371/115766662-810edc00-a3a8-11eb-85dd-4cbbcd622fee.png)

![image](https://user-images.githubusercontent.com/2903371/115766774-a1d73180-a3a8-11eb-843a-e56d03feb2c3.png)

[2021-04-22 18:23] #182 closed

[2021-04-22 18:24] couds commented on #145
Advanced confituration its beign removed on v4, v3 will not support TS definitions for advence configuration

[2021-04-22 18:24] #145 closed

[2021-04-22 18:25] couds commented on #312
@kumardennis can you share a repository to replicate this issue?

Also if possible I recommend to move to the v4.

[2021-04-24 17:33] #262 closed

[2021-04-28 01:52] bino98 commented on #262
congrats for v4 release! :tada:

[2021-04-28 13:17] ruggi99 opened #319 "Error when conditionally rendering Icon inside Control"
**Describe the bug**
Error when conditionally rendering `Icon` inside `Control`

**To Reproduce**
Steps to reproduce the behavior:

[code]

if valid prop evaluates to true, children will be [Icon, Input].
If evaluates to false, children will be [false, Input].
So in
https://github.com/couds/react-bulma-components/blob/9505961eb825ec671c5af3452e85386502de7d79/src/components/form/components/control.

[2021-04-28 14:39] couds commented on #319
Thanks for reporting. I will take a look this afternoon

[2021-04-28 15:55] couds commented on #319
@ruggi99 are you using Typescript?

I just remember that I use conditional render for the Icon on storybook without issues

https://github.com/couds/react-bulma-components/blob/9505961eb825ec671c5af3452e85386502de7d79/src/components/form/stories/form.story.js#L241-L247

Also can you add the error message that you are getting?

Thanks

[2021-04-28 16:25] ruggi99 commented on #319
I'm not using Typescript but only javascript.
I just used the file you linked and i get the same error. The error is "cannot read "type" property of type null" or something similar. I'm not home at the moment but I'll try to explain me better later...

[2021-04-28 16:53] couds commented on #319
I will add an extra check to ensure child exists, that should avoid the issue. (the weird thing is that the storybook do not fail)

[2021-04-28 17:14] couds commented on #319
@ruggi99 Fixed on 45f75b201e11de7157875f40c756ded5b5bbc75e and already released on v4.0.1.

Can you close this after checking that everything works for you?

Thanks

[2021-04-28 18:07] kennethnym commented on #262
Thank you 😄

[2021-04-28 20:20] ruggi99 commented on #319
Just tried and it works.
Thanks

Closing.

[2021-04-28 20:20] #319 closed

[2021-04-29 09:18] sszczep opened #321 "Button onClick callback does not take event as an argument"
**Describe the bug**
We should have an access to the event argument in the onClick callback.

**Code**
[code]

**Error message**
`Type '(event: React.MouseEvent<HTMLElement>) => Promise<void>' is not assignable to type '() => void'.`

**Temporary solve**
`onClick={onButtonClick as any}`

[2021-04-29 10:26] #321 closed

[2021-04-29 10:30] couds commented on #321
Hi @sszczep Thanks for reporting. just deployed v4.0.2 fixing this issue

[2021-04-29 10:31] couds commented on #312
Closing this due inactivity.

Please reopen this task if you still had the issue and add the step to replicate the error.

Thanks

[2021-04-29 10:31] #312 closed

[2021-05-04 12:27] FunctionDJ opened #324 "[HELP] Next.js throws error when importing Bulma component"
Steps to reproduce:
• `npm init next-app example`
• `npm i -D react-bulma-components`
• `npm run dev`
• import a Bulma component into index.js

Is this a Next.js issue, maybe because of Webpack 5? The error messages basically don't contain any meaningful information:
[code]

[2021-05-04 14:11] couds commented on #324
Seems that with webpack 5 the imports were mess up. I will take a look later.

[2021-05-04 14:36] blacksoulgem95 opened #325 "[NEXTJS] Refusing to import components due to improper CSS imports"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Nextjs package
2. install react bulma components
3. Add a component to any js that is not _app.js
4. See error

**Expected behavior**
The CSS should be imported as CSS Modules and not as plain CSS in components

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions**
- `rea

[2021-05-04 14:48] FunctionDJ commented on #324
Thank you! I guess this is a [Bug] then and not a [Help] question

[2021-05-05 08:10] couds commented on #324
@FunctionDJ I just release v4.0.3. can you try it and let me know if the issue persist?

[2021-05-05 08:16] couds commented on #325
Hi @blacksoulgem95

if possible I would recommend to use v4 instead of v3. if that's not possible try to use the basic setup instead of the advanced https://github.com/couds/react-bulma-components/tree/v3.4.0#basic

V3 was not made to use css modules. IMO Bulma css it mean to be global (not to be use as CSS modules) it have a lot of cross modifiers

Please check basic configuration, you can instea

[2021-05-05 08:16] #325 closed

[2021-05-06 01:04] Mause commented on #324
v4.0.3 has fixed the same issue for me 👍

[2021-05-06 08:57] couds commented on #324
I'm closing this. Reopen if this happen again! Thanks =)

[2021-05-06 08:57] #324 closed

[2021-05-06 09:09] FunctionDJ commented on #324
Yep, it's working 👍

[2021-05-11 19:57] zargold opened #326 "Storybook fails to load select Component"
**Describe the bug**
The Storybook for select component does not load/gives an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://react-bulma.dev/en/storybook.
2. Click on Select (within Form section)
3. Click on Canvas (since Docs tab doesn't work)
4. See error

**Expected behavior**
The Bulma-React select Component

**Screenshots**
This is live on your demo site:
TypeErro

[2021-05-12 06:50] luhis opened #327 "NavBar Burger not opening Nav"
**Describe the bug**
I cannot see how to make the Burger Nav work on small screens

**To Reproduce**
https://couds.github.io/react-bulma-components/?path=/story/components-navbar--default
Go to the NavBar component
Make screen width small, NavBar will show Burger, but clicking does nothing.

**Expected behavior**
It should show the menu items

**Additional context**
This may just be an issue in th

[2021-05-12 07:40] luhis commented on #326
i can't storybook to run on my machine, but it appears to be fixed in this commit:
https://github.com/couds/react-bulma-components/commit/45f75b201e11de7157875f40c756ded5b5bbc75e#diff-22e9a8b4d3f57dd28d5a14edfcf54385b2a4d7900bfc7e2c153ced5bab4357e3

This icon is null, and the version of code deployed is missing that null check.

I think the storybook just needs to be redeployed.

[2021-05-12 08:15] couds commented on #326
Hi @zargold as @luhis said the fix was already there but I forgot to redeploy storybook. I just did it and its working now

[2021-05-12 08:15] #326 closed

[2021-05-12 08:20] couds commented on #327
Hi @luhis The menu is a controlled component, does not automatically open on click on the burger. to open the menu you need to pass the `active` prop to the navbar.

The sate will be managed by your code. so probably you need to also add a onClick to the burger to handle that state

[2021-05-12 10:37] couds commented on #327
Closing this.

[2021-05-12 10:37] #327 closed

[2021-05-14 18:30] ruggi99 opened #329 "<Select> element cannot be forced uncontrolled"
Hi all,
I'm creating a demo page where I show the various form elements in a modal card.
All these elements are uncontrolled inputs and it's wanted.
All except `<Select>` where options cannot be changed without making a controlled input.
EDIT: doesn't work in multiple mode or not

Looking at the code you are forcing the defaultValue if value isn't specified and the defaultValue cannot be specified

[2021-05-17 20:30] NtsCiccio opened #330 "[question] Can I help improve the documentation and storybook?"
Hi, I was wondering how can I help improve the documentation and storybook?

[2021-05-19 18:14] kennethnym commented on #329
Can you explain a bit for your use case of needing an uncontrolled input?

[2021-05-19 18:16] kennethnym commented on #330
Hi @NtsCiccio we have created a brand new documentation site for v4 on [https://react-bulma.dev/en/storybook](https://react-bulma.dev/en/storybook). Is this what you're looking for?

[2021-05-20 10:30] ruggi99 commented on #329
No particular use case from my side but it's the only controlled input in your library.
In my demo page, as said above, I have to do state management for a value that I don't care

[2021-05-20 12:42] kennethnym commented on #329
You should be able to use an empty string as the default value.

[2021-05-20 12:47] ruggi99 commented on #329
`<Form.Select defaultValue=""><options...></Form.Select>` doesn't work

[2021-05-20 12:48] kennethnym commented on #329
Will look into it.

[2021-05-21 03:44] chonla opened #332 "Disabling dropdown does not work as it should."
**Describe the bug**
Disabling dropdown does not work as it should.

**To Reproduce**
Steps to reproduce the behavior:
1. Create `<Dropdown disabled={true}>` with some items.
2. Open the rendered component.

**Expected behavior**
Rendered Dropdown should be disabled, but it is not.

**Versions**
- `react-bulma-components:`: ^3.4.0
- `bulma`: ^0.9.2
- `react`: ^17.0.2
- Browser: Google Chrome 90.0.

[2021-05-23 21:26] kjschu commented on #330
Are we able to access the code to Storybook site? Then we can help fix typos, add/update example code, etc.

[2021-05-23 21:27] kennethnym commented on #330
It's in the same repo :)

[2021-05-24 08:29] NtsCiccio commented on #330
that's what i mean.

cool so i can make PR if want contribute to the documentation

[2021-05-24 11:32] kennethnym commented on #330
Feel free :) really appreciate it

[2021-05-25 13:53] Tstassin opened #333 "[HELP] How to use icon-text property ?"
Hello,

Using react-bulma-components v4.0.3 (and first of all thank you for the amazing work)

How am i supposed to use the [icon-text](https://bulma.io/documentation/elements/icon/#icon-text) property from Bulma 0.9.2 ?
Looking into the repo I found references to a `text` boolean prop for the icon component, but I can't seem to make it work, and I find it a strange way of doing it

[code]

Using

[2021-05-25 14:24] kennethnym commented on #333
I will transfer this issue to discussion. If it turns out it's a bug, I will open another issue.

[2021-05-25 14:24] #333 closed

[2021-05-25 14:24] kennethnym commented on #332
Can you upgrade to v4 and see if the issue persists? Thanks.

[2021-05-25 15:12] kennethnym opened #335 "`<Icon text>` enables both `icon` and `icon-text` classes causing layout issue."
**Describe the bug**
Refer to [this discussion](https://github.com/couds/react-bulma-components/discussions/334)

**To Reproduce**
Refer to [this discussion](https://github.com/couds/react-bulma-components/discussions/334). @Tstassin was able to reproduce this issue in the code sandbox they provided.

**Expected behavior**
`<Icon text` should only enable `icon-text` class.

**Screenshots**
N/A

**

[2021-05-25 15:40] #330 closed

[2021-05-26 05:19] #335 closed

[2021-05-26 14:25] chonla commented on #332
Yes, the problem persists.

AFAIK, the disabled prop is not propagated to <Button> inside.

[code]

[2021-05-27 20:31] kennethnym commented on #332
I'll look into it.

[2021-05-28 07:28] couds commented on #332
Hi @chonla. I was checking the bulma [documentation](https://bulma.io/documentation/components/dropdown/) Iand didn't found a `disabled` state for the dropdown. We can think on maybe add it but for know I prefer not to do it to not divert too much from Bulma.

If you want to add a feature request we can discuss it and see what the community think about. meanwhile I'm closing this due its not a bug

[2021-05-28 07:28] #332 closed

[2021-05-28 07:33] #329 closed

[2021-05-28 09:39] chonla commented on #332
@couds I understand what you mean. In my opinion, you can disable the dropdown in bulma by disabling the dropdown-trigger which is a button.

The `<Dropdown>` component itself contain `<Button>` inside and does not allow me to disable.

Any suggestion?

[2021-05-28 12:30] couds commented on #332
I think that make sense. then let's add a disabled prop to the dropdown that will disable the button.

[2021-05-28 12:46] couds commented on #332
@chonla released on https://github.com/couds/react-bulma-components/releases/tag/v4.0.6

[2021-05-28 13:01] chonla commented on #332
Thank you.

[2021-06-04 21:12] martinlehoux opened #343 "Input ref failure"
**Describe the bug**

This is a warning from React. I can't exactly say what it may cause.

I am using `react-hook-form@7.7.1`, and I have this warning when I register my Input.

My Select does not work: when I select an option, it instantly switches back to the default one. It may or not be related to this issue.

**To Reproduce**

1. Create a controlled input and select
[code]
2. Open dev tools

[2021-06-05 01:53] couds commented on #343
Hi Martin. To add a ref you need to pass a custom prop named domRef (instead of ref)

You can check it here
https://github.com/couds/react-bulma-components#adding-ref-to-a-component

[2021-06-07 15:23] Brawl345 opened #344 "[HELP] Usage with next.js link in navbar?"
I read https://github.com/couds/react-bulma-components/issues/300 and https://github.com/vercel/next.js/issues/7915 I still don't know if it's possible without errors to use Next.js `link` (https://nextjs.org/docs/api-reference/next/link) with Bulma. When I use it like this:

[code]

I get: `Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to u

[2021-06-07 15:32] couds commented on #344
Hi @Brawl345 Maybe you can try something like this

[code]

I didn't test it but I think this should work.

Also do you know why the `renderAs` cause the anchor to lose the styling? in theory should work

[2021-06-07 15:38] couds commented on #343
Hi @martinlehoux

You could also use it like this

[code]

[2021-06-07 15:42] Brawl345 commented on #344
Thank you very much :D!! That did the trick! You just forgot the `=>` before the opening `{` for the CustomItem, so:

[code]

----

Good question... I tried this:

[code]

and ended up with:

[code]

(note the missing `navbar-item` class).

[2021-06-07 15:50] #344 closed

[2021-06-07 17:31] couds commented on #344
After reading the next documentation seems that next Link do not pass the `className` internally.

[2021-06-09 03:14] rotexhawk opened #345 "Tree Shaking Not working in Gatsby"
My site slowed down after updating to the latest react-bulma and on bundle analysis I noticed that the tree shaking feature is not working. I am using this plugin in gatsby.

<img width="973" alt="Screen Shot 2021-06-08 at 11 11 50 PM" src="https://user-images.githubusercontent.com/12015105/121287268-37724600-c8af-11eb-9170-94474119513d.png">

[2021-06-09 03:53] couds commented on #345
Hi @rotexhawk can you share your configuration?and if possible a small repo with a reproducible example

Without more information it's quite difficult to understand what is happening

[2021-06-09 12:01] Tstassin opened #346 "Form checkboxes 'checked' prop not working"
It seems like Checkbox component doesn't handle correctly the 'checked' prop.

Please see :
https://codesandbox.io/s/stupefied-kepler-b3iee?file=/src/App.js

[2021-06-10 10:37] kennethnym commented on #346
For some reason it's working for me locally in storybook. I'll look into this.

[2021-06-11 05:53] martinlehoux commented on #343
Thanks for the tip @couds !

[2021-06-11 05:53] #343 closed

[2021-06-11 15:26] couds commented on #346
Hi @Tstassin @kennethnym The issue was a faulty build. I republished `v4.0.7`, now should work properly

See
https://codesandbox.io/s/keen-ride-ytdnw?file=/src/App.js

[2021-06-11 15:26] #346 closed

[2021-06-11 19:45] rotexhawk commented on #345
Hello @couds, thanks for the quick reply. I setup a bare bone repo here. https://github.com/rotexhawk/jameygittings. All you have to do is `npm install` and `npm run build`.

Thanks

[2021-06-11 20:18] couds commented on #345
Hi @rotexhawk after checking [this issue](https://github.com/gatsbyjs/gatsby/issues/7581#issuecomment-415509521) in Gatsby, seems that the tree shaking only works on ES6 Modules, and the default export for this library its commonjs.

We also have es6 export, you need to change the import like this

[code]

With this the tree shaking works

![image](https://user-images.githubusercontent.com/2903371

[2021-06-11 20:56] rotexhawk commented on #345
Great. Thanks for the update. This works :)

[2021-06-11 21:02] #345 closed

[2021-06-28 16:49] erikKeresztes opened #347 "Navbar dropdown doesn't work"
With the example in the docs (https://couds.github.io/react-bulma-components/?path=/docs/components-navbar--default) the navbar dropdown item doesn't work. Also in mobile view the hamburger menu doesn't open when clicked.

[2021-06-28 16:53] erikKeresztes commented on #347
I found the solution to the burger menu here https://github.com/couds/react-bulma-components/issues/327 but there's still the dropdown issue.

[2021-06-28 18:27] couds commented on #347
Hi @erikKeresztes can you post the exact code you are using? Thanks.

Also what do you mean it does not work. Please describe the current behavior vs the expected behavior

[2021-06-28 18:38] erikKeresztes commented on #347
@couds I mean that when clicking the dropdown, instead of the menu showing, nothing happens. This is the JSX, taken from the docs (I just changed the last align from "end" to "right" because "end" isn't valid):
[code]

[2021-06-28 19:20] couds commented on #347
Hi. Did you check the prop `active` on the Item component?

[2021-06-29 06:52] couds commented on #347
By design all (or almost all) components of this library are mean to be controlled components, if you want to the Dropdown to be shown automatically you need to either add the `hoverable` prop or manage the `active` state

[code]

Note that the `Navbar.Item` has the `active` prop on it

Thanks!

[2021-06-29 06:52] #347 closed

[2021-06-30 11:31] nielvid commented on #230
type?: 'submit' | 'reset' | 'button';  this solves the problem for me.

[2021-07-01 04:47] erikKeresztes commented on #347
Yes, that was it. Thank you

[2021-07-02 13:22] Cleanshooter opened #350 "Storybook not rendering ArgsTable for Modal"
**Describe the bug**
Storybook not rendering ArgsTable for Modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://couds.github.io/react-bulma-components/iframe.html?id=components-modal--default&viewMode=docs#props
2. See error "No inputs found for this component."

**Expected behavior**
The props for the modal component should be displayed.
([https://github.com/couds/react-bulma

[2021-07-02 13:42] Cleanshooter commented on #350
Possibly related... the ArgsTable for the Column component is missing the `gap` prop. It's weird because it lists all the other props.

[2021-07-03 08:46] phaitonican opened #355 "[HELP] Input DomRef Register Property 'current' is missing"
Hello, I am using React Bulma Components and React Form Hooks packages. At the input:
[code]

Gives me this error:

Its inside a functional component.
I think I am doing something completely wrong and misunderstanding something,

I found same issue here but I couldn't understand how to fix this.

I tried this fix: #343 (comments)

But then I get this error because I use functional component?

[328

[2021-07-04 07:45] phaitonican commented on #355
right now I use manually <input {register("email") className="input" /> it does the job but its not the right way...

[2021-07-04 08:33] couds commented on #355
Hi @phaitonican I was thinking about this issue. and what I can up was with this:

Create a Wrapper that transform the `ref` prop to the `domRef` this library use. I will probably add this wrapper on the next version, but meanwhile you can use it like this

[code]

The `withRef` function will be included on the next release of the library

[2021-07-04 14:21] phaitonican commented on #355
Thanks a lot. Unfortunately I get this error:
[code]
When i try to use a prop. Sorry i am new to react and have trouble understanding this ref stuff ...

[2021-07-04 14:40] couds commented on #355
That seem to be an issue more with typescript than react And I'm not good
in TS.

El dom., 4 de julio de 2021 16:21, phaitonican ***@***.***>
escribió:

[2021-07-07 05:31] premil commented on #55
<div className="create-btn">
                    <Link to="/newUser">
                        <Button
                            className='btn'
                            buttonStyle='btn-black-curve'
                            buttonSize='btn-medium'

                            Create
                        </Button>
                    </Link>
                </div>

I'm using this but did

[2021-07-17 08:44] couds commented on #355
Hi @phaitonican I think I made and error on the example (I never user useForm before) but I think it should be like this

[code]

[2021-07-17 15:16] phaitonican commented on #355
get same error i think its because typescript

[2021-07-18 23:50] jfoxworth opened #358 "Navbar demo fails to compile in React with Typescript"
**Describe the bug**
When the code for the demonstration navbar is placed into a react component, it gives two errors and fails to compile. The first is that the dropdown prop in the Navbar.Item does not exist. The second is for the position prop on the Navbar.Container.

![Screen Shot 2021-07-18 at 6 44 42 PM](https://user-images.githubusercontent.com/5252624/126085846-65a4eb2c-56fe-4a14-8f2f-5ef

[2021-07-28 12:36] harishbsrinivas opened #361 "[HELP]: Multilevel menus in Navbar"
I tried using the Navbar example to create menu with three levels

[code]

This does not seem to work. I feel that I missing some crucial prop that would make the second level menu only show after hover. The current behaviour is that the first and second level menus are both shown.

Any help here is greatly appreciated.

[2021-08-06 14:57] petertodorov opened #362 "[HELP] Extending existing interface props?"
Hi there, I am wondering if there is a way to create a new custom component (e.g. `MyCustomTabs`) based on `react-bulma-components` `Tabs` component by also adding a new type to the already existing ones ` type?: 'toggle' | 'boxed' | 'toggle-rounded' | 'MYCUSTOMTYPE'`?

I see that the interface coming with Tabs from 'react-bulma-components'
[code]
is not exported so I cannot import it and extend i

[2021-08-06 16:34] kennethnym commented on #362
I can see why this is useful. There isn't any particular reason for hiding the interfaces. When I wrote the types I didn't think of this use case where users may want to wrap our components with their custom components, but it is so common I should've thought of it.

[2021-08-06 19:36] petertodorov commented on #362
Hey @kennethnym thanks for writing. Indeed, it would've been quite handy to have them exported. Anyways, if you have any suggestion how I may solve the issue, would be greatly appreciated if you share it here.

[2021-08-06 21:08] kennethnym commented on #362
Unfortunately, there isn't an elegant way to extend the props other than manucally copying all the props to your custom interface. I can make a PR that makes all the props public, so that you can import and extend them.

[2021-08-06 21:42] RJSonnenberg opened #363 "Runtime Error: Card importing Image instead of ImageProps interface"
**Describe the bug**
When importing react-bulma-components in a React + TypeScript project with `skipLibCheck` set to false in the `tsconfig.json` project file, the project fails to compile. Below is the output after running `npm start` in the console:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a React + TypeScript project: `npx create-react-app rbc-bug-report --template

[2021-08-06 22:14] RJSonnenberg commented on #363
This PR appears to be a different resolution from the proposed solution: https://github.com/couds/react-bulma-components/pull/360

The proposed solution is in this PR: https://github.com/couds/react-bulma-components/pull/364

[2021-08-10 07:26] petertodorov commented on #362
Hey @kennethnym, thanks for the propsoal for the PR that makes the props public, i guess this will be of use

[2021-08-13 09:39] petertodorov opened #365 "[HELP]"
Hello again and another question.
[code]
The code above will generate the following:
[code]
I was wondering if there is a way to style the span element (determined by the `renderAs` prop) based on my needs by adding a prop to the `<Tabs.Tab>` component?

As you can see the `className='has-background-primary'`  styles the `<li>` element while I would need a way to achieve this:
[code]
All the best,

[2021-08-13 11:48] kennethnym commented on #365
Pass in a custom component to `renderAs` that renders a `<span>` with custom styles applied:

[code]

then pass it to `renderAs`:

[code]

[2021-08-16 13:01] petertodorov commented on #365
Hey @kennethnym, thanks for the advice and the example. I did something like this, cause I needed to pass the tabClassName and tabContent as props. Would be glad to hear what you think of it.
[code]

[2021-08-16 13:07] petertodorov opened #366 "[HELP] Styling/accessing children of components through prop passes to the parent component"
In the case of the `<Tabs>` component we have a `<ul>` element, that is generated under the hood:
[code]
is there any way to style the `<ul>` child by using a prop passed to the  `<Tabs>` component ?

This can be also applicable in other cases:
  - e.g.  in the `Dropdown` component - is there any way to style the dropdown's child, bearing the class `dropdown-trigger` or the child, bearing the clas

[2021-09-23 11:38] Pitbi opened #370 "[HELP] Show pagination when `total` is 1"
Hello,

It's is possible to show pagination when `total` props is equal to 1?
It's a strange behaviour to hide bar on this case.

Thx.

[2021-09-23 11:44] couds commented on #370
Hi @Pitbi

Did you try the prop `autoHide={false}`?

[2021-09-23 11:50] Pitbi commented on #370
Ho sorry, I misread the doc.

Thank you so much.

[2021-09-23 11:50] #370 closed

[2021-09-28 00:21] kennedybaird opened #371 "Navbar not rendering properly"
**Describe the bug**
As pictured, the links that should be to the right of the Navbar Brand are off in wrong place
![Screenshot from 2021-09-28 13-20-11](https://user-images.githubusercontent.com/20593811/135002434-349a3f03-cd05-4dc7-a124-c2a0ef609cde.png)

`        <Router>

          <Navbar>
            <Navbar.Brand>
              <Navbar.Item href="#">
                <img
                  a

[2021-11-16 23:52] kennethnym commented on #362
@petertodorov @RJSonnenberg sorry for months of radio silence. I've created two new branches, `develop` and `ts-def`, please follow them for updates on this issue.

[2021-11-16 23:54] kennethnym commented on #371
@kennedybaird apologies for the silence, are you still having this issue? If so, can you put this code in a code sandbox so that I can play around with it?

[2021-11-16 23:55] kennethnym commented on #363
Grouped to #362, closing

[2021-11-16 23:55] #363 closed

[2021-11-19 08:26] smeknamn opened #372 "Navbar-dropdown cant be a span element must be a div or other block element"
**Describe the bug**
Using a divider converted as a hr element, is not allowed in proper html to be inside a list item span element. When validate my code in W3C's validator it says: Element hr not allowed as child of element span in this context.

The officiell Bulma uses div elements here, why have you change that to span?

[2021-11-19 09:45] smeknamn opened #373 "Same id is used in every dropdown-menu element"
**Describe the bug**
When using the dropdown menu it adds a generic id. If an id is needed this must be unique!
`<Dropdown
          className="status-dropdown active"
          closeOnSelect={true}
          label="Active"

          <Dropdown.Item renderAs="a" value="item">`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2021-11-23 15:47] idkq commented on #74
Spent few hours on this... to realize that order matters. If it helps anyone:

Gatsby version: 4.1.2

src/styles/layout.scss:

[code]

src/components/Layout/index.tsx:

[code]

src/styles/_variables.sass

[code]

[2022-01-06 17:22] Asim-A commented on #355
I can confirm that this works, thank you @sebzieja 🤝

[2022-01-12 12:50] smeknamn commented on #372
renderAs="div" is a possible workaround.
`<Navbar.Item renderAs="div">`
          `<Navbar.Dropdown renderAs="div">`
`                    <Link to="">Link</Link>`
`          </Navbar.Dropdown>`
`</Navbar.Item>`

[2022-01-12 12:56] smeknamn commented on #373
The only workaround I have found so far is to skip the component and use the original Bulma markup instead. And match the aria-controls with the menus id.

[2022-01-14 11:14] kennethnym commented on #372
Hi @smeknamn, I'll look into this next week. Thanks for reporting the issue!

[2022-01-27 22:24] kbradley commented on #230
How would you define `type="button"` as the default value if a type value isn't passed?

For example if the component was used just as `<Button>Click me</Button>` I would want the HTML under the hood to render as: `<button type="button">Click me</button>`

[2022-01-28 08:30] couds commented on #230
Hi @kbradley if you want to do that, you will need to wrap the Button component, something like this

[code]

[2022-01-28 17:24] kbradley commented on #230
Hi @couds, thanks. I'm already doing that.

[code]

[2022-02-09 09:47] #373 closed

[2022-03-22 08:55] couds commented on #361
Hi Sorry for the lonk time to answer. I thinks this is not possible with Bulma. if you saw this on the bulma docs can you point out where so we can implement it? Thanks

[2022-03-22 08:55] #361 closed

[2022-03-26 21:00] DaThresh opened #380 "Clickable missing from Types file"
**Describe the bug**
The `clickable` helper type is missing from the Typescript type definitions, causing IDEs and the Typescript Compiler to throw an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `clickable` to any element

**Screenshots**
<img width="634" alt="image" src="https://user-images.githubusercontent.com/4720003/160256848-602a8052-2ff9-4ece-8f00-1f016e96b7bf.png">

**

[2022-03-29 11:36] kennethnym commented on #380
Thanks for reporting, I'll fix this asap.

[2022-04-02 18:48] FunctionDJ opened #382 "Missing default active state management of Navbar.Dropdown"
**Describe the bug**
There's no default implementation for the Navbar.Link + Dropdown combination.
By default it can't be toggled, but there's a working `hoverable` prop. Without that prop, the `active` prop of `Navbar.Link` must be controlled, but a primitive `onClick={toggleNavbar}` implementation is not optimal because the dropdown won't collapse when clicking outside the dropdown or navigating

[2022-04-02 19:16] FunctionDJ opened #383 "Navbar.Link > Navbar.Dropdown can't be focused using the keyboard (accessibility issue)"
**Describe the bug**
Title pretty much says it all. The `Navbar.Dropdown` component doesn't contain a `<a>` so it's not focuseable.

See official component viewer: https://couds.github.io/react-bulma-components/?path=/story/components-navbar--default

I've explored a few approaches between making the <span> element focuseable using tabindex but then it still can't be triggered using the keyboard.

[2022-04-14 10:04] FunctionDJ opened #385 "[a11y] Modal close button is not accessible"
**Describe the bug**
The `<Modal.Card.Header>` by default shows a ".delete" button for closing the modal.
This button is missing a discernable text: https://dequeuniversity.com/rules/axe/4.4/button-name?application=axeAPI
Users relying on screenreaders will receive no information about the purpose or effect of this button.

[2022-05-08 19:01] kennethnym opened #388 "Support for 0.9.4"
[Bulma 0.9.4](https://github.com/jgthms/bulma/releases/tag/0.9.4) has been released recently. I will investigate whether code needs to be updated to support the new version.

[2022-06-09 09:07] sunchaser-lilu opened #390 "In ts, the align of NavbarContainerProps is limited to left or right."
**Describe the bug**
In ts, the align of NavbarContainerProps is limited to left or right. So we can't use 'start' or 'end'. The example in the storybook is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applic

[2022-06-15 08:40] dipeshparashar opened #391 "Amazing. Any plans for React Native ?"
You are doing a great job maintaining this lib. I have been following it for years now. Any plans to support React Native soon, much like these are doing [TailwindRN](https://github.com/vadimdemedes/tailwind-rn) . Bulma can be ultimate help on React Native.

[2022-06-21 18:03] kennethnym commented on #391
I don't think Bulma supports React Native since it is a CSS framework, but I think it's certainly possible to mimic Bulma's design style and port it to React Native. Good suggestion!

[2022-06-21 18:04] #391 closed, assigned to nobody

[2022-07-08 09:39] jay-cascade commented on #230
Why does this not work for me?

type props = {
 actionType?: Pick<ButtonHTMLAttributes<HTMLButtonElement>, "type">
}

If I then assign default in props destructuring like this: ({ actionType = "submit"}) IDE complains!

With:

Type '"submit"' has no properties in common with type 'Pick<ButtonHTMLAttributes<HTMLButtonElement>, "type">'

[2022-07-18 16:44] dmitrym0 opened #396 "[HELP] Unable to use ButtonGroup"
Howdy folks,

I have the following piece of code, very similar to the [reference](https://couds.github.io/react-bulma-components/?path=/story/elements-button--default):

[code]

This results in the following error during building:

[code]

If I remove `ButtonGroup` everything is copacetic, so the `button` (and other) components work fine; it's just the `ButtonGroup`.

 I would appreciate a tip on

[2022-07-18 16:55] dmitrym0 commented on #396
It appears to be the same as #20.

`ButtonGroup` should be `Button.Group`.

[2022-07-18 16:55] #396 closed

[2022-07-23 16:38] thebpmgroup opened #398 "Tab switching"
Is it possible to get an example where you can switch the active tab to the tab that was last clicked?

I am trying using refs so I can set the active property but this isn't working.

[code]

[2022-07-23 17:16] thebpmgroup commented on #398
I came up with this which works but is quite long winded

[code]

[2022-08-11 16:55] jordanranson opened #399 "Input component is missing rounded prop in TypeScript type definition"
**Describe the bug**
The Input component is missing rounded prop in TypeScript type definition.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Input component to your page
2. Add the rounded prop
3. There will be a TypeScript error saying the property doesn't exist

**Expected behavior**
The Input component should have the rounded prop in the TypeScript definition, there should be no

[2022-08-13 00:05] Dashron opened #400 "ImageProps error when compiling typescript project."
I've got a setup where I'm trying to use this project for server side rendering, just using the react-jsx output of the typescript compiler. When I run tsc I get this error.

[code]

I poked around and it looks like [this line](https://github.com/couds/react-bulma-components/blob/82d13fc9d8c9ffee46c21318450127b92cbf128e/src/components/card/index.d.ts#L2) is incorrect, because the [referenced file]

[2022-08-13 00:11] Dashron commented on #400
Ignore me, I just saw the discussion in the other issues! I should have taken a little longer to look for them.

[2022-08-13 00:11] #400 closed

[2022-08-13 08:24] kennethnym commented on #400
No worries, glad you found a solution.

[2022-08-16 12:46] dipeshparashar opened #401 "Content is not working with dynamic content"
I am using v4.0.2 . Trying to use Content component with dynamic content. It does not render html elements. Let me know if i am doing anything wrong here. How can i resolve this ?

[code]

Rendered UI

![Bulma-Content-Dynamic](https://user-images.githubusercontent.com/8472277/184882497-c3b3c4ef-939b-4929-83a3-1196573f695f.png)

[2022-08-30 02:17] christopherpickering opened #402 "Navbar.Item is missing arrowless prop in typescript"
**Describe the bug**
Navbar.Item is missing arrowless prop in typescript definition.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Versions**
- `react-bulma-components:`: 4.1.0
- `bulma`:0.9.4
- `react`:18.2.0
- Browser: (e.g. Firefox version 67) Safari

**Additional context**
Add any other context about the problem here.

[2022-09-06 13:26] wiryonolau opened #403 "[HELP] compile for browser only"
Hi possible to compile for browser only ( es5 or umd ) , for non **nodejs** project

[2022-11-10 09:24] couds commented on #403
Can you explain a little what you mean? Like being able to add the scripts directly on your html?

[2022-11-10 09:26] couds commented on #401
Hi @diploidal this is how react works, if you want to render html that is coming from a variable you need to use `dangerouslysetinnerhtml` https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml

[2022-11-10 09:26] #401 closed

[2022-11-10 09:32] couds commented on #398
Hi, you need to handle the state on your end, something similar of what you did. but you can simplify it a little like this

[code]

[2022-11-10 09:32] #398 closed

[2022-11-10 09:33] #355 closed

[2022-11-10 12:43] wiryonolau commented on #403
yeah to be able to be call using <script src="" /> without webpack like react.js umd

[2022-11-11 20:25] ksdme commented on #343
A simpler solution that I ended up using is a utility function.
[code]
And register using `{...bulmaize(form.register("email", { required: false }))}`.

[2022-11-16 08:54] diploidal commented on #401
Hey,
I don't want to bother You @couds but You've tagged wrong person. 😃

It is not a huge problem but by fixing tagged user You'll be sure that the author of this issue is notified. 😃

[2022-11-16 08:57] couds commented on #403
Can you provide a code example on how are you using react component with that setup? Thanks